.search-box {
  height: 100%;
  padding-left: 45px;
  display: flex;
  position: relative;
  &:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: absolute;
    font: normal normal normal 18px/1 'Material-Design-Iconic-Font';
    color: @standard-white;
    top: 9px;
    left: 2px;
    font-size: 24px;
  }
  > i {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font: normal normal normal 18px/1 'Material-Design-Iconic-Font';
    content: '\f1c3';
    color: @standard-white;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 24px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    &.search-box__close {
      display: none;
    }
  }

  @media @xs {
    .mdl-textfield__label, .mdl-textfield__input {
      font-weight: 500;
    }
  }

  .search-box__search-field {
    border: 0;
    padding: 0;
    font-size: 13px;
    color: @standard-white;
    height: 39px;
    border-bottom: 1px solid @standard-white;
    font-weight: 400;
    background: transparent;
    transition: 300ms;
    &::placeholder {
      color: lighten(@primary-bg, 4%);
      font-weight: 400;
    }
    &:focus,
    &:active {
      outline: 0
    }
    @media @xs {
      width: auto;
    }
  }

  //vendor
  //mdl magic line
  .search-box__mdl-textfield {
    padding: 0;
    width: 100%;
    max-width: 100%;
    //label - placeholder
    .mdl-textfield__label {
      color: @standard-white;
      font-size: 15px;
      font-weight: 400;
      top: 8px;
      //bottom:1px;
      &:after {
        bottom: 0;
      }

    }
  }

  //skins
  //dark
  &.search-box--dark {
    //label - placeholder
    .mdl-textfield__label {
      color: @primary-grey;
    }
    &:before, > i {
      color: @primary-c;
    }
    .search-box__search-field {
      color: @primary-grey;
      border-bottom: 1px solid @input-border-bottom;
      &::-webkit-input-placeholder {
        color: @primary-grey;
      }
    }
  }
  //darkb
  &.search-box--darkbg {
    //label - placeholder
    .mdl-textfield__label {
      color: @primary-c-overlay;
    }
    &:before, > i {
      color: @standard-white;
    }

    .search-box__search-field {
      color: @primary-c-overlay;
      border-bottom: 1px solid @secondary-bg;
    }
  }
  //darkb
  &.search-box--big {
    .search-box__mdl-textfield {
      .mdl-textfield__label {
        font-size: 15px;
      }
    }
    .search-box__search-field {
      font-size: 15px;
    }
  }
}

//modifiers
//primary on main-head
.main-head {
  #main-search {
    padding: 0;
  }
  @media @xs {
    .item-grp {
      margin-left: 12px;
    }

    .search-box {
      margin-left: inherit !important;
      padding-left: 0;
      margin-right: auto !important;
      form {
        display: none;
      }
      > i {
        left: auto;
        right: -12px;
      }
    }

    //phone state - Main Headdd
    .search-box.search-box--toggled {
      height: 40px;
      margin-left: auto;
      cursor: pointer;
      width: 100%;
      form {
        display: block;
      }

      //icon
      > i {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: inline-block;
          top: 19%;
          left: 0;
          position: relative
        }

      }
      .search-box__close {
        margin-right: 0 !important;
      }

      form {
        width: 100%;
        .search-box__mdl-textfield {
          width: 100%;
        }
        label {
          top: 8px;
          font-size: 18px;
          font-weight: 500;
          color: @standard-white;
          &:after {
            //display: none;
          }
        }

        input {
          width: 100%;
          margin-right: @unit2;
          border-bottom: 0;
          font-size: 18px;
        }
      }
    }
  }

  .search-box {
    input {
      //width: 400px;
    }
  }
  .mdl-textfield__label:after {
    //display: none;
  }
  .mdl-textfield--AR label.mdl-textfield__label, .mdl-textfield--AR.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--AR.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: @standard-white;
    margin-top: 2px;
  }
}

.search-box {
  &.search-box--closable {
    .search-box__close {
      display: none;
      position: absolute;
      top: 6px;
      left: auto;
      right: 0;
    }
  }
}

.mdl-textfield__label:after {
  height: 1px;
}

.main-head .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .main-head .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  visibility: hidden;
  opacity: 0;
  transition: 0ms;
}

.main-head .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .main-head .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  top: 24px;
  font-size: 13px;
  &:after {
    //background-color: white;
    background-color: transparent;
    height: 1px;
  }
}

@media @xs {
  .main-head .search-box.search-box--toggled form label {
    margin-top: 0;
    font-size: 16px;
  }

  .main-head .search-box.search-box--toggled > i:last-of-type {
    top: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    left:auto;
    margin-right: 0 !important;
    min-width: 40px;
  }

  .main-head .search-box.search-box--toggled .mdl-textfield {
    padding: 8px 0;
  }

  .main-head .mdl-textfield--AR.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .main-head .mdl-textfield--AR.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .main-head .mdl-textfield--AR label.mdl-textfield__label {
    top: 6px;
    font-size: 8px;
  }

  .main-head .search-box.search-box--toggled form input {
    height: 23px;
  }

  .main-head .search-box.search-box--toggled .mdl-textfield__label:after {
    bottom: 4px;
  }
}

.search-box {
  form {
    input {
      font-family: "Roboto", sans-serif;
    }
  }
}
#app-wrapper .main-head{
  .breadcrumbs{
    &>li:first-of-type{

      @media @max1023{
        display: none;
      }
    }
    &>li:nth-child(2){
      &:before{
        opacity: 0.8;
      }
    }
  }
}
@media @min768max1199 {
  #app-wrapper {
    .main-head{
      .breadcrumbs .ddown__init a{
        max-width: inherit;
      }
    }
     .main-head .search-box, .main-head .search-box form, .main-head .search-box form .search-box .search-box__mdl-textfield, .main-head .search-box form div {
      width: auto;
    }
    .main-head .search-box form div.mdl-textfield{
      max-width: 200px;
    }
  }
}
