#app-wrapper.main-sidebar--top .app-content.page-brand-settings .main-content .app-content__footer {
  margin-left: -16px;
}

#app-wrapper.main-sidebar--top .app-content.page-email-settings .main-content .app-content__footer {
  margin-left: 0;
}

.page-brand-settings {
  form fieldset .form-block .input-field--short{
    justify-content: flex-end;
  }
  @media only screen and (min-width: 1200px) {
    .menu-mobile-settings--box + .generals-form {
      margin-top: 24px;
    }
  }
  legend{
    padding-left: 8px;
  }
  .generals-form {
    .col-group {
      padding: 0;
      margin: 0;
      .col-16 {
        padding: 0;
      }
    }
  }
  .form-block {
    .col-group .col-4 .input-field--short {
      justify-content: flex-end;
    }
  }
}

@media @xs {
  .page-brand-settings {
    .generals-form {
      .col-group {
        padding: 0;
        margin: 0 !important;
        .col-8 {
          .col-group {
            .select2 {
              width: auto !important;
            }
            .select2-selection__rendered {
              max-width: 270px !important;
              line-height: 32px;
            }
            .select2-container--selectAR {
              width: 100% !important;
            }
          }
        }
      }

      .select2-selection--single .select2-selection__arrow {
        //right: 3%;
        width: 9px;
        height: 32px;
      }

    }
    .cp-brand.cp-brand--typo {
      min-height: 150px;
    }
    .menu-mobile-settings + .select2 {
      .select2-selection__arrow:before {
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        color: white;
        height: 24px;
      }
      .select2-selection__rendered {
        line-height: 32px;
        height: auto;
      }
    }
    .cp-brand--typo .minicolors-position-left .minicolors-panel {
      left: -100px;
      top:50px
    }

    &.app-content .main-content .generals-form {
      margin-bottom: 60px;
    }
  }
}

@media @max1650 {
  .cp-row {
    display: block;
    .cp-brand {
      margin-bottom: 20px;
      height: auto;
      .cp-brand--typo {
        display: block;
        height: auto;
      }
    }
  }
}

.page-brand-settings { // colors for minicolor
  .standard-color--main {
    background-color: @primary-bg;
  }
  .standard-color--main-first {
    color: @standard-text-black
  }
  .standard-color--main-second {
    color: @color-success
  }

  .standard-color--secondary {
    background-color: @super-dark-grey;
  }
  .standard-color--secondary-first {
    color: @standard-white-second
  }
  .standard-color--secondary-second {
    color: @text-color-dark-cherry
  }

  .standard-color--background {
    background-color: @input-border-bottom;
  }
  .standard-color--background-first {
    color: @color-error
  }
  .standard-color--background-second {
    color: @color-warning
  }
}

.page-brand-settings {
  @media @xs {
    select[name] + span.select2 {
      width: 100% !important;
    }
  }
}

@media @xs {
  .page-brand-settings .generals-form .col-group:last-of-type .cp-brand--tetriary .minicolors-panel.minicolors-slider-hue {
    top: -200px;
  }
}