.page-email-settings {
  .CodeMirror {
    height: ~'calc(100vh - 400px)';
    @media @xs {
      height: ~'calc(100vh - 480px)';
    }
  }
  .menu-mobile-settings--box {
    @media @md {
      padding-bottom: 0;
    }
    @media @xs {
      padding: 0;
    }
  }
  .email-additions {
    @media @md{
      margin-top: 64px;
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    background: @standard-white;
    border-bottom: 1px solid @background;
    @media @xs {
      & > .flex.btn-group {
        width: 400px !important;
      }
    }
    .btn-group {
      padding: 14px 0;
    }
    .ddown__init, .btn {
      line-height: 28px;
    }
  }
  .mdl-tabs {
    flex: 1
  }
  legend {
    padding-bottom: 8px;
  }
  fieldset {
    min-width: 100%;
  }
  .email-settings {
    width: 100%;
    background: @standard-white;
    height: 100%;
    padding: 24px;

  }
  .mdl-tabs__tab-bar {
    padding-left: 24px;
  }
  .email-preview {
    width: 50%;
    background: @input-border-bottom;
    height: 100%;
    padding: 0;
    .preview-area {
      width: 100%;
      height: ~'calc(100vh - 170px)';
      background: #eee;
      display: flex;
      flex-flow: column nowrap;
      iframe {
        width: 100%;
        height: 100%;
        flex: 1;
        body {
          * {
            font-family: 'Roboto', sans-serif;
          }
        }
      }
    }
  }
  .mdl-tabs textarea {
    opacity: 0;
  }
  .mdl-tabs .mdl-tabs__panel {
    padding: 24px;
  }
  .grid-container.grid-container--2col {
    height: ~'calc(100vh - 90px)';
  }
  .grid-container.grid-container--2col .grid-col--container {
    min-height: auto;
    padding: 0;
  }

  .email-preview .preview-area {
    height: 100%;
  }
  @media only screen and (max-width: 1400px) {
    .grid-col.grid-col--menu {
      min-width: 200px;
      width: 200px;
    }

    .grid-col.grid-col--container {
      flex-basis: 55%;
    }

  }
}

@media @max1200 {
  .grid-container.grid-container--2col.grid-container--email .grid-col--container {
    flex-flow: column nowrap;
    padding: 0 !important;
  }

  .page-email-settings {
    .email-additions {
      padding: 0;
      .btn-group {
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        margin: 0 16px;
        .ddown, .btn {
          margin: 8px 0;
        }
      }
    }
    .mdl-tabs__tab-bar {
      height: auto;
    }
    .email-preview {
      width: 100%;
      padding: 16px;
      height: 65%;
      padding-bottom: 85px;
    }
    .grid-container.grid-container--2col {
      flex-flow: column nowrap;
    }
    .grid-col.grid-col--container {
      flex-basis: 100%;
      width: 100%;
    }
    .menu-mobile-settings--box .menu-mobile-settings + .select2 .select2-selection {
      margin-bottom: 0;
    }
    //.ddown .ddown__content .ddown__arrow:after{
    //  top: 8px;
    //}
    //.ddown .ddown__content .ddown__arrow:before{
    //  top: 3px;
    //  left: -12.5px;
    //}
  }

  .page-email-settings .email-preview .preview-area {
    margin-bottom: 80px;
  }
}

@media @max550 {
  .page-email-settings {
    //.email-additions {
    //  padding: 0;
    //  .btn-group {
    //    width: 100%;
    //    flex-flow: row wrap;
    //    align-items: center;
    //    justify-content: space-around;
    //    margin: 0 16px;
    //    //> .ddown, > .btn {
    //    //  margin: 8px 0;
    //    //}
    //  }
    //}
    .mdl-tabs__tab-bar {
      height: auto;
    }
    .email-preview {
      width: 100%;
    }
  }
}

@media @max1366 {
  .page-email-settings {
    .email-additions .btn-group {
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media @md {
  .page-email-settings {
    .email-additions .btn-group {
      margin: 0;
      padding: 0 24px;
    }
  }
}

.page-email-settings {

  @media only screen and (max-width: 599px) and (orientation: landscape) {
    .email-additions .btn-group {
      padding: 8px 80px;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 767px) and (orientation: landscape) {
    .email-additions .btn-group {
      padding: 0px 190px;
      margin-bottom: 16px;
    }
  }
  @media @xs {
    .menu-mobile-settings--box .menu-mobile-settings + .select2 .select2-selection {
      margin: 0;
    }

    //.ddown .ddown__content .ddown__arrow{
    //  right: auto;
    //}
    //.ddown .ddown__content .ddown__arrow:after{
    //  top: 0;
    //}
    //.ddown .ddown__content .ddown__arrow:before{
    //  top: -5.5px;
    //  left: -12px;
    //}
    .CodeMirror {
      height: 200px;
    }

    //design for btn on top
    .email-additions .btn-group {
      display: block !important;
      text-align: center;
      margin-right: 4px;
      margin-left: 4px;
      padding: 0 0 16px 0;
      margin-top: 8px;
      @media only screen and (max-height: 330px) {
        padding: 8px 80px !important;
      }
      @media only screen and (max-height: 390px) {
        padding: 8px 80px !important;
      }
      @media only screen and (max-height: 420px) {
        padding: 8px 80px !important;
      }
      .ddown {
        display: inline-block;
        margin: 0 8px;
        .ddown__init {
          width: 130px;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          margin: 0;
          position: relative;
          &:after {
            position: absolute;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
          }
        }
      }
      & > a {
        width: 90px;
        display: inline-block;
        margin: 0 8px;
      }
      .ddown.ddown--open {
        //.ddown__arrow{
        //  right: 45%;
        //}
        .ddown__menu {
          //top: 14px !important;
          //right: none;
          left: 0
        }
        #Brands + .ddown__content {
          .ddown__menu {
            right: 0;
            left: inherit;
          }
        }
      }
    }

    .email-preview {
      height: 400px;
    }

    .email-additions {
      .btn-group {
        padding-top: 0;
        .ddown {
        }
      }
    }

    #app-wrapper .page-email-settings .email-additions .btn-group .btn {
      width: 100%; // blue buttons up
      margin-bottom: 8px;
    }

    .email-additions {
      .btn-group {
        width: 100% !important;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-flow: row wrap;
      }
      .btn-group .btn {
        margin: 0 10px;
      }
    }

    .grid-col.grid-col--container {
      flex-basis: 100%;
      width: 100%;
    }

    .email-preview {
      padding-bottom: 65px;
    }
  }
}

@media @max450 {
  .page-email-settings .mdl-tabs .email-additions .flex.btn-group {
    width: 400px !important;

  }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .page-email-settings .menu-mobile-settings + .select2 .select2-selection {
    margin-bottom: 0;
  }
}

.page-email-settings .email-additions .ddown:first-of-type .ddown__menu {
  left: 0;
}

.page-email-settings .app-content__footer {
  margin: 0;
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    margin: 0 -24px
  }
}

@media only screen and (max-width: 1049px) {
  .grid-container.grid-container--2col .grid-col--container {
    width: auto;
  }
}

@media @xs {
  .page-email-settings {
    //.main-content .ddown .ddown__content .ddown__arrow{
    //  top:18px;
    //}
    .email-additions {
      .ddown {
        .ddown__content {
          top: 0;
          .ddown__arrow {
            right: 9px;
          }
        }
      }
    }
  }
}

@media @md {

  .page-email-settings {
    //.main-content .ddown .ddown__content .ddown__arrow{
    //  top:18px;
    //}
    .email-additions {
      .ddown {
        .ddown__content {
          top: 8px;
          .ddown__arrow {
            right: 13px;
          }
        }
      }
    }
  }
}

//@media @min1300{
//  .page-email-settings{
//    .grid-container--2col .app-content__footer{
//      left: 122px
//    }
//  }
//}

