@top-height:428px;
@div-width-lg:876px;
#app-wrapper {
	.app-content {
		&.page-error {
			.main-content {
				padding: 0;
				margin-bottom: 48px;
			}

			.breadcrumbs {
				opacity:0;
			}
		}
		&.page-error--clean {
			&:before {
				display: none;
			}
		}
	}
}

.error-container {
	display: flex;
	flex-flow: column nowrap;
	.top-area {
		background-color: @primary-bg;
		height: @top-height;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: flex-start;
		width: 100%;

		.app-logo {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			height: 118px;
			img {
				width: 203px;
			}
		}

		.error-message {
			height: 310px;
			width: @div-width-lg;
			position: relative;
			box-shadow: 1px 0 15px rgba(0, 0, 0, 0.05);
			background-color: @primary-bg-second-light;
			.error-message__bg {
				background-position: -164px -30px;
				opacity: 0.05;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				transition: 300ms;
			}
			.error-message__text {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: @standard-white;
				z-index: 2;
				flex-flow: column nowrap;
				font-weight: bold;
				padding-bottom: 24px;
				.error-code {
					font-size: 180px;
					line-height: 180px;
				}
				.error-desc {
					font-size: 26px;
					text-transform: uppercase;
				}
			}
		}
	}
	.bottom-area {
		width: 100%;
		background-color: @background;
		display: flex;
		align-items: center;
		justify-content: center;
		.error-details {
			width: @div-width-lg;
			background: #fff;
			box-shadow: 1px 0 15px rgba(0, 0, 0, 0.05);
			padding: 54px 80px;
			h3 {
				margin-top: 8px;
				margin-bottom: 12px;
			}
			p {
				color: @primary-c;
				margin-bottom: 32px;
			}
		}
		.btn-group {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

//rwd
@media @max992 {
	.error-container {
		.top-area .error-message,
		.bottom-area .error-details {
			width: 100%;
		}
	}

	.bottom-area {
		padding-bottom: 0;
	}

}

@media screen and (max-width:600px) {
	.error-container {
		.btn-group {
			flex-flow: column wrap;
			.btn {
				margin-bottom: 16px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.bottom-area .error-details {
			padding: 32px 24px;
		}
	}
}

@media screen and (max-width:550px) {
	.error-container {
		.top-area .error-message .error-message__text {
			.error-code {
				font-size: 33vw;
			}
			.error-desc {
				font-size: 5vw;
			}
		}
	}
	.error-container {
		.top-area .error-message .error-message__bg {
			background-position: 0 0;
			background-size: cover;
		}
	}
}

@media @xs {
	#app-wrapper .app-content.page-error .main-content {
		margin-bottom: 0;
	}

	.page-error .error-container .bottom-area .btn-group {
		display: block !important;
		text-align: center;
		a {
			margin-right: 0;
			margin-bottom: 16px;
		}
	}
}
.go-back{
	i{
		margin-right: 12px;
	}
}
.page-error--no-logo{
	.error-container{
		margin-top: 0;

	}
	.error-container .top-area{
		height: 310px;
	}
}
