.grid-col {
  h1 {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 50px;
    @media @md {
      margin-top: 80px;
    }
  }
}

@media @xs {
  .page-forms--hor {
    .mdl-textfield {
      width: auto;
    }
    .comiseo-daterangepicker-triggerbutton.ui-button {
      min-width: inherit;
      &:after {
        right: 8px;
      }
    }
    fieldset[name="inputs"] {
      .select2-container--selectAR, .select2-container--mdl {
        width: auto !important;
        .select2-selection__rendered {
          max-width: 150px;
        }
      }
    }
  }
}

.page-settings {
  .comiseo-daterangepicker-triggerbutton.ui-button {
    min-width: inherit;
    margin: 0;
    &:after {
      right: 8px;
    }
  }
  .form-block {
    .col-group {

    }
  }
  //.form-block label:not(.file-upload) {
  //  cursor: pointer;
  //  line-height: 28px;
  //  display: block;
  //}

  @media @xs {
    fieldset[name="Buttons"] {
      .col-group .col-group {
        display: block;
        & > .col-6, & > .col-12 {
          margin-bottom: 8px;
          text-align: center;
        }
      }
    }
  }
  fieldset[name="Selects"] {
    .select2 {
      width: 100% !important;
      .select2-selection__rendered {
        @media only screen and (max-width: 320px) {
          max-width: 190px;
        }
        @media only screen and (min-width: 321px) and (max-width: 380px){
          max-width: 230px;
        }
        @media  only screen and (min-width: 381px) and (max-width: 767px){
          max-width: 250px;
        }
      }
    }
  }
}

.form-block {
  input {
    transition: 300ms;
  }
}

.form-block .col-group.col-group--flex-start {
  align-items: flex-start;
  .form-block__name {
    margin-top: 8px;
  }
  .input-field{
    &:after{
      top: 8px;
      transform: none;
      right: 16px;
    }
  }
}
.mdl-tabs.error{
  border: 1px solid @color-error;
}
.form-block .col-group.error{
  align-items: flex-start;
  .form-block__name {
    margin-top: 8px;
  }
  @type-color: @color-error;
  p,div,span{
    color: @type-color
  }
  .input-field{
    &:after {
      // icon
      position: absolute;
      font: normal normal normal 19px/1 Material-Design-Iconic-Font;
      content: "\f136";
      height: 20px;
      width: 20px;
      color: @type-color;
      text-align: center;
      top: 8px;
      transform: none;
      right: 16px;
    }
    input:not(.switch-checkbox) {
      &::placeholder {
        color: @type-color;
      }
      border: 1px solid @type-color;
    }
  }
}

.page-settings {
  .form-block .radio-btns [data-type="radio-btn"] input[type="radio"] {
    display: none;
  }
  .form-block {
    .input-field--desc {
      flex-flow: column;
      .input-field__desc {
        margin-top: 4px;
      }
    }
  }
  .form-block .input-field--desc-right .input-field__desc {
    margin-left: 8px;
  }
  .form-block > .col-group > div:last-child .switch {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px
  }
  .form-block label:not(.switch) {
    > span {
      vertical-align: top
    }
  }
}

fieldset[name="Noty"], fieldset[name="Alert"] {
  .btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

@media @xs {
  .grid-container--2col .app-content__footer {
    left: auto;

  }

  .grid-container.grid-container--2col .grid-col--container {
    margin-top: 0;
  }

  .menu-mobile-settings + .select2 {
    display: block;
    top: 0;
    //padding: 16px 24px;
    z-index: 1;
    span {
      color: white
    }
    .select2-selection__arrow:before {
      top: 50%;
      //right: 12px;
      transform: translateY(-50%);
      color: white
    }
    .select2-selection__rendered {
      line-height: 32px;
      height: auto;
    }
  }

  .menu-mobile-settings + .select2 .select2-selection {
    height: 54px;
    background: #02a8f3;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    .select2-selection__rendered {
      display: flex;
      align-items: center;
    }
  }
}

@media @xs {
  #app-wrapper .page-settings .generals-form fieldset[name='RadioCheckSwitch'] {
    .switchbox, .radiobtns, .checkboxs {
      display: block;
    }
  }
}

@media @xs {
  .page-settings .main-content fieldset[name="GridFixedRation"] {
    .ex-grid--background {
      margin-bottom: 0 !important;
    }
  }
}

.page-settings .main-content {
  .menu-mobile-settings--box + .single--general-settings {
    @media @md {
      margin-top: 100px;
    }
  }
  .grid-system {
    margin-left: 10px;
    margin-right: 10px;
    .col-group {
      .col-group {
        div[class*="col-"] {
          margin-bottom: 16px;
        }
      }
    }
  }
  .ex-grid--background {
    background: rgba(68, 196, 253, 0.5);
    border-radius: 3px;
    color: @standard-white;
    padding: 4px;
    transition: 300ms;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      background: rgba(68, 196, 253, 0.7);
    }
  }
  .ex-grid--background-nested {
    background: rgba(68, 196, 253, 0.5);
    border-radius: 3px;
    color: @standard-white;
    padding: 4px;
    transition: 300ms;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid white
  }
}