.app-content.page-login {
  //background: linear-gradient(313deg, #26292f, @super-dark-grey);
  background-image: linear-gradient(to right, #0079b9 0%, #00adee 100%);
  //background-size: 500% 500%;
   @media @xs{
     overflow: hidden;
   }
  @keyframes loginBG {
    0% {
      background-position: 0 5%
    }
    50% {
      background-position: 100% 96%
    }
    100% {
      background-position: 0 5%
    }
  }
  input {
    &:focus,
    &:active {
      outline: 0;
    }
  }
  .main-content {
    height: auto;
    @media @xs{
      width: 90%;
    }
  }
  .flex-center();
  &:before {
    display: none;
  }
  .main-content {
    padding: 0 !important;
  }
  .login-box {
    width: 440px;
    @media @xs{
      width: 100%;
    }
    background-color: @standard-white;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.16);
    padding: 46px 30px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top:-180px;
      @media @md{
        top: -120px
      }
      @media @xs{
        top: -80px
      }
      left: 0;
      background-image: url('@{img_path}/logo/logo_sign_white_2.svg');
      background-position: center;
      width: 100%;
      height: 60px;
      background-repeat: no-repeat;
    }
    .form-block:first-of-type{
      margin-bottom: 0;
    }

    .input-field {
      .mdl-textfield{
        width: 100%;
        padding: 16px 0;
        .mdl-textfield__label{
         top: 22px
        }
        &.is-focused,&.is-dirty{
          .mdl-textfield__label{
            top:0px
          }

        }
      }
      .mdl-textfield__input {
        color: @primary-bg;
        letter-spacing: 0.4px;
      }
      .mdl-textfield__label:after{
        bottom: 16px;
      }
    }
    .login-box__remember {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 16px;
      span {
        color: @text-color-grey;
      }
    }
    .mdl-js-button{
      width:100%;
    }
    .password-reset{
      font-weight: 400;
      margin-top: 8px;
      cursor: pointer;
      display: block;
    }
  }

}


