<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Brand Settings</title>
    include ../layout/color_template.pug 
    include ../layout/css_files.pug
</head>

<body>
    <div id="app-wrapper">
        include ../layout/sidebar.pug
        <div class="app-content page-brand-settings">
            include ../layout/mainhead.pug 
            include ../layout/sidebar_notifications.pug
            <section class="main-content nopadding">
                <div class="grid-container grid-container--footer grid-container--2col grid-container--no-padd">
                    <div class="grid-col grid-col--menu">
                        <div class="menu-aside-container">
                            <ul class="menu-aside">
                                <li class="is-active">
                                    <a href="brand-settings.html" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-settings"></i><span>General</span></a>
                                </li>
                                <li>
                                    <a href="email-settings.html" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-shopping-cart"></i><span>Email Branding</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-col grid-col--container">
                        <section class="generals-form">
                            <form id="14" class="form-validation" method="post" action="">
                                <div class="col-group">
                                    <div class="col-dt-8">
                                        <fieldset name="inputs">
                                            <legend>Brand Info</legend>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name">Brand Name</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field">
                                                            <input type="text" name="Text" placeholder="Brand Name" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name">Brand URL</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field">
                                                            <input type="text" name="Text" placeholder="Brand URL" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name">Date Format</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <select name="date-format" data-selectAR="true" required>
                                                            <option value="04/20/2016">04/20/2016</option>
                                                            <option value="20/04/2016">20/04/2016</option>
                                                            <option value="2016/20/04">2016/20/04</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name">Default Country</label>
                                                    </div>
                                                    <div class="col-16" style="width:180px;">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon">
                                                                    <span class="flag-icon flag-icon-us"></span>
                                                            </span>
                                                            <select name="default-country" data-flag-select--search required>
                                                                <option data-country="us">United States of America</option>
                                                                <option data-country="pl" selected>Poland</option>
                                                                <option data-country="it">Italy</option>
                                                                <option data-country="gb">United Kingdom</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name">Default Country</label>
                                                    </div>
                                                    <div class="col-16" style="width:180px;">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon">
                                                                    <span class="flag-icon flag-icon-us"></span>
                                                            </span>
                                                            <select name="default-country" data-flag-select required>
                                                                <option data-country="us">United States of America</option>
                                                                <option data-country="pl" selected>Poland</option>
                                                                <option data-country="it">Italy</option>
                                                                <option data-country="gb">United Kingdom</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name">Default Language</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon">
                                                                    <span class="flag-icon flag-icon-us"></span>
                                                            </span>
                                                            <select data-flag-select name="default-language" data-selectAR="true" required>
                                                                <option data-country="us">United States of America - English US</option>
                                                                <option data-country="pl" selected>Poland - Polish</option>
                                                                <option data-country="it">Italy - Italian</option>
                                                                <option data-country="gb">United Kingdom - English UK</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="col-16 mb2">
                                                        <label class="form-block__name p0">
                                                            <span>Maintenance Mode</span>
                                                            <i class="zmdi zmdi-help-outline help--trigger" data-tooltip-inline="Enable Maintenance Mode"></i>
                                                            <div class="input-field input-field--short ml-auto">
                                                                <label class="switch">
                                                                    <input class="switch-checkbox" name="switch" type="checkbox" required="" aria-required="true">
                                                                    <div class="switch-container">
                                                                        <div class="switch-handle"></div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-dt-7 col-dt-offset-1">
                                        <fieldset name="inputs">
                                            <legend>Brand Logo</legend>
                                            <div class="col-group">
                                                <div class="col-10">
                                                    <div class="form-block">
                                                        <div class="input-field mb8">
                                                            <div class="dropzone dropzone-form brand-logo">
                                                                <div class="dz-message" data-dz-message>
                                                                    <div class="dz-m__current">
                                                                        <img src="img/theme/antares/logo/logo_full.png" alt="">
                                                                    </div>
                                                                    <div class="dz-m__header">
                                                                        <i class="zmdi zmdi-wallpaper"></i>
                                                                    </div>
                                                                    <div class="dz-m__content">
                                                                        <span>Drag &amp; drop,</span>
                                                                        <span>or click to upload</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="form-block__name p0 mt8">
                                                            <span>Logo</span>
                                                            <i class="zmdi zmdi-help-outline help--trigger" data-tooltip="true"></i>
                                                            <div class="tooltip-content">
                                                                <p>Logo used in the invoices, as well as in the login page.</p>
                                                                <p class="tooltip__header mt16">Recommended format:</p>
                                                                <p>PNG (without background)</p>
                                                                <p class="tooltip__header mt16">Recommended minimum width:</p>
                                                                <p>512 px</p>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-block">
                                                        <div class="input-field mb8">
                                                            <div class="dropzone dropzone-form brand-favicon">
                                                                <div class="dz-message" data-dz-message>
                                                                    <div class="dz-m__current">
                                                                        <img src="img/theme/antares/logo/logo_tear.png" alt="">
                                                                    </div>
                                                                    <div class="dz-m__header">
                                                                        <i class="zmdi zmdi-wallpaper"></i>
                                                                    </div>
                                                                    <div class="dz-m__content">
                                                                        <span>Drag &amp; drop,</span>
                                                                        <span>or click to upload</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="form-block__name p0 mt8">
                                                            <span>Favicon</span>
                                                            <i class="zmdi zmdi-help-outline help--trigger" data-tooltip="true"></i>
                                                            <div class="tooltip-content">
                                                                <p>Logo used in the invoices, as well as in the login page.</p>
                                                                <p class="tooltip__header mt16">Recommended format:</p>
                                                                <p>PNG (without background)</p>
                                                                <p class="tooltip__header mt16">Recommended minimum size:</p>
                                                                <p>310x310 px</p>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset name="color-inputs">
                                            <legend>Brand Colors</legend>
                                            <div class="color-pickers">
                                                <div class="col-group">
                                                    <div class="col-16">
                                                        <div class="cp-row mb16">
                                                            <div class="cp-brand cp-brand--primary mr16">
                                                                <div class="cp-brand__preview">
                                                                    <div class="cp-brand__ar-big"></div>
                                                                    <span class="cp-brand__title">Main</span>
                                                                    <!-- <span class="cp-brand__hex">#02A8F3</span> -->
                                                                    <input type="text" class="cp" name="hex-input" value="#02A8F3" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                                <div class="cp-brand__pallete ">
                                                                    <div class="cp-brand__sgl"></div>
                                                                    <div class="cp-brand__sgl"></div>
                                                                    <div class="cp-brand__sgl"></div>
                                                                </div>
                                                            </div>
                                                            <div class="cp-brand cp-brand--secondary mr16">
                                                                <div class="cp-brand__preview">
                                                                    <div class="cp-brand__ar-big"></div>
                                                                    <span class="cp-brand__title">Secondary</span>
                                                                    <!-- <span class="cp-brand__hex">#2d353d</span> -->
                                                                    <input type="text" class="cp" name="hex-input" value="#30343d" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                                <div class="cp-brand__pallete">
                                                                    <div class="cp-brand__sgl"></div>
                                                                    <div class="cp-brand__sgl"></div>
                                                                    <div class="cp-brand__sgl"></div>
                                                                </div>
                                                            </div>
                                                            <div class="cp-brand cp-brand--tetriary">
                                                                <div class="cp-brand__preview">
                                                                    <div class="cp-brand__ar-big"></div>
                                                                    <span class="cp-brand__title">Background</span>
                                                                    <!-- <span class="cp-brand__hex">#e4e6eb</span> -->
                                                                    <input type="text" class="cp" name="hex-input" value="#70c24a" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                                <div class="cp-brand__pallete">
                                                                    <div class="cp-brand__sgl"></div>
                                                                    <div class="cp-brand__sgl"></div>
                                                                    <div class="cp-brand__sgl"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-group">
                                                    <div class="col-16">
                                                        <div class="cp-row">
                                                            <!-- FIRST -->
                                                            <div class="cp-brand cp-brand--typo cp-brand--primary mr16">
                                                                <div class="cp-brand__preview">
                                                                    <span class="cp-brand__big">Aa</span>
                                                                    <div class="cp-brand__picker">
                                                                        <div class="cp-brand__p-sgl cp-brand__p-sgl--left"></div>
                                                                        <input type="hidden" class="color-saver" id="brand-c1" name="brand-c1">
                                                                    </div>
                                                                    <input type="text" class="cp" name="hex-input" value="#050505" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                    <!-- <span class="cp-brand__small">AaBbCc</span> -->
                                                                </div>
                                                                <div class="cp-brand__preview">
                                                                    <span class="cp-brand__big">Aa</span>
                                                                    <div class="cp-brand__picker">
                                                                        <div class="cp-brand__p-sgl cp-brand__p-sgl--right"></div>
                                                                        <input type="hidden" class="color-saver" id="brand-c2" name="brand-c2">
                                                                    </div>
                                                                    <input type="text" class="cp" name="hex-input" value="#084700" data-tooltip-text="Hex is incorrect" maxlength="7">
                                                                </div>
                                                            </div>
                                                            <!-- SECOND -->
                                                            <div class="cp-brand cp-brand--typo cp-brand--secondary mr16">
                                                                <div class="cp-brand__preview">
                                                                    <span class="cp-brand__big">Aa</span>
                                                                    <div class="cp-brand__picker">
                                                                        <div class="cp-brand__p-sgl cp-brand__p-sgl--left"></div>
                                                                        <input type="hidden" class="color-saver" id="brand-c3" name="brand-c3">
                                                                    </div>
                                                                    <input type="text" class="cp" name="hex-input" value="#fafafa" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                                <div class="cp-brand__preview">
                                                                    <span class="cp-brand__big">Aa</span>
                                                                    <div class="cp-brand__picker">
                                                                        <div class="cp-brand__p-sgl cp-brand__p-sgl--right"></div>
                                                                        <input type="hidden" class="color-saver" id="brand-c4" name="brand-c4">
                                                                    </div>
                                                                    <input type="text" class="cp" name="hex-input" value="#7a0000" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                            </div>
                                                            <!-- THIRD -->
                                                            <div class="cp-brand cp-brand--typo cp-brand--tetriary">
                                                                <div class="cp-brand__preview">
                                                                    <span class="cp-brand__big">Aa</span>
                                                                    <div class="cp-brand__picker">
                                                                        <div class="cp-brand__p-sgl cp-brand__p-sgl--left"></div>
                                                                        <input type="hidden" class="color-saver" id="brand-c5" name="brand-c5">
                                                                    </div>
                                                                    <input type="text" class="cp" name="hex-input" value="#940000" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                                <div class="cp-brand__preview">
                                                                    <span class="cp-brand__big">Aa</span>
                                                                    <div class="cp-brand__picker">
                                                                        <div class="cp-brand__p-sgl cp-brand__p-sgl--right"></div>
                                                                        <input type="hidden" class="color-saver" id="brand-c6" name="brand-c6">
                                                                    </div>
                                                                    <input type="text" class="cp" name="hex-input" value="#f88888" maxlength="7" data-tooltip-text="Hex is incorrect">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-dt-16">
                                        <div class="app-content__footer">
                                            <div class="btn-group">
                                                <button type="submit" href="#" class="btn btn--md btn--submit btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Save Changes</button>
                                                <button href="#" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
    script(src='js/app_cache.js') 
    script(src='js/forms_advanced.js') 
    script(src='js/view_brand_settings.js')
</body>

</html>
