<!DOCTYPE html>
<html lang="en">
<% var pageTitle = 'Brand Settings'; %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <% if(mainMenuType === 'wide'){ %>
    <% include ../layout/color_template_wide %>
    <% } else{ %>
    <% include ../layout/color_template %>
    <% } %>
    <% include ../layout/css_files %>
</head>

<body>
<% include ../layout/app_wrapper_start_tag %>

<% if(clientArea){ %>
<% include ../layout/mode_clientArea/CA_menutop %>
<% } else{ %>
<% include ../layout/main_menu_html %>
<% } %>

<div class="app-content page-brand-settings">
    <% var breadData = 'Brand Settings'; %>

    <% if(clientArea){ %>
    <% include ../layout/mode_clientArea/CA_mainhead %>
    <% } else{ %>
    <% include ../layout/mainhead %>
    <% } %>

    <% include ../layout/sidebar_notifications %>
    <% include ../layout/sidebar_alerts %>
    <section class="main-content nopadding">
        <div class="grid-container grid-container--footer grid-container--2col grid-container--no-padd">
            <% include ../layout/menu_aside %>
            <div class="grid-col grid-col--container">
                <div class="menu-mobile-settings--box">
                    <select class="menu-mobile-settings" data-select2--class="menu-aside-settings--blue"
                            data-selectAR--search="true" name="select"></select>
                </div>
                <section class="generals-form" data-preload>
                    <form id="14" class="form-validation" method="post" action="">
                        <div class="col-group">
                            <div class="col-mb-24 col-12">
                                <fieldset name="inputs">
                                    <legend>Brand Info</legend>
                                    <div class="form-block">

                                        <div class="col-group">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Number</label>
                                            </div>
                                            <div class="col-mb-24">
                                                <div class="input-field">
                                                    <input type="number" name="Number" placeholder="12345" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-group">
                                        <div class="form-block">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Brand
                                                    Name
                                                </label>
                                            </div>
                                            <div class="col-mb-24">
                                                <div class="input-field">
                                                    <input type="text" name="Text" placeholder="Brand Name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Brand
                                                    URL
                                                </label>
                                            </div>
                                            <div class="col-mb-24">
                                                <div class="input-field">
                                                    <input type="text" name="Text" placeholder="Brand URL" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Date
                                                    Format
                                                </label>
                                            </div>
                                            <div class="col-mb-24">
                                                <select name="date-format" data-selectAR="true" required>
                                                    <option value="04/20/2016">04/20/2016</option>
                                                    <option value="20/04/2016">20/04/2016</option>
                                                    <option value="2016/20/04">2016/20/04</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Default
                                                    Country
                                                </label>
                                            </div>
                                            <div class="col-mb-24">
                                                <div class="input-field input-field--icon">
                                                                                                                        <span class="input-field__icon">
                                                                                                                            <span class="flag-icon flag-icon-us"></span>
                                                                                                                        </span>
                                                    <select name="default-country" data-flag-select--search required>
                                                        <option data-country="us">United
                                                            States
                                                            of
                                                            America
                                                        </option>
                                                        <option data-country="pl" selected>Poland</option>
                                                        <option data-country="it">Italy</option>
                                                        <option data-country="gb">United
                                                            Kingdom
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Default
                                                    Country
                                                </label>
                                            </div>
                                            <div class="col-mb-24">
                                                <div class="input-field input-field--icon">
                                                                                                                        <span class="input-field__icon">
                                                                                                                            <span class="flag-icon flag-icon-us"></span>
                                                                                                                        </span>
                                                    <select name="default-country" data-flag-select required>
                                                        <option data-country="us">United
                                                            States
                                                            of
                                                            America
                                                        </option>
                                                        <option data-country="pl" selected>Poland</option>
                                                        <option data-country="it">Italy</option>
                                                        <option data-country="gb">United
                                                            Kingdom
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-mb-24 mb2">
                                                <label class="form-block__name">Default
                                                    Language
                                                </label>
                                            </div>
                                            <div class="col-mb-24">
                                                <div class="input-field input-field--icon">
                                                                                                                        <span class="input-field__icon">
                                                                                                                            <span class="flag-icon flag-icon-us"></span>
                                                                                                                        </span>
                                                    <select data-flag-select name="default-language"
                                                            data-selectAR="true" required>
                                                        <option data-country="us">United
                                                            States
                                                            of
                                                            America
                                                            -
                                                            English
                                                            US
                                                        </option>
                                                        <option data-country="pl" selected>Poland
                                                            -
                                                            Polish
                                                        </option>
                                                        <option data-country="it">Italy
                                                            -
                                                            Italian
                                                        </option>
                                                        <option data-country="gb">United
                                                            Kingdom
                                                            -
                                                            English
                                                            UK
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-group" style="width: 100%;">
                                                <div class="col-13 mb2">
                                                    <label class="form-block__name p0">
                                                                                                                            <span>Maintenance
                                                                                                                                Mode
                                                                                                                            </span>
                                                        <i class="zmdi zmdi-help-outline help--trigger"
                                                           data-tooltip="true"></i>
                                                        <div class="tooltip-content">
                                                            <p>Enable
                                                                Maintenance
                                                                Mode
                                                            </p>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="col-3 mb2">
                                                    <div class="input-field input-field--short ml-auto">
                                                        <label class="switch">
                                                            <input class="switch-checkbox" name="switch" type="checkbox"
                                                                   required="" aria-required="true">
                                                            <div class="switch-container">
                                                                <div class="switch-handle"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-mb-24 col-12">
                                <fieldset name="BrandLogo">
                                    <legend>Brand Logo</legend>
                                    <div class="col-group">
                                        <div class="col-12">
                                            <div class="form-block">
                                                <div class="input-field mb8">
                                                    <div class="dropzone dropzone-form brand-logo">
                                                        <div class="dz-message" data-dz-message>
                                                            <div class="dz-m__current">
                                                                <img src="img/theme/antares/logo/logo_tear.svg" alt="">
                                                            </div>
                                                            <div class="dz-m__header">
                                                                <i class="zmdi zmdi-wallpaper"></i>
                                                            </div>
                                                            <div class="dz-m__content">
                                                                                                                                    <span>Drag
                                                                                                                                        &amp;
                                                                                                                                        drop,
                                                                                                                                    </span>
                                                                <span>or
                                                                                                                                        click
                                                                                                                                        to
                                                                                                                                        upload
                                                                                                                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="form-block__name p0 mt8">
                                                    <span>Logo</span>
                                                    <i class="zmdi zmdi-help-outline help--trigger"
                                                       data-tooltip="true"></i>
                                                    <div class="tooltip-content">
                                                        <p>Logo
                                                            used
                                                            in
                                                            the
                                                            invoices,
                                                            as
                                                            well
                                                            as
                                                            in
                                                            the
                                                            login
                                                            page.
                                                        </p>
                                                        <p class="tooltip__header mt16">Recommended
                                                            format:
                                                        </p>
                                                        <p>PNG
                                                            (without
                                                            background)
                                                        </p>
                                                        <p class="tooltip__header mt16">Recommended
                                                            minimum
                                                            width:
                                                        </p>
                                                        <p>512
                                                            px
                                                        </p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-block">
                                                <div class="input-field mb8">
                                                    <div class="dropzone dropzone-form brand-favicon">
                                                        <div class="dz-message" data-dz-message>
                                                            <div class="dz-m__current">
                                                                <img src="img/theme/antares/logo/logo_tear.svg" alt="">
                                                            </div>
                                                            <div class="dz-m__header">
                                                                <i class="zmdi zmdi-wallpaper"></i>
                                                            </div>
                                                            <div class="dz-m__content">
                                                                                                                                    <span>Drag
                                                                                                                                        &amp;
                                                                                                                                        drop,
                                                                                                                                    </span>
                                                                <span>or
                                                                                                                                        click
                                                                                                                                        to
                                                                                                                                        upload
                                                                                                                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="form-block__name p0 mt8">
                                                    <span>Favicon</span>
                                                    <i class="zmdi zmdi-help-outline help--trigger"
                                                       data-tooltip="true"></i>
                                                    <div class="tooltip-content">
                                                        <p>Logo
                                                            used
                                                            in
                                                            the
                                                            invoices,
                                                            as
                                                            well
                                                            as
                                                            in
                                                            the
                                                            login
                                                            page.
                                                        </p>
                                                        <p class="tooltip__header mt16">Recommended
                                                            format:
                                                        </p>
                                                        <p>PNG
                                                            (without
                                                            background)
                                                        </p>
                                                        <p class="tooltip__header mt16">Recommended
                                                            minimum
                                                            size:
                                                        </p>
                                                        <p>310x310
                                                            px
                                                        </p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset name="color-inputs">
                                    <legend>Brand Colors</legend>
                                    <div class="color-pickers">
                                        <div class="col-group">
                                            <div class="col-mb-24">
                                                <div class="cp-row mb16">
                                                    <div class="cp-brand cp-brand--primary mr16">
                                                        <div class="cp-brand__preview">
                                                            <div class="cp-brand__ar-big"><input  class="cp" type="text" value="02A8F3"></div>
                                                            <span class="cp-brand__title">Main</span>
                                                            <span class="hidden standard-color--main"></span>
                                                        </div>
                                                        <div class="cp-brand__pallete ">
                                                            <div class="cp-brand__sgl"></div>
                                                            <div class="cp-brand__sgl"></div>
                                                            <div class="cp-brand__sgl"></div>
                                                        </div>
                                                    </div>
                                                    <div class="cp-brand cp-brand--secondary mr16">
                                                        <div class="cp-brand__preview">
                                                            <div class="cp-brand__ar-big"><input  class="cp" type="text" value="2d353d"></div>
                                                            <span class="cp-brand__title">Secondary</span>
                                                            <span class="hidden standard-color--secondary"></span>
                                                        </div>
                                                        <div class="cp-brand__pallete">
                                                            <div class="cp-brand__sgl"></div>
                                                            <div class="cp-brand__sgl"></div>
                                                            <div class="cp-brand__sgl"></div>
                                                        </div>
                                                    </div>
                                                    <div class="cp-brand cp-brand--tetriary">
                                                        <div class="cp-brand__preview">
                                                            <div class="cp-brand__ar-big"><input  class="cp" type="text" value="ecedf0"></div>
                                                            <span class="cp-brand__title">Background</span>
                                                            <span class="hidden standard-color--background"></span>
                                                        </div>
                                                        <div class="cp-brand__pallete">
                                                            <div class="cp-brand__sgl"></div>
                                                            <div class="cp-brand__sgl"></div>
                                                            <div class="cp-brand__sgl"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-group">
                                            <div class="col-mb-24">
                                                <div class="cp-row">
                                                    <!-- FIRST -->
                                                    <div class="cp-brand cp-brand--typo cp-brand--primary mr16">
                                                        <div class="cp-brand__preview">
                                                            <span class="cp-brand__big">Aa</span>
                                                            <div class="cp-brand__picker">
                                                                <div class="cp-brand__p-sgl cp-brand__p-sgl--left"><input  class="cp" type="text" value="050505"></div>
                                                            </div>
                                                            <span class="hidden standard-color--main-first"></span>
                                                        </div>
                                                        <div class="cp-brand__preview">
                                                            <span class="cp-brand__big">Aa</span>
                                                            <div class="cp-brand__picker">
                                                                <div class="cp-brand__p-sgl cp-brand__p-sgl--right"><input  class="cp" type="text" value="27ae60"></div>
                                                            </div>
                                                            <span class="hidden standard-color--main-second"></span>
                                                        </div>
                                                    </div>
                                                    <!-- SECOND -->
                                                    <div class="cp-brand cp-brand--typo cp-brand--secondary mr16">
                                                        <div class="cp-brand__preview">
                                                            <span class="cp-brand__big">Aa</span>
                                                            <div class="cp-brand__picker">
                                                                <div class="cp-brand__p-sgl cp-brand__p-sgl--left"><input  class="cp" type="text" value="231231"></div>
                                                            </div>
                                                            <span class="hidden standard-color--secondary-first"></span>
                                                        </div>
                                                        <div class="cp-brand__preview">
                                                            <span class="cp-brand__big">Aa</span>
                                                            <div class="cp-brand__picker">
                                                                <div class="cp-brand__p-sgl cp-brand__p-sgl--right"><input  class="cp" type="text" value="ff0000"></div>
                                                            </div>
                                                            <span class="hidden standard-color--secondary-second"></span>
                                                        </div>
                                                    </div>
                                                    <!-- THIRD -->
                                                    <div class="cp-brand cp-brand--typo cp-brand--tetriary">
                                                        <div class="cp-brand__preview">
                                                            <span class="cp-brand__big">Aa</span>
                                                            <div class="cp-brand__picker">
                                                                <div class="cp-brand__p-sgl cp-brand__p-sgl--left"><input  class="cp" type="text" value="f44336"></div>
                                                            </div>
                                                            <span class="hidden standard-color--background-first"></span>
                                                        </div>
                                                        <div class="cp-brand__preview">
                                                            <span class="cp-brand__big">Aa</span>
                                                            <div class="cp-brand__picker">
                                                                <div class="cp-brand__p-sgl cp-brand__p-sgl--right"><input  class="cp" type="text" value="ffa726"></div>
                                                            </div>
                                                            <span class="hidden standard-color--background-second"></span>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-mb-24 col-24">
                                <div class="app-content__footer">
                                    <div class="btn-group">
                                        <button class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                                                type="submit">Save changes
                                        </button>
                                        <a class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</a>

                                        <button class="btn btn--md btn--link btn--red mdl-button mdl-js-button mdl-js-ripple-effect reset-style"
                                                type="button">Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>
</div>
<textarea class="is-hidden brand-colors-container"></textarea>
<% include ../layout/js_files %>
</body>

</html>
