<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Clients Details</title>
    <% include ../layout/color_template %>
        <% include ../layout/css_files %>
</head>


<body>
    <% include ../layout/app_wrapper_start_tag %>
        <% include ../layout/main_menu_html %>
            <div class="app-content app-content--gridstack">
                <% include ../layout/card_bar %>
                    <% var breadData = 'Clients Details'; %>
                        <% include ../layout/mainhead %>
                            <% include ../layout/sidebar_notifications %>
                                <% include ../layout/sidebar_alerts %>
                                    <section class="main-content">
                                        <div class="clients-details-gridstack grid-stack ui-draggable-disabled ui-resizable-disabled" style="opacity:0;">
                                            <!-- Clients Info -->
                                            <div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="0" data-gs-y="0" data-gs-width="5" data-gs-auto-position="0"
                                                data-gs-height="20" data-gs-min-width="5" data-gs-min-height="20">
                                                <div class="grid-stack-item-content">
                                                    <% include ../layout/widget_edit %>
                                                        <div class="card card--detail-info card--dark card--more-gradient">
                                                            <div class="card__header">
                                                                <div class="card__header--top">
                                                                    <div class="avatar avatar--active avatar--lg">
                                                                        <img src="img/avatars/avatar_sample.png" alt="Avatar">
                                                                    </div>
                                                                    <div class="client-name">
                                                                        <span>INBS.Software Konrad Keck</span>
                                                                        <span class="label-basic label-basic--success label-basic--md">ACTIVE</span>
                                                                    </div>
                                                                </div>
                                                                <div class="card__header--bottom">
                                                                    <section class="list list--md list--icons">
                                                                        <ul>
                                                                            <li><i class="zmdi zmdi-case-check"></i>
                                                                                <span>Last login <span>9 days ago<span></span></li>
                                                                            <li><i class="zmdi zmdi-email"></i> <span><a
                                                            href="#">konrad@inbs.software</a></span></li>
                                                                        </ul>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                            <div class="card__content ">
                                                                <section class="list list--md ">
                                                                    <div class="list__title">Account Details</div>
                                                                    <ul>
                                                                        <li><span>INBS.Software Konrad Keck</span></li>
                                                                        <li><span>ul. Tadeusza Rejtana 36/14</span></li>
                                                                        <li><span>35-303 Rzeszów</span></li>
                                                                        <li><span>Polska</span></li>
                                                                        <li><span>NIP: 6254895746</span></li>
                                                                    </ul>
                                                                </section>
                                                                <div class="mobile-toogle--target">
                                                                    <section class="list list--md ">
                                                                        <div class="list__title">Billing Address</div>
                                                                        <ul>
                                                                            <li><span>Same as account address</span></li>
                                                                        </ul>
                                                                    </section>
                                                                    <section class="list list--md ">
                                                                        <div class="list__title">Billing Info</div>
                                                                        <ul>
                                                                            <li><span>**** **** **** 1699</span></li>
                                                                        </ul>
                                                                    </section>
                                                                    <section class="list list--md ">
                                                                        <div class="list__title">Settings</div>
                                                                        <ul class="datarow ">
                                                                            <li class="datarow__sgl">
                                                                                <div class="datarow__left">
                                                                                    <span class="datarow__status">Currency</span>
                                                                                </div>
                                                                                <div class="datarow__right">
                                                                                    <span class="datarow__data">
                                                    <strong>USA Dollar ($)</strong>
                                                </span>
                                                                                </div>
                                                                            </li>
                                                                            <li class="datarow__sgl">
                                                                                <div class="datarow__left">
                                                                                    <span class="datarow__status">Language</span>
                                                                                </div>
                                                                                <div class="datarow__right">
                                                                                    <span class="datarow__data">
                                                    <strong>Polish</strong>
                                                </span>
                                                                                </div>
                                                                            </li>
                                                                            <li class="datarow__sgl">
                                                                                <div class="datarow__left">
                                                                                    <span class="datarow__status">Group</span>
                                                                                </div>
                                                                                <div class="datarow__right">
                                                                                    <span class="datarow__data">
                                                    <strong>Default</strong>
                                                </span>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </section>
                                                                </div>

                                                            </div>
                                                            <div class="mobile-toogle--box">
                                                                <div class="card__mobile-toggle mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-caret-down"></i></div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <!-- Clients Info END-->


                                            <!--BIG TABLE (services, invoices, translation....)-->
                                            <div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="5" data-gs-y="0" data-gs-width="14" data-gs-height="20"
                                                data-gs-min-width="13" data-gs-min-height="20" data-gs-auto-position="0">
                                                <div class="grid-stack-item-content">
                                                    <% include ../layout/widget_edit %>
                                                        <div class="card card--pagination card--tabs">
                                                            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                                                                <div class="mdl-tabs__tab-bar">
                                                                    <div class="tab-bar--tape">
                                                                        <!-- <div class="mdl-tabs__arrow--left"><i class="zmdi zmdi-chevron-left"></i></div> -->
                                                                        <a href="#services-panel" class="mdl-tabs__tab is-active">Services</a>
                                                                        <a href="#transactions-panel" class="mdl-tabs__tab">Transactions</a>
                                                                        <a href="#quotes-panel" class="mdl-tabs__tab">Quotes</a>
                                                                        <a href="#tickets-panel" class="mdl-tabs__tab">Tickets</a>
                                                                        <!-- <div class="mdl-tabs__arrow--right"><i class="zmdi zmdi-chevron-right"></i></div> -->
                                                                    </div>
                                                                </div>

                                                                <div class="mdl-tabs__panel is-active" id="services-panel">
                                                                    <!-- TAB 1 -->
                                                                    <div class="tbl-c tbl-c--nopadding">
                                                                        <% include ../layout/card_ctrls_filter %>

                                                                            <% include ../layout/example_datatable %>

                                                                    </div>
                                                                </div>

                                                                <div class="mdl-tabs__panel" id="transactions-panel">
                                                                    <!-- TAB 2 -->

                                                                    <div class="zd-container">

                                                                        <div class="zd zd--lg">
                                                                            <div class="zd__header">
                                                                                <i class="zmdi zmdi-email"></i>
                                                                            </div>
                                                                            <div class="zd__content">
                                                                                <div class="zd__title">No transactions to display.</div>
                                                                                <div class="zd__description">
                                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum magna ac efficitur.
                                                                                </div>
                                                                            </div>
                                                                            <div class="zd__footer">
                                                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN
                                                    NEW TICKET</a>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                                <div class="mdl-tabs__panel" id="quotes-panel">
                                                                    <!-- TAB 2 -->
                                                                    <div class="zd-container">

                                                                        <div class="zd zd--lg">
                                                                            <div class="zd__header">
                                                                                <i class="zmdi zmdi-email"></i>
                                                                            </div>
                                                                            <div class="zd__content">
                                                                                <div class="zd__title">No quotes to display.</div>
                                                                                <div class="zd__description">
                                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum magna ac efficitur.
                                                                                </div>
                                                                            </div>
                                                                            <div class="zd__footer">
                                                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN
                                                    NEW TICKET</a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="mdl-tabs__panel" id="tickets-panel">
                                                                    <!-- TAB 2 -->
                                                                    <div class="zd-container">

                                                                        <div class="zd zd--lg">
                                                                            <div class="zd__header">
                                                                                <i class="zmdi zmdi-email"></i>
                                                                            </div>
                                                                            <div class="zd__content">
                                                                                <div class="zd__title">No tickets to display.</div>
                                                                                <div class="zd__description">
                                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum magna ac efficitur.
                                                                                </div>
                                                                            </div>
                                                                            <div class="zd__footer">
                                                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN
                                                    NEW TICKET</a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <!--BIG TABLE (services, invoices, translation...) END-->


                                            <!--Client value-->
                                            <div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="20" data-gs-y="0" data-gs-width="5" data-gs-height="11"
                                                data-gs-min-width="4" data-gs-min-height="11" data-gs-auto-position="0">
                                                <div class="grid-stack-item-content">
                                                    <% include ../layout/widget_edit %>
                                                        <div class="card card--chart-small card--primary-light chart">
                                                            <div class="card__header">
                                                                <div class="card__header-left">
                                                                    <span>CLIENT VALUE</span>
                                                                </div>
                                                                <div class="card__header-right">
                                                                    <div class="ddown">
                                                                        <div class="ddown__init ddown__init--clean btn-more mdl-js-button mdl-js-ripple-effect">
                                                                            <i class="zmdi zmdi-more-vert"></i></div>
                                                                        <div class="ddown__content">
                                                                            <div class="ddown__arrow"></div>
                                                                            <ul class="ddown__menu">
                                                                                <li class="ddown__header mdl-js-button mdl-js-ripple-effect">
                                                                                    <a href=""><i
                                                                class="zmdi zmdi-account-add"></i><span>Add New Client</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-file-plus"></i><span>Create Invoice</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-email"></i><span>Send Email</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-ticket-star"></i><span>Open New Ticket</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-accounts-list"></i><span>Add Contact</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-money-box"></i><span>Add Founds</span></a>
                                                                                </li>
                                                                                <li class="ddown__footer"><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href=""><i
                                                                class="zmdi zmdi-square-right"></i><span>Login As Client</span></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card__header-chart" id="chart--client-value">
                                                                <span class="card__indicator">$1898.65</span>
                                                                <svg class="lineChart--svg"></svg>
                                                            </div>
                                                            <div class="card__content pt24 pb24">
                                                                <ul class="datarow">
                                                                    <li class="datarow__sgl">
                                                                        <div class="datarow__left">
                                                                            <span class="datarow__status">Unpaid/Due</span>
                                                                        </div>
                                                                        <div class="datarow__right">
                                                                            <span class="datarow__data">
                                                    <strong>$128.99 USD</strong>
                                                </span>
                                                                        </div>
                                                                    </li>
                                                                    <li class="datarow__sgl">
                                                                        <div class="datarow__left">
                                                                            <span class="datarow__status">canceled</span>
                                                                        </div>
                                                                        <div class="datarow__right">
                                                                            <span class="datarow__data">
                                                    <strong>$0.00 USD</strong>
                                                </span>
                                                                        </div>
                                                                    </li>
                                                                    <li class="datarow__sgl">
                                                                        <div class="datarow__left">
                                                                            <span class="datarow__status">Refunded</span>
                                                                        </div>
                                                                        <div class="datarow__right">
                                                                            <span class="datarow__data">
                                                      <strong>$0.00 USD</strong>
                                                </span>
                                                                        </div>
                                                                    </li>
                                                                    <li class="datarow__sgl">
                                                                        <div class="datarow__left">
                                                                            <span class="datarow__status">Collections</span>
                                                                        </div>
                                                                        <div class="datarow__right">
                                                                            <span class="datarow__data">
                                                    <strong>$0.00 USD</strong>
                                                </span>
                                                                        </div>
                                                                    </li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                        <!-- <antares-comments></antares-comments> -->
                                                </div>
                                            </div>

                                            <!--Client value END-->


                                            <!--client contacts-->
                                            <div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="0" data-gs-y="20" data-gs-width="5" data-gs-height="10"
                                                data-gs-min-width="5" data-gs-min-height="6" data-gs-auto-position="0">
                                                <div class="grid-stack-item-content">
                                                    <% include ../layout/widget_edit %>
                                                        <div class="card card--contacts card--scrollbox card--more-gradient">
                                                            <div class="card__header">
                                                                <div class="card__header-left">
                                                                    <span>CLIENT CONTACTS</span>
                                                                </div>
                                                                <div class="card__header-right">
                                                                    <div class="ddown">
                                                                        <div class="ddown__init ddown__init--clean btn-more mdl-js-button mdl-js-ripple-effect">
                                                                            <i class="zmdi zmdi-more-vert"></i></div>
                                                                        <div class="ddown__content">
                                                                            <div class="ddown__arrow"></div>
                                                                            <ul class="ddown__menu">
                                                                                <li class="ddown__header"><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-account-add"></i><span>Add New Client</span></a>
                                                                                </li>
                                                                                <li class=""><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-file-plus"></i><span>Create Invoice</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-email"></i><span>Send Email</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-ticket-star"></i><span>Open New Ticket</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-accounts-list"></i><span>Add Contact</span></a>
                                                                                </li>
                                                                                <li><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href="#"><i
                                                                class="zmdi zmdi-money-box"></i><span>Add Founds</span></a>
                                                                                </li>
                                                                                <li class="ddown__footer"><a class="mdl-js-button mdl-js-ripple-effect"
                                                                                        href=""><i
                                                                class="zmdi zmdi-square-right"></i><span>Login As Client</span></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="datarow mobile-target--overflow">
                                                                <div class="card__content" style="max-height:300px; margin-top:12px;" data-scrollable>

                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--active avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Anna Niemiec</span>
                                                                            <span class="flex-block__desc">anna@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--active avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_3.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Damian Piecuchc</span>
                                                                            <span class="flex-block__desc">damian@rsstudio.net</span>
                                                                        </div>
                                                                        <span class="flex-block__badge">10min</span>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--warning avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Piotr Dolega</span>
                                                                            <span class="flex-block__desc">peter@inbs.software</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_4.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Anna Niemiec</span>
                                                                            <span class="flex-block__desc">anna@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--active avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Anna Niemiec</span>
                                                                            <span class="flex-block__desc">anna@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--active avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_3.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Damian Piecuchc</span>
                                                                            <span class="flex-block__desc">damian@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--warning avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Piotr Dolega</span>
                                                                            <span class="flex-block__desc">peter@inbs.software</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_4.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Anna Niemiec</span>
                                                                            <span class="flex-block__desc">anna@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--active avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Anna Niemiec</span>
                                                                            <span class="flex-block__desc">anna@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--active avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_3.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Damian Piecuchc</span>
                                                                            <span class="flex-block__desc">damian@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--warning avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Piotr Dolega</span>
                                                                            <span class="flex-block__desc">peter@inbs.software</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="#" class="flex-block">
                                                                        <div class="avatar avatar--xs">
                                                                            <img src="img/avatars/avatar_sample_4.png" alt="Avatar">
                                                                        </div>
                                                                        <div class="flex-block__content">
                                                                            <span class="flex-block__title">Anna Niemiec</span>
                                                                            <span class="flex-block__desc">anna@rsstudio.net</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="mobile-toogle--box">
                                                                <div class="card__mobile-toggle mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-caret-down"></i></div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <!--client contacts END-->

                                            <!--BIG TABLE Logs-->
                                            <div class="grid-stack-item" data-gs-no-move="1" data-gs-no-resize="1" data-gs-x="5" data-gs-y="22" data-gs-width="14" data-gs-height="16"
                                                data-gs-min-width="13" data-gs-min-height="16" data-gs-auto-position="0">
                                                <div class="grid-stack-item-content">
                                                    <% include ../layout/widget_edit %>
                                                        <div class="card card--pagination card--logs card-block--logs">
                                                            <div class="card__header">
                                                                <div class="card__header-left">
                                                                    <span>Logs</span>
                                                                </div>
                                                                <div class="card__header-right">

                                                                </div>
                                                            </div>
                                                            <div class="card__content datarow flex ff-cnw jc-flex-start">
                                                                <% include ../layout/card_ctrls %>
                                                                    <div class="datarow">
                                                                        <div data-scrollable>
                                                                            <ul class="timeline">
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            BrandFIRST
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand 2
                                                                                                                </a>                                                                                            has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            Brand1 <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand
                                                            2</a> has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="timeline__entry--ok">
                                                                                    <div class="timeline__indicator" data-color="#0080FF" data-tooltip-inline="Brands"></div>
                                                                                    <div class="timeline__padding">
                                                                                        <div>
                                                                                            BrandLAST
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">Brand 2
                                                                                                                </a>                                                                                            has been updated by <a href="http://demo.antaresproject.io/user/1/edit">Admin
                                                            Demo</a> with options identifier <a href="http://demo.antaresproject.io/admin/brands/40/edit">12</a>                                                                                            and colors identifier
                                                                                            <a href="http://demo.antaresproject.io/admin/brands/40/edit">9</a>
                                                                                            <span> <span
                                                                    data-tooltip-inline="2016-09-02 08:31:41"
                                                                    tabindex="0">3 days ago</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="pagination">
                                                                            <div class="pagination-list simple-pagination--list"></div>
                                                                            <div class="pagination-current simple-pagination--current antares-pagination">
                                                                                <ul>
                                                                                    <li>
                                                                                        <a class="current10 active mdl-js-button mdl-js-ripple-effect">10</a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a class="current25 mdl-js-button mdl-js-ripple-effect">25</a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a class="current50 mdl-js-button mdl-js-ripple-effect">50</a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a class="current100 mdl-js-button mdl-js-ripple-effect">100</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <!--BIG TABLE Logs END-->

                                        </div>
                                    </section>
            </div>
            </div>
            <% include ../layout/js_files %>
</body>

</html>
