<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Antares Dashboard</title>
    <% include ../layout/color_template %>
    <% include ../layout/css_files %>
</head>

<body>

    <script type="text/x-template" id="vue-page-dashboard">
        <section class="main-content" v-cloak>
            <!-- Gridstack -->
            <div class="grid-stack" style="opacity:0;">
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="0" data-gs-y="0" data-gs-width="6" data-gs-height="10" data-gs-min-width="6" data-gs-min-height="10">
                    <div class="grid-stack-item-content">
                        <card-chart-billing></card-chart-billing>
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="6" data-gs-y="0" data-gs-width="6" data-gs-height="10" data-gs-min-width="6" data-gs-min-height="10">
                    <div class="grid-stack-item-content">
                        <card-chart-subscriptions></card-chart-subscriptions>
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="0" data-gs-y="10" data-gs-width="6" data-gs-height="10" data-gs-min-width="6" data-gs-min-height="10">
                    <div class="grid-stack-item-content">
                        <card-chart-orders></card-chart-orders>
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="6" data-gs-y="10" data-gs-width="6" data-gs-height="10" data-gs-min-width="6" data-gs-min-height="10">
                    <div class="grid-stack-item-content">
                        <card-chart-tickets></card-chart-tickets>
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="0" data-gs-y="20" data-gs-width="3" data-gs-height="15" data-gs-min-width="3" data-gs-min-height="11">
                    <div class="grid-stack-item-content">
                        <card-info></card-info>
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="3" data-gs-y="20" data-gs-width="3" data-gs-height="10" data-gs-min-width="2" data-gs-min-height="11">
                    <div class="grid-stack-item-content">
                        <card-news></card-news>
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="6" data-gs-y="20" data-gs-width="6" data-gs-height="12" data-gs-min-width="5" data-gs-min-height="12" data-card-name="system-logs" data-anijs="if: mouseover, on: body, do: swing animated">
                    <div class="grid-stack-item-content">
                        <card-logs></card-logs>
                    </div>
                </div>
            </div>
        </section>
    </script>



    <% include ../layout/templates_dashboard %>
        <div id="app-wrapper">
            <% include ../layout/sidebar %>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <div class="app-content page-dashboard dashboard--vue">
                    <% include ../layout/card_bar %>
                    <% include ../layout/mainhead %>
                    <% include ../layout/sidebar_notifications %>
                    <div id="dashboard-container">
                        <vue-page-dashboard></vue-page-dashboard>
                    </div>
                </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>

        <% include ../layout/js_files %>
</body>

</html>
