<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Dashboard</title>
    <% if(mainMenuType === 'wide'){ %>
        <% include ../layout/color_template_wide %>
            <% } else{ %>
                <% include ../layout/color_template %>
                    <% } %>
                        <% include ../layout/css_files %>
</head>

<body>
    <% include ../layout/app_wrapper_start_tag %>

        <% if(clientArea){ %>
            <% include ../layout/mode_clientArea/CA_menutop %>
                <% } else{ %>
                    <% include ../layout/main_menu_html %>
                        <% } %>

                            <!-- DIALOG MODAL | END -->
                            <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                            <div class="app-content page-error page-error--no-logo">
                                <% var breadData = 'Error 400'; %>
                                    <% if(clientArea){ %>
                                        <% include ../layout/mode_clientArea/CA_mainhead %>
                                            <% } else{ %>
                                                <% include ../layout/mainhead %>
                                                    <% } %>
                                                        <% include ../layout/sidebar_notifications %>
                                                            <% include ../layout/sidebar_alerts %>
                                                                <section class="main-content">
                                                                    <div class="error-container">
                                                                        <div class="top-area">

                                                                            <div class="error-message">
                                                                                <div class="error-message__bg"></div>
                                                                                <div class="error-message__text">
                                                                                    <span class="error-code">400</span>
                                                                                    <span class="error-desc">Error</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bottom-area">
                                                                            <div class="error-details">
                                                                                <h3>Reason</h3>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                                    elit, sed do eiusmod tempor incididunt
                                                                                    ut labore et dolore magna aliqua. Ut
                                                                                    enim ad minim veniam, quis nostrud exercitation
                                                                                    ullamco laboris nisi ut aliquip ex ea
                                                                                    commodo consequat. Duis aute irure dolor
                                                                                    in reprehenderit in voluptate velit esse
                                                                                    cillum dolore eu fugiat nulla pariatur.
                                                                                    Excepteur sint occaecat cupidatat non
                                                                                    proident, sunt in culpa qui officia deserunt
                                                                                    mollit anim id est laborum.</p>
                                                                                <h3>Possible Solution</h3>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                                    elit, sed do eiusmod tempor incididunt
                                                                                    ut labore et dolore magna aliqua. Ut
                                                                                    enim ad minim veniam, quis nostrud exercitation
                                                                                    ullamco laboris nisi ut aliquip ex ea
                                                                                    commodo consequat. Excepteur sint occaecat
                                                                                    cupidatat non proident, sunt in culpa
                                                                                    qui officia deserunt mollit anim id est
                                                                                    laborum.
                                                                                </p>
                                                                                <div class="btn-group">
                                                                                    <a class="go-back btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect" onclick="javascript:history.back()"><i
                                    class="zmdi zmdi-long-arrow-left"></i> Back to previous page</a>
                                                                                    <a class="open-modal btn btn--link btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Can't
                            solve the problem?</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                            </div>
                            </div>

                            <% include ../layout/error_page_modal %>
                                <% include ../layout/js_files %>

                                    <script>

                                    </script>

</body>

</html>
