<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Forms Horizontal</title>
    <% include ../layout/color_template %>
    <% include ../layout/css_files %>
</head>
<body>
<div id="app-wrapper">
    <% include ../layout/sidebar_vue %>
    <div class="app-content" data-scroll-blocked="true">
        <% include ../layout/mainhead %>
        <% include ../layout/sidebar_notifications %>
        <% include ../layout/sidebar_alerts %>
        <section class="main-content nopadding">
            <div class="grid-container grid-container--2col grid-container--footer grid-container--no-padd">

                <% include ../layout/menu_aside %>


                <div class="grid-col grid-col--container">
                    <div class="menu-mobile-settings--box">
                        <select class="menu-mobile-settings" data-selectAR--search="true" name="select" data-selectivity-no-search="true">
                        </select>
                    </div>
                    <section class="generals-form ">
                        <div class="col-group">
                            <div class="col-16 text-c mb50 mt32">
                                <h1>Forms Horizontal - Dev Area</h1>
                            </div>
                            <div class="col-16 ">
                                <form class="form-validation form--hor" id="form-valid-test" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Error list</legend>
                                        <div class="form-errors" id="form-errors"></div>
                                        <div class="form-block ">
                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Text</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="text" name="testName" id="testName"
                                                               placeholder="RS Studio" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Number</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="number" name="Number" placeholder="RS Studio"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Password</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="password" name="Password" placeholder="RS Studio"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Control element error with
                                                        icon</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <div class="input-field">
                                                            <input type="text" name="with_desc"
                                                                   placeholder="Placeholder" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="1" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Input - simple types</legend>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Text</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="text" name="Text" placeholder="RS Studio" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Text disabled</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="text" name="Text" placeholder="RS Studio" disabled
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Text read only</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="text" name="Text" placeholder="RS Studio" readonly
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Number</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="number" name="Number" placeholder="RS Studio"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Password</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="password" name="Password" placeholder="RS Studio"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Control element error with
                                                        icon</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input type="text" name="with_desc" placeholder="Placeholder"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="2" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Input File</legend>
                                        <div class="form-block">
                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">File upload</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <label class="file-upload" for="input-upload">
                                                            <a class="btn btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect mr16">Select
                                                                Files</a>
                                                            <input type="text" placeholder="File path"
                                                                   class="disabled file-path" disabled>
                                                            <input type="file" name="input-upload" id="input-upload"
                                                                   class="input-upload" required>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-block">
                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">File upload Drag&amp;Drop</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <div class="dropzone dropzone-form">
                                                            <div class="dz-message" data-dz-message>
                                                                <div class="dz-m__current">
                                                                    <img src="img/theme/antares/logo/logo_tear.svg"
                                                                         alt="">
                                                                </div>
                                                                <div class="dz-m__header">
                                                                    <i class="zmdi zmdi-wallpaper"></i>
                                                                </div>
                                                                <div class="dz-m__content">
                                                                    <span>Drag &amp; drop,</span>
                                                                    <span>or click to upload</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Input Date</legend>
                                            <div class="form-block">
                                                <div class="col-group">

                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Date Range picker</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input data-daterangepicker="true" placeholder="Placeholder"
                                                               name="daterange" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="form-block">
                                                <div class="col-group">

                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">TimePicker</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input data-timepicker="true" placeholder="Placeholder"
                                                               name="timepicker" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="form-block">
                                                <div class="col-group">

                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">DatePicker</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input data-datepicker="true" placeholder="Placeholder"
                                                               name="datepicker" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="form-block">
                                                <div class="col-group">

                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">DateTimePicker</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <input data-datetimepicker="true" placeholder="Placeholder"
                                                               name="timedatepicker" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Textarea</legend>
                                        <!--Single | Input Group  -->
                                            <div class="form-block">
                                                <div class="col-group">

                                                <div class="child-align-top col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Textarea</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <textarea class="h150" name="textarea" cols="50" rows="5"
                                                                  required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="3" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Input-group</legend>
                                        <!--Single | Input Group  -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input Group</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group input-field--pre">
                                                        <!-- <i class="zmdi zmdi-close"></i> -->
                                                        <div class="input-field__pre"><span>siemanko.</span></div>
                                                        <input type="text" name="text1" placeholder="Placeholder"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Input Group  -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input Group</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group input-field--suff">
                                                        <input type="text" name="text2" placeholder="Placeholder"
                                                               required>
                                                        <div class="input-field__suff"><span>.rsstudio.net</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Input Group  -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input Group</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group input-field--suff input-field--pre">
                                                        <div class="input-field__pre"><span>siemanko.</span></div>
                                                        <input type="text" name="text3" placeholder="Placeholder"
                                                               required>
                                                        <div class="input-field__suff"><span>@rsstudio.net</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Input Group with button -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input group with button</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group input-field--btn">
                                                        <input type="text" name="text4" placeholder="Placeholder"
                                                               required>
                                                        <a href="#"
                                                           class="btn btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect btn--input">Search</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Input Short -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Control Short</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group input-field--short">
                                                        <input type="text" name="text5" placeholder="" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="Input-with-button">
                                        <legend>Input with button</legend>
                                        <!--Single | Size Small - 32 -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input with button XS</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group">
                                                        <input class="size--small mr8" type="text"
                                                               placeholder="Input Small (32px height)"
                                                               name="with-button" required>
                                                        <a href="#"
                                                           class="btn btn--s-small btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Button
                                                            Small</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Size Default - 36sd -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input with button SM</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group">
                                                        <input class="size--default mr8" type="text"
                                                               placeholder="Input Default (36px height)"
                                                               name="with-button2" required>
                                                        <a href="#"
                                                           class="btn btn--primary btn--s-default mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Button
                                                            Default</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Size Medium - 40 -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input with button MD</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group">
                                                        <input class="size--medium mr8" type="text"
                                                               placeholder="Input Medium (40px height)"
                                                               name="with-button3" required>
                                                        <a href="#"
                                                           class="btn btn--s-medium btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Button
                                                            Medium</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Size Large - 46 -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input with button LG</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group">
                                                        <input class="size--large mr8" type="text"
                                                               placeholder="Input Large (46px height)"
                                                               name="with-button4" required>
                                                        <a href="#"
                                                           class="btn btn--s-large btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Button
                                                            Large</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Single | Size Large - 52sd -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Input with button XL</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--group">
                                                        <input class="size--extra-large mr8" type="text"
                                                               placeholder="Input Extra Large (52px height)"
                                                               name="with-button5" required>
                                                        <a href="#"
                                                           class="btn btn--s-extra-large btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Button
                                                            Extra Large</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">
                                            <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <div class="input-field">
                                                            <button type="submit" name="action"
                                                                    class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                                SEND
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="2" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Select</legend>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Select default</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--icon">
                                                        <span class="input-field__icon"><i
                                                                    class="zmdi zmdi-hd"></i></span>
                                                        <select data-selectAR="true" name="select12sadadas4"
                                                                data-placeholder="Select an option" required>
                                                            <option value=""></option>
                                                            <option value="United States of America - English">United
                                                                States of America - English
                                                            </option>
                                                            <option value="Option two...">Option two...</option>
                                                            <option value="Option three...">Option three...</option>
                                                            <option value="Option 4">Option 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Select with search</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--icon">
                                                        <span class="input-field__icon"><i
                                                                    class="zmdi zmdi-hd"></i></span>
                                                        <select data-selectAR--search="true"
                                                                name="sel21ec1231231231t12sadadas4"
                                                                data-placeholder="Select an option" required>
                                                            <option value=""></option>
                                                            <option value="United States of America - English">United
                                                                States of America - English
                                                            </option>
                                                            <option value="Option two...">Option two...</option>
                                                            <option value="Option three...">Option three...</option>
                                                            <option value="Option 4">Option 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Select with Tags</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field">
                                                        <select name="select51" data-selectAR="true" multiple="multiple"
                                                                data-placeholder="Select an option" required>
                                                            <option value="1231">United States of America - English
                                                            </option>
                                                            <option value="412414">Option two...</option>
                                                            <option value="123123">Option three...</option>
                                                            <option value="1231231">Option 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-4 col-8 col-mb-8">
                                                    <label class="form-block__name">Select Material Design</label>
                                                </div>
                                                <div class="col-dt-12 col-8 col-mb-8">
                                                    <div class="input-field input-field--icon">
                                                        <span class="input-field__icon"><i
                                                                    class="zmdi zmdi-hd"></i></span>
                                                        <select name="select12asdasd4" data-selectAR--mdl="true"
                                                                data-placeholder="Select an option" required>
                                                            <option value=""></option>
                                                            <option value="United States of America - English">United
                                                                States of America - English
                                                            </option>
                                                            <option value="Option two...">Option two...</option>
                                                            <option value="Option three...">Option three...</option>
                                                            <option value="Option 4">Option 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-4 col-8 col-mb-8">
                                            </div>
                                            <div class="col-dt-12 col-8 col-mb-8">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Checkbox &amp; Radio Disabled</legend>
                                        <!--Single | Input Group  -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Checkbox</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <input data-icheck="true" type="checkbox" name="checkbox[11]"
                                                               id="checkbox[11]" disabled required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Radio</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <input data-icheck="true" type="radio" name="radio[11]"
                                                               id="radio[11]" disabled required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Switch</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <label class="switch">
                                                            <input class="switch-checkbox" name="switch" type="checkbox"
                                                                   required disabled>
                                                            <div class="switch-container">
                                                                <div class="switch-handle"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-2 col-2 col-mb-2">
                                            </div>
                                            <div class="col-dt-14 col-14 col-mb-14">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Checkbox &amp; Radio Read-Only</legend>
                                        <!--Single | Input Group  -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Checkbox</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short" onclick="return false;"
                                                         onkeydown="return false;">
                                                        <input data-icheck="true" type="checkbox" name="checkbox[11]"
                                                               id="checkbox[11]" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Radio</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <input data-icheck="true" type="radio" name="radio[11]"
                                                               id="radio[11]" class="ro" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Switch</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <label class="switch">
                                                            <input class="switch-checkbox" name="switch" type="checkbox"
                                                                   readonly>
                                                            <div class="switch-container">
                                                                <div class="switch-handle"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-2 col-2 col-mb-2">
                                            </div>
                                            <div class="col-dt-14 col-14 col-mb-14">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Checkbox &amp; Radio</legend>
                                        <!--Single | Input Group  -->
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Checkbox</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <input data-icheck="true" type="checkbox" name="checkbox[11]"
                                                               id="checkbox[11]" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Radio</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <input data-icheck="true" type="radio" name="radio[11]"
                                                               id="radio[11]" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Switch</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field input-field--short">
                                                        <label class="switch">
                                                            <input class="switch-checkbox" name="switch" type="checkbox"
                                                                   required>
                                                            <div class="switch-container">
                                                                <div class="switch-handle"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-2 col-2 col-mb-2">
                                            </div>
                                            <div class="col-dt-14 col-14 col-mb-14">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>Slider</legend>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">Slider</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field">
                                                        <div id="slider1" data-slider="true"></div>
                                                        <input type="text" class="slider-val" name="slider-val"
                                                               required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-2 col-2 col-mb-2">
                                            </div>
                                            <div class="col-dt-14 col-14 col-mb-14">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-16 ">
                                <form id="5" class="form-validation form--hor" method="post" action="">
                                    <fieldset name="inputs">
                                        <legend>MDL Inputs</legend>
                                        <div class="form-block">

                                        <div class="col-group">
                                                <div class="col-dt-2 col-2 col-mb-2">
                                                    <label class="form-block__name">MDL</label>
                                                </div>
                                                <div class="col-dt-14 col-14 col-mb-14">
                                                    <div class="input-field">
                                                        <div class="mdl-textfield mdl-textfield--AR mdl-textfield--floating-label mdl-js-textfield">
                                                            <input class="mdl-textfield__input " type="text"
                                                                   id="sample3" name="mdl-1" required>
                                                            <label class="mdl-textfield__label" for="sample3">Placeholder...</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-block">
                                        <div class="col-group">
                                            <div class="col-dt-2 col-2 col-mb-2">
                                            </div>
                                            <div class="col-dt-14 col-14 col-mb-14">
                                                <div class="input-field">
                                                    <div class="input-field">
                                                        <button type="submit" name="action"
                                                                class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                            SEND
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- FOOTER -->
                        <!-- PLEASE, DONT TOUCH ME -->
                        <!-- I'M FEELING REALLY LOW -->
                        <div class="app-content__footer">
                            <div class="btn-group">
                                <a href="#"
                                   class="btn btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Save
                                    Changes</a>
                                <a href="#"
                                   class="btn btn--md btn--default mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</a>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
</div>
<% include ../layout/js_files %>
</body>

</html>
