<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Settings</title>
    include ../layout/color_template.pug 
    include ../layout/css_files.pug
</head>

<body>
    <div id="app-wrapper">
        include ../layout/sidebar.pug
        <div class="app-content page-settings">
            include ../layout/mainhead.pug 
            include ../layout/sidebar_notifications.pug
            <section class="main-content nopadding">
                <div class="grid-container grid-container--2col grid-container--footer grid-container--no-padd">
                    <select class="menu-mobile-settings" data-selectAR--search="true" name="select" data-selectivity-no-search="true">
                    </select>
                    <div class="grid-col grid-col--menu">
                        <div class="menu-aside-container">
                            <ul class="menu-aside">
                                <li class="is-active">
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-settings"></i><span>General</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-pin"></i><span>Localisation</span></a>
                                    <ul class="menu-aside__submenu">
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-sun"></i><span>Submenu#1</span></a>
                                        </li>
                                        <li class="is-active">
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-wrench"></i><span>Submenu#2</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-washing-machine"></i><span>Submenu#3</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-subway"></i><span>Submenu#4</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-shield-security"></i><span>Submenu#5</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-shopping-cart"></i><span>Ordering</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-globe"></i><span>Domains</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-email"></i><span>Mail</span></a>
                                </li>
                                <li class="is-active">
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-help"></i><span>Support</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-file"></i><span>Invoices</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-pin"></i><span>Credit</span></a>
                                    <ul class="menu-aside__submenu">
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-sun"></i><span>Submenu2#1</span></a>
                                        </li>
                                        <li class="is-active">
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-wrench"></i><span>Submenu2#2</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-washing-machine"></i><span>Submenu2#3</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-subway"></i><span>Submenu2#4</span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-shield-security"></i><span>Submenu2#5</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="menu-aside">
                                <li class="menu-aside__title"><span>Separator title</span></li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-settings"></i><span>General</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-pin"></i><span>Localisation</span></a>
                                </li>
                                <li>
                                    <a href="#" class="mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-shopping-cart"></i><span>Ordering</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-col grid-col--container">
                        <section class="generals-form">
                            <div class="col-group">
                                <div class="col-16 text-c mb50 mt32">
                                    <h1>Form Elements</h1>
                                </div>
                                <!-- PASTE HERE -->
                                <div class="col-8">
                                    <form>
                                        <fieldset>
                                            <legend>Inputs - simple</legend>
                                            <!--Single | input | no icon -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Company Name</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field">
                                                            <input type="text" placeholder="RS Studio">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Radio Buttons -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Radio Buttons</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="radio-btns">
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Radio Buttons -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Radio Buttons Background Image</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="radio-btns radio-btns--big">
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span data-bg="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158719/traditional-wall-and-floor-tile.jpg" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span data-bg="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158719/traditional-wall-and-floor-tile.jpg" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span data-bg="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158719/traditional-wall-and-floor-tile.jpg" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span data-bg="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158719/traditional-wall-and-floor-tile.jpg" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                            <label data-type="radio-btn">
                                                                <input type="radio" name="toggle"><span data-bg="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158719/traditional-wall-and-floor-tile.jpg" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Icon -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 System Language</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <select name="select" data-selectAR="true">
                                                            <option value="1231" selected>United States of America - English</option>
                                                            <option value="412414">Option two... </option>
                                                            <option value="123123">Option three...</option>
                                                            <option value="1231231">Option 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Icon -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 Tags</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <select name="select231" data-selectAR="true" multiple="multiple">
                                                            <option value="1231" selected>United States of America - English</option>
                                                            <option value="412414">Option two... </option>
                                                            <option value="123123">Option three...</option>
                                                            <option value="1231231">Option 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Icon -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 With Icon</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><i class="zmdi zmdi-hd"></i></span>
                                                            <select name="select" data-selectAR="true">
                                                                <option value="1231" selected>United States of America - English</option>
                                                                <option value="412414">Option two... </option>
                                                                <option value="123123">Option three...</option>
                                                                <option value="1231231">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Time Zone</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><i class="zmdi zmdi-time"></i></span>
                                                            <select name="select" data-selectAR="true">
                                                                <option value="124124" selected>(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                <option value="we123132ek">Option two... </option>
                                                                <option value="123123r1">Option three...</option>
                                                                <option value="qwq2414">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 With Flag</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><span class="flag-icon"></span></span>
                                                            <select name="select" data-flag-select data-selectAR="true">
                                                                <option data-country="pl" value="124124" selected><span class="flag-icon flag-icon-pl"></span> (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                <option data-country="us" value="aSDafd">Option two... </option>
                                                                <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                                <option data-country="nl" value="asdasdas">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 With Flags And Search</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><span class="flag-icon"></span></span>
                                                            <select name="select" data-flag-select--search>
                                                                <option data-country="pl" value="124124" selected><span class="flag-icon flag-icon-pl"></span> (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                <option data-country="us" value="aSDafd">Option two... </option>
                                                                <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                                <option data-country="nl" value="asdasdas">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 With OptGroup</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <select name="select" data-selectAR="true">
                                                            <optgroup label="Swedish Cars">
                                                                <option data-country="pl" value="124124" selected>(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                <option data-country="us" value="aSDafd">Option two... </option>
                                                                <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                                <option data-country="nl" value="asdasdas">Option 4</option>
                                                            </optgroup>
                                                            <optgroup label="Other Cars">
                                                                <option data-country="pl" value="124124" selected>(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                <option data-country="us" value="aSDafd">Option two... </option>
                                                                <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                                <option data-country="nl" value="asdasdas">Option 4</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select2 With OptGroup &amp; Flag</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><span class="flag-icon"></span></span>
                                                            <select name="select" data-flag-select data-selectAR="true">
                                                                <optgroup label="Swedish Cars">
                                                                    <option data-country="pl" value="124124" selected>(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                    <option data-country="us" value="aSDafd">Option two... </option>
                                                                    <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                                    <option data-country="nl" value="asdasdas">Option 4</option>
                                                                </optgroup>
                                                                <optgroup label="Other Cars">
                                                                    <option data-country="pl" value="124124" selected>(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                                    <option data-country="us" value="aSDafd">Option two... </option>
                                                                    <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                                    <option data-country="nl" value="asdasdas">Option 4</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Date Format</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><i class="zmdi zmdi-calendar"></i></span>
                                                            <select name="select" data-selectAR="true">
                                                                <option value="123ddw" selected>10/02/2016</option>
                                                                <option value="5131">Option two... </option>
                                                                <option value="34151">Option three...</option>
                                                                <option value="41221f">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Select | Time Zone -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Date Format (Disabled)</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon">
                                                            <span class="input-field__icon"><i class="zmdi zmdi-calendar"></i></span>
                                                            <select class="disabled" name="select" data-selectAR="true">
                                                                <option value="123ddw" selected>10/02/2016</option>
                                                                <option value="5131">Option two... </option>
                                                                <option value="34151">Option three...</option>
                                                                <option value="41221f">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-8 mt56">
                                    <form>
                                        <fieldset>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Active state</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field">
                                                            <input class="input--hover" type="text" placeholder="Placeholder">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Select - Active</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--icon" data-init="true">
                                                            <span class="input-field__icon"><i class="zmdi zmdi-google"></i></span>
                                                            <select class="select--icon-pre" data-selectAR="true">
                                                                <option value="ac12ed" selected>United States of America - English</option>
                                                                <option value="1x124">Option two... </option>
                                                                <option value="zxsa">Option three...</option>
                                                                <option value="1231x">Option 4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-16 ">
                                    <form>
                                        <fieldset>
                                            <legend>More inputs</legend>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name as-flex-start">Control element with descirpiton</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="col-group">
                                                            <div class="input-field input-field--desc">
                                                                <div class="col-16">
                                                                    <div class="input-field__inner">
                                                                        <input type="text" placeholder="Placeholder" class="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-16">
                                                                    <div class="input-field__desc">Cras in dolor dolor. Nullam ultricies turpis nisl. Donec ut diam consectetur, bibendum nunc vel, auctor metus.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name as-flex-start">Control element with right descirpiton</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--desc-right ">
                                                            <div class="input-field__inner">
                                                                <input type="text" placeholder="Placeholder">
                                                            </div>
                                                            <div class="input-field__desc">Cras in dolor dolor. Nullam ultricies turpis nisl. Donec ut diam consectetur, bibendum nunc vel, auctor metus.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-16 ">
                                    <form id="3" type="submit" class="form-validation" method="post" action="">
                                        <fieldset name="inputs">
                                            <!--Single | Input Group  -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input-group</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group input-field--pre">
                                                            <!-- <i class="zmdi zmdi-close"></i> -->
                                                            <div class="input-field__pre"><span>siemanko.</span></div>
                                                            <input type="text" name="text1" placeholder="Placeholder" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Input Group  -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input group</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group input-field--suff">
                                                            <input type="text" name="text2" placeholder="Placeholder" required>
                                                            <div class="input-field__suff"><span>.rsstudio.net</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Input Group  -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input group</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group input-field--suff input-field--pre">
                                                            <div class="input-field__pre"><span>siemanko.</span></div>
                                                            <input type="text" name="text3" placeholder="Placeholder" required>
                                                            <div class="input-field__suff"><span>@rsstudio.net</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Input Group  -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input group with button</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group input-field--btn">
                                                            <input type="text" name="text4" placeholder="Placeholder" required>
                                                            <a href="#" class="btn btn--md btn--primary mdl-button mdl-jsb mdl-re btn--input">Search</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Input Short  -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Control Short</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group input-field--short">
                                                            <input type="text" name="text5" placeholder="" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-8">
                                    <form id="5" type="submit" class="form-validation" method="post" action="">
                                        <fieldset name="Input-with-button">
                                            <legend>Input with button</legend>
                                            <!--Single | Size Small - 32 -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input with button XS</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group">
                                                            <input class="size--small mr8" type="text" placeholder="Input Small (32px height)" name="with-button" required>
                                                            <a href="#" class="btn btn--s-small btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button Small</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Size Small - 36 -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input with button SM</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group">
                                                            <input class="size--default mr8" type="text" placeholder="Input Default (36px height)" name="with-button2" required>
                                                            <a href="#" class="btn btn--primary btn--s-default mdl-button mdl-js-button mdl-js-ripple-effect">Button Default</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Size Small - 40 -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input with button MD</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group">
                                                            <input class="size--medium mr8" type="text" placeholder="Input Medium (40px height)" name="with-button3" required>
                                                            <a href="#" class="btn btn--s-medium btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button Medium</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Size Small - 46 -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input with button LG</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group">
                                                            <input class="size--large mr8" type="text" placeholder="Input Large (46px height)" name="with-button4" required>
                                                            <a href="#" class="btn btn--s-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button Large</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single | Size Small - 52 -->
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name">Input with button XL</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group">
                                                            <input class="size--extra-large mr8" type="text" placeholder="Input Extra Large (52px height)" name="with-button5" required>
                                                            <a href="#" class="btn btn--s-extra-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button Extra Large</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-8">
                                    <form>
                                        <fieldset>
                                            <legend>Additionals</legend>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name as-fs">Datepicker</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field input-field--group">
                                                            <input data-daterangepicker="true" placeholder="Placeholder">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name as-fs">Textarea</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field">
                                                            <textarea name="textarea" cols="50" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-16">
                                    <form>
                                        <fieldset>
                                            <legend>Textarea size classes</legend>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name as-fs">Textarea</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="input-field">
                                                            <textarea class="h350" name="textarea" cols="50" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-group">
                                                <div class="form-block">
                                                    <div class="col-16">
                                                        <label class="form-block__name as-fs">Tooltip</label>
                                                    </div>
                                                    <div class="col-16">
                                                        <div class="form-block">
                                                            <div class="input-field input-field--group">
                                                                <div data-tooltip="true" class="icon material-icons"><i class="zmdi zmdi-help tooltip"></i></div>
                                                                <div class="tooltip-content">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in dolor dolor. Nullam ultricies turpis nisl. Donec ut diam consectetur, bibendum nunc vel, auctor metus. Ut porttitor hendrerit odio nec tincidunt. Morbi metus turpis, aliquam sit amet viverra id, malesuada non quam. Nam pulvinar tincidunt nunc vel vehicula. Curabitur sit amet orci ex. Phasellus et justo pellentesque, porta felis nec, consequat nisl.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </fieldset>
                                    </form>
                                    </div>
                                    <div class="col-16 ">
                                        <form>
                                            <fieldset>
                                                <legend>Radio / checkbox / switch</legend>
                                                <!-- OFF -->
                                                <div class="col-group">
                                                    <div class="col-16">
                                                        <div class="inline-forms">
                                                            <div class="form-block w90">
                                                                <label>Switches:</label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="switch switch--off-icon">
                                                                    <input class="switch-checkbox" type="checkbox" checked="" data-init="true">
                                                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="switch">
                                                                    <input class="switch-checkbox" type="checkbox" checked="" data-init="true">
                                                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="switch switch--off-clean" data-init="true">
                                                                    <input class="switch-checkbox" type="checkbox" checked="">
                                                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                                                </label>
                                                            </div>
                                                            <!-- ON -->
                                                            <div class="form-block">
                                                                <label class="switch switch--on-icon">
                                                                    <input class="switch-checkbox" type="checkbox" checked="">
                                                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="switch">
                                                                    <input class="switch-checkbox" type="checkbox" checked="">
                                                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="switch switch--on-clean">
                                                                    <input class="switch-checkbox" type="checkbox" checked="">
                                                                    <span class="switch-container"><span class="switch-handle"></span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-group">
                                                    <div class="col-16">
                                                        <div class="inline-forms">
                                                            <div class="form-block w90">
                                                                <label>Radios:</label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label>
                                                                    <input data-icheck="true" type="radio" name="radio[1]" id="radio[1]" checked>
                                                                    <span class="mr8">Selected element</span>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label>
                                                                    <input data-icheck="true" type="radio" name="radio[2]" id="radio[2]">
                                                                    <span class="mr8">Not selected element</span>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label>
                                                                    <input data-icheck="true" type="radio" name="radio[3]" id="radio[3]">
                                                                    <span class="mr8">Hover element</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-group">
                                                    <div class="col-16">
                                                        <div class="inline-forms">
                                                            <div class="form-block w90">
                                                                <label>Checkboxes:</label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="flex">
                                                                    <span class="mr8">Selected element</span>
                                                                    <input type="checkbox" data-icheck="true" name="check[1]" id="check[13]" checked>
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="flex">
                                                                    <span class="mr8">Not selected element</span>
                                                                    <input type="checkbox" data-icheck="true" name="check[2]" id="check[125]">
                                                                </label>
                                                            </div>
                                                            <div class="form-block">
                                                                <label class="flex">
                                                                    <span class="mr8">Hover element</span>
                                                                    <input type="checkbox" data-icheck="true" name="check[3]" id="check[61]">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-16">
                                        <form>
                                            <fieldset>
                                                <legend>Slider</legend>
                                                <div class="col-group">
                                                    <div class="form-block" style="width:100%;">
                                                        <div class="col-16">
                                                            <div class="input-field">
                                                                <div id="slider1" data-slider="true"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-16">
                                        <form>
                                            <fieldset>
                                                <legend>Slider Range</legend>
                                                <div class="col-group">
                                                    <div class="form-block" style="width:100%;">
                                                        <div class="col-16">
                                                            <div class="input-field">
                                                                <div id="slider2" data-slider-range="true"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-16">
                                        <form>
                                            <fieldset>
                                                <legend>MD Forms</legend>
                                                <div class="col-group">
                                                    <div class="form-block" style="width:100%;">
                                                        <div class="col-16">
                                                            <label>MD Input</label>
                                                        </div>
                                                        <div class="col-16">
                                                            <div class="input-field">
                                                                <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="mdl-textfield__input" type="text" name="sample-valmd1" id="sample3">
                                                                    <label class="mdl-textfield__label" for="sample3">Placeholder...</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-16 text-c mb50 mt50" style="font-size:36px;">
                                        Alerts
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--glow alert--success alert--lg alert--border mb20" onclick='noty($.extend( {}, APP.noti.successFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--glow alert--error alert--lg alert--border mb20" onclick='noty($.extend( {}, APP.noti.errorFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--glow alert--warning alert--lg alert--border mb20" onclick='noty($.extend( {}, APP.noti.warningFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--glow alert--info alert--lg alert--border mb20" onclick='noty($.extend( {}, APP.noti.infoFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-4">
                                        <div class="alert alert--success alert--md alert--border alert--close mb20" onclick='noty($.extend( {}, APP.noti.successFM("md",  "border"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--error alert--md alert--border alert--close mb20" onclick='noty($.extend( {}, APP.noti.errorFM("md",  "border"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--warning alert--md alert--border alert--close mb20" onclick='noty($.extend( {}, APP.noti.warningFM("md",  "border"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--info alert--md alert--border alert--close mb20" onclick='noty($.extend( {}, APP.noti.infoFM("md",  "border", "noicon"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-4">
                                        <div class="alert alert--success alert--md alert--border alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.successFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--error alert--md alert--border alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.errorFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--warning alert--md alert--border alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.warningFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--info alert--md alert--border alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.infoFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--success alert--md  mb20" onclick='noty($.extend( {}, APP.noti.successFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--error alert--md  mb20" onclick='noty($.extend( {}, APP.noti.errorFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--warning alert--md  mb20" onclick='noty($.extend( {}, APP.noti.warningFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--info alert--md mb20" onclick='noty($.extend( {}, APP.noti.infoFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--success alert--md alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.successFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--error alert--md alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.errorFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--warning alert--md alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.warningFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--info alert--md alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.infoFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-4">
                                        <div class="alert alert--success alert--sm alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.successFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--error alert--sm alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.errorFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--warning alert--sm alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.warningFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--info alert--sm alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.infoFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-group">
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--success alert--xs alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.successFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-check-circle"></i>
                                            <span>Success Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--error alert--xs alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.errorFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                            <span>Error Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--warning alert--xs alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.warningFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                                            <span>Warning Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="alert alert--bg alert--info alert--xs alert--noicon mb20" onclick='noty($.extend( {}, APP.noti.infoFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
                                            <i class="alert__icon zmdi zmdi-info"></i>
                                            <span>Info Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
                                            <i class="alert__close zmdi zmdi-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-content__footer">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Save Changes</a>
                                        <a href="#" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </section>
        </div>
    </div>
    script(src='js/app_cache.js') 
    script(src='js/forms_advanced.js') 
    script(src='js/view_brand_settings.js')
</body>

</html>
