<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Fitler By Column</title>
    <% include ../layout/color_template %>
    <% include ../layout/css_files %>
</head>
<body>
<div id="app-wrapper">
    <% include ../layout/main_menu_html %>
<div class="app-content page-datatables">
    <% var breadData= 'Column Filter'; %>
    <% include ../layout/mainhead %> 
    <% include ../layout/sidebar_notifications %>
    <% include ../layout/sidebar_alerts %>
    <section class="main-content">
        <div class="grid-stack">
            <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="25">
                <div class="grid-stack-item-content" data-scroll-area>
                    <div class="tbl-c" data-scrollable>
                        <div class="card-ctrls mt24">
                            <div class="card-ctrls__left">
                                <select name="select" data-selectAR--mdl-big="true" data-prefix="Show longer value:" class="mr24 select2--prefix">
                                    <option value="all" selected>All</option>
                                    <option value="important">Important Important Important Important Important Important Important Important </option>
                                    <option value="secondary">Secondary</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                    <option value="secondary">Secondary 3</option>
                                    <option value="secondary">Secondary 1</option>
                                </select>
                                <div class="search-box search-box--dark search-box--big ml25 mr50">
                                    <i class="zmdi zmdi-search"></i>
                                    <form action="#">
                                        <div class="search-box__mdl-textfield mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input search-box__search-field" type="text" id="sample2">
                                            <label class="mdl-textfield__label" for="sample2">Search...</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-ctrls__right">
                                <div class="ddown ddown--columns">
                                    <div class="ddown__init btn--dropdown btn btn--dt-columns btn--capitalize btn--md btn--primary mdl-js-button mdl-js-ripple-effect">Columns</div>
                                    <div class="ddown__content">
                                        <div class="ddown__arrow"></div>
                                        <ul class="ddown__menu">
                                        </ul>
                                    </div>
                                </div>
                                <div class="ddown ddown--left">
                                    <div class="ddown__init btn--dropdown btn btn--capitalize btn--md btn--primary mdl-js-button ml8" id="table-ma" disabled>With Selected</div>
                                    <div class="ddown__content">
                                        <div class="ddown__arrow"></div>
                                        <ul class="ddown__menu">
                                            <li><a class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="zmdi zmdi-group"></i><span>Client Overview</span></a></li>
                                            <li><a class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="zmdi zmdi-rss"></i><span>Client Contacts</span></a></li>
                                            <li><a class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="zmdi zmdi-case"></i><span>Log In As Client</span></a></li>
                                            <li><a class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="zmdi zmdi-cast"></i><span>Archive Client</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="billevo-table " data-adjust-height data-table-init="true" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="no-sort">ID</th>
                                    <th>First Name</th>
                                    <th class="no-sort">Last Name</th>
                                    <th class="no-sort">Company Name</th>
                                    <th class="no-sort">Email Address</th>
                                    <th class="no-sort">Services</th>
                                    <th class="no-sort">Created</th>
                                    <th class="no-sort">Status</th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort is-hidden"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Anna</td>
                                    <td>Niemiec</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">anna@rsstudio.net</a></td>
                                    <td>0(0)</td>
                                    <td>08/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Andrew</td>
                                    <td>Golota</td>
                                    <td>KSW</td>
                                    <td><a title="email address" href="#">email@ksw.com.net.pl</a></td>
                                    <td>1(2)</td>
                                    <td>12/05/2012</td>
                                    <td><span class="label-basic label-basic--danger">Danger</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--info">Pending transfer</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Anna</td>
                                    <td>Niemiec</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">anna@rsstudio.net</a></td>
                                    <td>0(0)</td>
                                    <td>08/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Andrew</td>
                                    <td>Golota</td>
                                    <td>KSW</td>
                                    <td><a title="email address" href="#">email@ksw.com.net.pl</a></td>
                                    <td>1(2)</td>
                                    <td>12/05/2012</td>
                                    <td><span class="label-basic label-basic--danger">Danger</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--info">Pending transfer</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Anna</td>
                                    <td>Niemiec</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">anna@rsstudio.net</a></td>
                                    <td>0(0)</td>
                                    <td>08/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Andrew</td>
                                    <td>Golota</td>
                                    <td>KSW</td>
                                    <td><a title="email address" href="#">email@ksw.com.net.pl</a></td>
                                    <td>1(2)</td>
                                    <td>12/05/2012</td>
                                    <td><span class="label-basic label-basic--danger">Danger</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--info">Pending transfer</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Anna</td>
                                    <td>Niemiec</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">anna@rsstudio.net</a></td>
                                    <td>0(0)</td>
                                    <td>08/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--success">ACTIVE</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Andrew</td>
                                    <td>Golota</td>
                                    <td>KSW</td>
                                    <td><a title="email address" href="#">email@ksw.com.net.pl</a></td>
                                    <td>1(2)</td>
                                    <td>12/05/2012</td>
                                    <td><span class="label-basic label-basic--danger">Danger</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Paul</td>
                                    <td>Bis</td>
                                    <td>RS Studio</td>
                                    <td><a title="email address" href="#">email@rsstudio.net</a></td>
                                    <td>1(2)</td>
                                    <td>22/04/2015</td>
                                    <td><span class="label-basic label-basic--info">Pending transfer</span></td>
                                    <td class="dt-actions"><i class="zmdi zmdi-more"></i></td>
                                    <td class="is-hidden cm-actions">
                                        <ul>
                                            <li><a href="http://modulesgarden.com" data-icon="google" data-text="451231">First</a></li>
                                            <li><a href="http://modulesgarden.com" data-icon="twitter" data-text="1231231">Second</a></li>
                                            <li>
                                                <a data-text="Third - Submenu">Third</a>
                                                <ul>
                                                    <li><a href="http://modulesgarden.com" data-icon="codepen" data-text="Deep #1">Sub One</a></li>
                                                    <li><a href="http://modulesgarden.com" data-icon="google" data-text="Deep #2">Sub Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Company Name</th>
                                    <th>Email Address</th>
                                    <th>Services</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th class="is-hidden"></th>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>

<% include ../layout/js_files %>  </body>
</html>
