<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Antares Translations</title>
    <% include ../layout/color_template %>
        <% include ../layout/css_files %>
</head>

<body>
    <% include ../layout/app_wrapper_start_tag %>
        <% include ../layout/main_menu_html %>
            <div class="app-content page-brand-settings">
                <% var breadData= 'Translations'; %>
                    <% include ../layout/mainhead %>
                        <% include ../layout/sidebar_notifications %>
                            <% include ../layout/sidebar_alerts %>
                                <section class="main-content nopadding">
                                    <div class="grid-container grid-container--footer grid-container--2col grid-container--no-padd">
                                        <% include ../layout/menu_aside %>
                                            <div class="grid-col grid-col--container card--pagination">
                                                <div class="menu-mobile-settings--box">
                                                    <select class="menu-mobile-settings" data-selectAR--search="true" name="select">
                            </select>
                                                </div>
                                                <div class="header-translations">
                                                    <div>
                                                        <select class="translations-component" data-selectAR--mdl-short="true">
                                    <option value="all" selected data-url="#">All</option>
                                    <optgroup label="Core">                                        
                                            <option  value="foundation" data-url="#" >
                                                Foundation
                                            </option>                                         
                                            <option  value="foundation" data-url="#" >
                                                Users
                                            </option> 
                                    </optgroup> 
                                </select>
                                                    </div>
                                                    <div class="header-translations__search">
                                                        <div class="search-box  search-box--dark search-box--big mr16">
                                                            <i class="zmdi zmdi-search search-box__open"></i>
                                                            <form action="#">
                                                                <div class="search-box__mdl-textfield mdl-textfield mdl-js-textfield">
                                                                    <input class="mdl-textfield__input search-box__search-field" type="text" id="main-search">
                                                                    <label class="mdl-textfield__label" for="#main-search">Search...</label>
                                                                </div>
                                                            </form>
                                                            <i class="search-box__close zmdi zmdi-close mr16 "></i>
                                                        </div>
                                                    </div>
                                                    <div class="header-translation__compare">
                                                        <div class="ddown ddown--flags ddown">
                                                            <div class="mdl-js-button mdl-js-ripple-effect btn btn--md ddown__init  btn--default ">
                                                                <div class="flag-icon flag-icon-fr flag-translate">
                                                                </div>
                                                                <div class="arrow">
                                                                    <i class="zmdi zmdi-chevron-right"></i>
                                                                </div>
                                                                <div class="flag-icon flag-icon-us flag-compare">
                                                                </div>
                                                            </div>
                                                            <div class="ddown__content">
                                                                <div class="ddown__menu">
                                                                    <div class="header-translation__country">
                                                                        <div class="header-translation__select-text">Translate:
                                                                        </div>
                                                                        <div class="form-block">
                                                                            <div class="input-field input-field--icon input-field--desc-right">
                                                                                <span class="input-field__icon"><span class="flag-icon"></span></span>
                                                                                <select class="header-translation__translate-select change-language" name="select" data-flag-select-translations data-selectAR="true">
                                                            <option data-url="#" data-country="pl" value="124124" ><span class="flag-icon flag-icon-pl"></span>English</option>
                                                            <option data-url="#" data-country="us" value="aSDafd" selected>Option two... </option>
                                                            <option data-url="#" data-country="fr" value="fa34wf4e3">Option three...</option>
                                                            <option data-url="#" data-country="nl" value="asdasdas">Option 4</option>
                                                        </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="header-translation__country">
                                                                        <div class="header-translation__select-text">Compare To:
                                                                        </div>
                                                                        <div class="form-block">
                                                                            <div class="input-field input-field--icon input-field--desc-right">
                                                                                <span class="input-field__icon"><span class="flag-icon"></span></span>
                                                                                <select class="header-translation__compare-select column-translation" name="select" data-flag-select-translations data-selectAR="true"
                                                                                    rel="#" default="en">                                        
                                                            <option data-country="pl" value="124124" selected><span class="flag-icon flag-icon-pl"></span>English</option>
                                                            <option data-country="us" value="aSDafd">Option two... </option>
                                                            <option data-country="fr" value="fa34wf4e3">Option three...</option>
                                                            <option data-country="nl" value="asdasdas">Option 4</option>
                                                        </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="translations-body">
                                                    <template id="new-row-template" class="hidden">
                                                        <tr class="translation-new-row ">
                                                            <td class="translation-row__counter"></td>
                                                            <td class="translation-new-row__key">
                                                                <fieldset>
                                                                    <div class="form-block nomargin">
                                                                        <div class="input-field">
                                                                            <textarea rows='1' name="key" id="new-key" name="Text" placeholder="Key"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </td>

                                                            <td class="translation-new-row__translation">
                                                                <fieldset>
                                                                    <div class="form-block nomargin">
                                                                        <div class="input-field">
                                                                            <textarea rows='1' type="text" name="translation" id="translation" placeholder="Translation"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </td>

                                                            <td class="translation-mobile-action">
                                                                <div class="translation-new-row__icon">
                                                                    <i class="zmdi zmdi-plus"></i>
                                                                </div>
                                                                <div class="translations-new-row__mobile">
                                                                    <a id="translations-new-row__add" name="action" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                                                Add translation
                                            </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                    <form action="#" method="POST" class="translations-container">
                                                        <div class="tbl-c tbl-translations">
                                                            <table data-massable="0" data-scrollable data-table-init="true" class="translations-table" id="tCy" cellspacing="0" width="100%"
                                                                data-adjust-height="1" data-url="api/translations.json">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="no-sort">Id</th>
                                                                        <th class="">Key</th>
                                                                        <th class="">Translation</th>
                                                                        <th class="inline"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                        <% include ../layout/app_footer %>
                                                    </form>
                                                </div>
                                            </div>
                                    </div>
                                </section>
            </div>
            </div>
            <% include ../layout/js_files %>
</body>

</html>
