<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Zero Data</title>
    <% include ../layout/color_template %>
        <% include ../layout/css_files %>
</head>

<body>
    <% include ../layout/app_wrapper_start_tag %>
        <% include ../layout/main_menu_html %>
            <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            <div class="app-content page-dashboard">
                <% include ../layout/card_bar %>
                    <% var breadData= 'Zero Data'; %>
                        <% include ../layout/mainhead %>
                            <% include ../layout/sidebar_notifications %>
                                <% include ../layout/sidebar_alerts %>
                                    <div class="main-content">
                                        <div class="grid-stack" style="opacity:0;">
                                            <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="14"
                                                data-gs-min-width="2" data-gs-min-height="14">
                                                <div class="grid-stack-item-content">
                                                    <% include ../layout/widget_edit %>
                                                        <div class="card card--clean card--zd">
                                                            <div class="card__header">
                                                                <div class="card__header--left">Zero Data - <span>Extra Small</div>
                                    </div>
                                    <div class="card__content">
                                        <div class="zd zd--xs">
                                            <div class="zd__header">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="zd__content">
                                                <div class="zd__title">You don't have any tickets</div>
                                                <div class="zd__description">
                                                    Lorem ipsum dolor sit amet. <br/> Dolor sit amet.
                                                </div>
                                            </div>
                                            <div class="zd__footer">
                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN NEW TICKET</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="2" data-gs-y="0" data-gs-width="2" data-gs-height="14" data-gs-min-width="2" data-gs-min-height="14">
                            <div class="grid-stack-item-content">
                                <% include ../layout/widget_edit %>
                                <div class="card card--clean card--zd">
                                    <div class="card__header">
                                        <div class="card__header--left">Zero Data - <span>Small</div>
                                    </div>
                                    <div class="card__content">
                                        <div class="zd zd--sm">
                                            <div class="zd__header">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="zd__content">
                                                <div class="zd__title">You don't have any tickets</div>
                                                <div class="zd__description">
                                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                                </div>
                                            </div>
                                            <div class="zd__footer">
                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN NEW TICKET</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="4" data-gs-y="0" data-gs-width="2" data-gs-height="14" data-gs-min-width="2" data-gs-min-height="14">
                            <div class="grid-stack-item-content">
                                <% include ../layout/widget_edit %>
                                <div class="card card--clean card--zd">
                                    <div class="card__header">
                                        <div class="card__header--left">Zero Data - <span>Default</div>
                                    </div>
                                    <div class="card__content">
                                        <div class="zd zd--default">
                                            <div class="zd__header">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="zd__content">
                                                <div class="zd__title">You don't have any tickets</div>
                                                <div class="zd__description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum magna ac efficitur.
                                                </div>
                                            </div>
                                            <div class="zd__footer">
                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN NEW TICKET</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="6" data-gs-y="0" data-gs-width="6" data-gs-height="14" data-gs-min-width="2" data-gs-min-height="14">
                            <div class="grid-stack-item-content">
                                <% include ../layout/widget_edit %>
                                <div class="card card--clean card--zd">
                                    <div class="card__header">
                                        <div class="card__header--left">Zero Data - <span>Large</div>
                                    </div>
                                    <div class="card__content">
                                        <div class="zd zd--lg">
                                            <div class="zd__header">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="zd__content">
                                                <div class="zd__title">You don't have any tickets</div>
                                                <div class="zd__description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum magna ac efficitur.
                                                </div>
                                            </div>
                                            <div class="zd__footer">
                                                <a href="#" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect">OPEN NEW TICKET</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <% include ../layout/js_files %>
</body>

</html>
