input, textarea {
  -webkit-appearance: none;
}

.main-menu-html .nav-container {
  .menu-scroll {
    //height: ~'calc(90vh - 110px)';
    //max-height: inherit;
    .li-submenu-open {
      &.main-menu--brand {
        min-height: 100% !important;
      }
    }
  }
  .submenu-is-active {
    .menu-scroll {
      //height: ~'calc(100vh - 130px)';
      @media screen and (orientation: landscape) {
        //height: ~'calc(100vh - 110px)';
      }
    }
  }

}

.page-datatables {
  .search-box {
    .mdl-js-textfield.search-box__mdl-textfiel {
      display: none;
    }
  }
  .search-box.search-box--toggled {
    width: auto;
    margin-left: inherit !important;
    margin-right: inherit !important;
    .search-box__close {
      right: 4px;
    }
    .mdl-js-textfield.search-box__mdl-textfiel {
      display: block;
      width: auto;
      margin-right: 8px;
      input {
        font-size: 18px;
        height: 23px;
        border-bottom: 0
      }
      .mdl-textfield__label {
        font-size: 18px
      }
    }
  }

}

.main-menu-html .nav-container .menu-scroll {
}

//#app-wrapper .app-content .main-head .item-grp {
//  min-width: 120px;
//}

aside.main-sidebar { // FOR HIDDen BORDERS ON TABLET AND MOBILE DEVICES
  height: 100%;
}

#app-wrapper {
  width: auto;
}

#app-wrapper.mobile-menu-active {
  position: fixed;
  //aside.main-menu-html {
  //  height: ~'calc(100vh - 70px)';
  //  .main-menu.main-menu--primary.li-submenu-open, .main-menu.main-menu--secondary.li-submenu-open {
  //    height: ~'calc(89vh - 135px)';
  //    overflow: auto;
  //  }
  //  @media only screen and (orientation: landscape) {
  //    height: ~'calc(100vh - 40px)';
  //  }
  //}
  .app-content {
    transform: translateX(265px);
    @media only screen and (orientation: landscape) {
      //height: ~'calc(100vh - 40px)';
    }
  }
}

//  @media screen and (orientation: landscape) {
//    height: 100vh;
//  }
//  aside {
//    height: 91vh;
//    @media screen and (orientation: landscape) {
//      height: 100vh;
//    }
//  }
//}// FOR HIDDen BORDERS ON TABLET AND MOBILE DEVICES END

.main-menu-html .nav-container .main-menu li {
  transition: 0ms;
}

.grid-stack-item-content .card.card--chart-small .card__content {
  height: auto;
}

.main-head .breadcrumbs .ddown .ddown__content {
  margin-top: 8px;
}

.card__header-right .ddown .ddown__content {
  margin-top: 32px !important;
}

.card .card-ctrls.tab-search .filters .ddown .ddown__content {
  margin-top: 16px !important;
}

#app-wrapper .page-clients-details .card .card__header > .card__header-right {
  flex: 1
}

#app-wrapper .card .card-ctrls.tab-search .card-ctrls__left .search-box .mdl-textfield__input, #app-wrapper .card .card-ctrls.tab-search .card-ctrls__left .search-box .mdl-textfield__label {
  //height: 36px
}

#app-wrapper .card .card-ctrls.tab-search .card-ctrls__left [data-selectar--mdl=true] + .select2-container--mdl .select2-selection {
  height: 36px;
}

#app-wrapper .app-content section.main-content div.grid-stack .card-datatables.grid-stack-item-content .card.card--pagination {
  height: auto;
  .mdl-tabs {
    height: auto
  }
  .card-ctrls {
    height: auto;
  }
  .dataTables_wrapper {
    height: auto;
  }
}

#app-wrapper .app-content section.main-content div.grid-stack .grid-stack-item-content .card.card--pagination {
  .card-ctrls {
    height: 36px;
  }
  .card-ctrls__right {
    //height: 50px;
  }
  .dataTables_wrapper {
    height: 100%
  }
}

.page-dashboard .comiseo-daterangepicker-triggerbutton {
  //max-width: 60px !important; //se ios10
}

.card .card__content.card__content--flex-column {
  height: auto;
}

.grid-stack-item .grid-stack-item-content .card.card--news {
  min-height: 400px;
}

.grid-container.grid-container--2col .grid-col--container {
  width: 100% !important;
}

.page-email-settings {
  .email-additions .btn-group {
    padding: 0;
    div {
      margin-bottom: 8px;
    }
    a {
      margin-bottom: 8px;
    }
  }
  .grid-container.grid-container--2col .grid-col--container {
    min-height: 450px;
  }
}

#app-wrapper .card .card-ctrls.tab-search .filters .ddown-multi > .btn i {
  width: 28px;
}

//.app-content.page-login {
//  .main-content {
//    height: 100%;
//    .login-box {
//      @media @max450 {
//        height: 100%;
//      }
//      @media @xs {
//        height: auto;
//      }
//    }
//  }
//}

#app-wrapper .card .card-ctrls.tab-search .card-ctrls__left .select2-container--mdl {
  max-width: 160px;
}

//#app-wrapper aside.main-sidebar ul.main-menu li.submenu-open .submenu {
//  height: ~'calc(90vh - 155px)';
//}

.ui-slider { // for scroll input because sliders must have his overflow
  overflow: initial;
}

.app-content__footer {
  .btn.btn--primary {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.badge.badge--md{
  line-height: 20px;
}
//.btn.btn--md {
//  height: 36px;
//}
#app-wrapper .app-content .main-content .card .tbl-c .card-ctrls.tab-search--filter:not(.swiper--no-slides){
  @media only screen and (orientation: landscape){
    margin-bottom: 64px !important;
  }
}
.page-email-settings .btn.btn--md {
  height: auto;
}

.page-email-settings .email-preview .preview-area {
  height: auto;
  padding-bottom: 80px
}

#app-wrapper .card .card-ctrls.tab-search.tab-search--filter .card-ctrls__right .filters .card-filter {
  overflow: visible;

}

.card.card--chart-small .card__content {
  height: auto;
}

.main-head .search-box.search-box--toggled {
  input {
    //width: 130px   // se ios10
  }
}

.page-settings .select2-dropdown ul.select2-results__options li.select2-results__option[aria-selected=true] {
  font-size: 16px;
}

.card.card--chart .card__header-right .comiseo-daterangepicker-triggerbutton {
  width: auto;
}

.card.card--chart .card__header-right form {
  justify-content: flex-end;
}

#table-ma + .ddown__content {
  @media @xs {
    margin-top: 10px;
    .ddown__menu{
      margin-top: 8px;
    }
    .ddown__arrow{
      top: 13px
    }
  }
}

#app-wrapper {
  &.mobile-menu-active {
    overflow: hidden !important;
    height: 90vh;
    @media only screen and (orientation: landscape) {
      height: 89vh;
    }
    .main-menu.li-submenu-open {
      height: ~'calc(90vh - 130px)';
      @media only screen and (orientation: landscape) {
        height: ~'calc(89vh - 130px)';
      }
    }
    .main-menu.li-submenu-open.main-menu--brand {
      @media only screen and (orientation: landscape) {
        height: ~'calc(89vh - 70px)';
      }
    }
  }
}

nav {
  .menu-scroll {
    height: 230px;
    max-height: ~'calc(85vh - 120px)' !important;
    //height: ~'calc(90vh - 410px)' !important;
    //@media only screen and (orientation: landscape) {
    //  height: ~'calc(85vh - 110px)' !important;
    //}
    &.open-second-menu {
      height: 170px;
      //  height: ~'calc(90vh - 460px)' !important;
      //  @media only screen and (orientation: landscape) {
      //    height: ~'calc(85vh - 190px)' !important;
      //  }
    }
  }
}

nav.submenu-is-active .menu-scroll {
  height: ~'calc(90vh - 70px)' !important;
  max-height: ~'calc(100vh - 70px)' !important;
}