.more-trigger {
  @media @min1024 {
    left: 65px;
  }
}

.app-content {
  @media @min1024 {
    margin-left: 230px;
  }
  z-index: 14;

}
@media @min1024 {
  .main-menu > li >a{
    padding: 0;
  }
}
@sidebar-expanded-width: 230px;
@media @min1024 {
  aside.main-sidebar {
      width: @sidebar-expanded-width; //logo
    .main-sidebar__logo {
      background-image: url('../img/theme/antares/logo/logo_sign_white.svg');
      margin-left: 24px;
      width: 156px;
      margin-bottom: 0;
      margin-top: 3px;
    }
      ul.main-menu {
        > li {
          > a {
            flex-flow: row nowrap;
            justify-content: flex-start;
            font-size: 14px;
            height: 55px;
            i {
              margin: 0 27px;
              width: 18px;
            }
            .text {
              margin-top: 0;
            }
          }
          &.submenu-open .submenu {
            left: @sidebar-expanded-width;
          }
        }
      }

  }
}

@media @min1024 {

  aside ul.main-menu .submenu {
    left: 230px !important;
  }

}

.page-clients-details .card--contacts {
    .flex-block__content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .flex-block__title {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .flex-block__desc {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
}

.card-bar .card-bar__rel {
  width: ~'calc(100% - 230px)';
}