<!-- <div class="menu-switcher">menu switcher</div> -->
<% if (mainMenuType == "top") { %>
	<div id="app-wrapper" class="main-sidebar--top">
		<% } else if (mainMenuType == "wide") { %>
			<div id="app-wrapper" class="main-sidebar--expanded">
				<% } else { %>
					<div id="app-wrapper">
						<% } %>
