<div class="swiper-filters--box swiper-filters--no-active" >
    <div class="swiper-container swiper-filters">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper card-filters--swiper">

        </div>
    </div>
    <div class="swiper-filters-next"></div>
    <div class="swiper-filters-prev"></div>
    <div class="swiper-filters-next swiper-filters-next--gradient"></div>
    <div class="swiper-filters-prev swiper-filters-prev--gradient"></div>
</div>


<div class="ddown ddown-multi ">
    <!-- BUTTON -->
    <% include filter_templates %>
    <div class="ddown-multi__init btn--dropdown btn btn--capitalize btn--md btn--default mdl-js-button mdl-js-ripple-effect mr-24">
        <span>Filter</span>
        <i class="zmdi zmdi-filter-list"></i>
    </div>
    <div class="ddown__content">
        <!-- CHANGE THIS -->
        <ul class="ddown-multi__menu">
            <li class="ddown-multi__label"><span>Filter By</span></li>
            <li class="has-submenu">
                <a data-target="services"><span>Services</span></a>
            </li>
            <li class="has-submenu">
                <a data-target="created"><span>Created</span></a>
            </li>
            <li class="has-submenu">
                <a data-target="status"><span>Status</span></a>
            </li>
            <li class="has-submenu">
                <a data-target="date"><span>Date</span></a>
            </li>
            <li class="btn-clear">
                <button class="mdl-js-button mdl-js-ripple-effect btn btn--md btn--default mdl-button btn-filter--clear-all">
                    Clear All Filters
                </button>
            </li>
        </ul>
    </div>
    <div class="ddown__content filter-content" data-type="services" data-min="16" data-max="128">
        <!-- ON THIS after click on btn 'services' -->
        <ul data-name="services" class="ddown-multi__submenu ">
            <li class="ddown-multi__label"><span>Filter By</span></li>
            <li class="ddown-multi__return">
                <a>
                    <i class="zmdi zmdi-chevron-left"></i>
                    <span>Services</span>
                </a>
            </li>
            <li class="ddown__sgl ddown__sgl--range">
                <div class="slider-box">
                    <div class="filter-slider ui-slider--minimal"
                         data-slider-range-filter="true"></div>
                </div>

                <div class="form-block ff-rnw  spinners-box">
                    <div class="spinner-basic">
                        <input class="filter-spinner filter-spinner-mode-min filter-spinner--min"
                               type="number" value="16" data-spinner="true" name="value">
                    </div>
                    <span class="ml16 mr16"> - </span>
                    <div class="spinner-basic">
                        <input class="filter-spinner filter-spinner-mode-max filter-spinner--max"
                               type="number" value="128" data-spinner="true" name="value2">
                    </div>
                </div>
                <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect add-filter">Confirm</a>
            </li>
        </ul>
    </div>
    <div class="ddown__content filter-content" data-type="created" data-min="4" data-max="96">
        <!-- ON THIS after click on btn 'services' -->
        <ul data-name="created" class="ddown-multi__submenu ">
            <li class="ddown-multi__label"><span>Filter By</span></li>
            <li class="ddown-multi__return">
                <a>
                    <i class="zmdi zmdi-chevron-left"></i>
                    <span>Created</span>
                </a>
            </li>
            <li class="ddown__sgl ddown__sgl--range">
                <div class="slider-box">
                    <div class="filter-slider ui-slider--minimal"
                         data-slider-range-filter="true"></div>
                </div>

                <div class="form-block ff-rnw  spinners-box">
                    <div class="spinner-basic">
                        <input class="filter-spinner filter-spinner-mode-min filter-spinner--min"
                               type="number" value="4" data-spinner="true" name="value">
                    </div>
                    <span class="ml16 mr16"> - </span>
                    <div class="spinner-basic">
                        <input class="filter-spinner filter-spinner-mode-max filter-spinner--max"
                               type="number" value="96" data-spinner="true" name="value2">
                    </div>
                </div>
                <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect add-filter">Confirm</a>
            </li>
        </ul>
    </div>
    <div class="ddown__content filter-content" data-type="status">
        <!-- ON THIS after click on btn 'services' -->
        <ul data-name="status" class="ddown-multi__submenu ">
            <li class="ddown-multi__label"><span>Filter By</span></li>
            <li class="ddown-multi__return">
                <a>
                    <i class="zmdi zmdi-chevron-left"></i>
                    <span>Status</span>
                </a>
            </li>
            <li class="ddown__sgl ddown__sgl--range">
                <select name="select" data-selectAR="true" class="select--badge">
                    <option value="Active" selected>Active</option>
                    <option value="Pending">Pending</option>
                    <option value="In space">In space</option>
                </select>
                <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect add-filter">Confirm</a>
            </li>
        </ul>
    </div>
    <div class="ddown__content filter-content" data-type="datePicker">
        <!-- ON THIS after click on btn 'services' -->
        <ul data-name="date" class="ddown-multi__submenu ">
            <li class="ddown-multi__label"><span>Filter By</span></li>
            <li class="ddown-multi__return">
                <a>
                    <i class="zmdi zmdi-chevron-left"></i>
                    <span>Date</span>
                </a>
            </li>
            <li class="ddown__sgl ddown__sgl--range">
                <div class="input-field input-field--group">
                    <input data-daterangepicker="true" placeholder="Placeholder">
                </div>
                <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect add-filter">Confirm</a>
            </li>
        </ul>
    </div>
</div>
