<div class="ddown ddown--three-dots">
    <div class="ddown__init ddown__init--clean btn-more mdl-js-button mdl-js-ripple-effect">
        <i class="zmdi zmdi-more-vert"></i></div>
    <div class="ddown__content">
        <div class="ddown__arrow"></div>
        <ul class="ddown__menu">
            <li class="ddown__header"><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-account-add"></i><span>Add New Client</span></a>
            </li>
            <li class=""><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-file-plus"></i><span>Create Invoice</span></a>
            </li>
            <li><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-email"></i><span>Send Email</span></a>
            </li>
            <li><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-ticket-star"></i><span>Open New Ticket</span></a>
            </li>
            <li><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-accounts-list"></i><span>Add Contact</span></a>
            </li>
            <li><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-money-box"></i><span>Add Founds</span></a>
            </li>
            <li class="ddown__footer"><a class="mdl-js-button mdl-js-ripple-effect"><i
                            class="zmdi zmdi-square-right"></i><span>Login As Client</span></a>
            </li>
        </ul>
    </div>
</div>