    <div class="card-bar" id="widgets-list">
        <div class="card-bar__rel">
            <div class="card-bar__search">
                <span class="card-bar__title">Available Widgets</span>
                <span class="card-bar__desc">You can drag and drop to place them on the dashboards</span>
                <div class="search-box search-box--darkbg">
                    <i class="zmdi zmdi-search"></i>
                    <form action="#">
                        <div class="search-box__mdl-textfield mdl-textfield mdl-js-textfield ">
                            <input class="mdl-textfield__input search-box__search-field" type="text" id="widget-search">
                            <label class="mdl-textfield__label" for="sample2">Search...</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-bar__items">
                <a href="#" class="card-bar__sgl" data-widget="contact-list">
                    <div class="image"></div>
                    <span class="widget-name">Contact List</span>
                </a>
                <a href="#" class="card-bar__sgl" data-widget="clients-details">
                    <div class="image"></div>
                    <span class="widget-name">Clients Details</span>
                </a>
                <a href="#" class="card-bar__sgl" data-widget="something-else">
                    <div class="image"></div>
                    <span class="widget-name">Something Else</span>
                </a>
                <a href="#" class="card-bar__sgl" data-widget="comments">
                    <div class="image"></div>
                    <span class="card-bar__name">Comments</span>
                </a>
                <a href="#" class="card-bar__sgl" data-widget="contact-list">
                    <div class="image"></div>
                    <span class="widget-name">Contact List</span>
                </a>
                <a href="#" class="card-bar__sgl" data-widget="clients-details">
                    <div class="image"></div>
                    <span class="widget-name">Clients Details</span>
                </a>
                <a href="#" class="card-bar__sgl" data-widget="something-else">
                    <div class="image"></div>
                    <span class="widget-name">Something Else</span>
                </a>
            </div>
            <div class="card-bar__close" data-tooltip-inline="End Edit Mode">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
    </div>