<div class="modal modal--problem w600" data-modal="true">
	<form class="form-validation mb0" method="post" action="">
		<fieldset name="inputs">
			<div class="col-group">
				<div class="form-block">
					<div class="col-16">
						<label class="form-block__name">Label</label>
					</div>
					<div class="col-16 mb8">
						<div class="input-field">
							<input type="text" name="Text" placeholder="Placeholder" required="">
						</div>
					</div>
					<div class="col-16">
						<label class="form-block__name">Label</label>
					</div>
					<div class="col-16">
						<div class="input-field">
							<textarea class="h150" name="textarea" placeholder="Placeholder" cols="50" rows="5" required=""></textarea>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

