<a class="flex-block">
	<div class="avatar avatar--active avatar--xs">
		<img src="img/avatars/avatar_sample_2.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Anna Niemiec</span>
		<span class="flex-block__desc">anna@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--active avatar--xs">
		<img src="img/avatars/avatar_sample_3.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Damian Piecuchc</span>
		<span class="flex-block__desc">damian@rsstudio.net</span>
	</div>
	<span class="flex-block__badge">10min</span>
</a>
<a class="flex-block">
	<div class="avatar avatar--warning avatar--xs">
		<img src="img/avatars/avatar_sample_2.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Piotr Dolega</span>
		<span class="flex-block__desc">peter@inbs.software</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--xs">
		<img src="img/avatars/avatar_sample_4.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Anna Niemiec</span>
		<span class="flex-block__desc">anna@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--active avatar--xs">
		<img src="img/avatars/avatar_sample_2.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Anna Niemiec</span>
		<span class="flex-block__desc">anna@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--active avatar--xs">
		<img src="img/avatars/avatar_sample_3.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Damian Piecuchc</span>
		<span class="flex-block__desc">damian@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--warning avatar--xs">
		<img src="img/avatars/avatar_sample_2.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Piotr Dolega</span>
		<span class="flex-block__desc">peter@inbs.software</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--xs">
		<img src="img/avatars/avatar_sample_4.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Anna Niemiec</span>
		<span class="flex-block__desc">anna@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--active avatar--xs">
		<img src="img/avatars/avatar_sample_2.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Anna Niemiec</span>
		<span class="flex-block__desc">anna@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--active avatar--xs">
		<img src="img/avatars/avatar_sample_3.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Damian Piecuchc</span>
		<span class="flex-block__desc">damian@rsstudio.net</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--warning avatar--xs">
		<img src="img/avatars/avatar_sample_2.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Piotr Dolega</span>
		<span class="flex-block__desc">peter@inbs.software</span>
	</div>
</a>
<a class="flex-block">
	<div class="avatar avatar--xs">
		<img src="img/avatars/avatar_sample_4.png" alt="Avatar">
	</div>
	<div class="flex-block__content">
		<span class="flex-block__title">Anna Niemiec</span>
		<span class="flex-block__desc">anna@rsstudio.net</span>
	</div>
</a>