<ul class="timeline">
    <!--li.timeline__entry.timeline__entry&#45;&#45;ok>div.timeline__indicator[data-color="#02a8f3"][data-tooltip-inline="Brand"][data-logs-type="Brand"]+div.timeline__padding>div{Brand}-->

    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 1 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 1 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 1 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 2 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 2 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 2 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 3 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 3 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 3 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 4 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 4 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 5 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 5 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 4 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 6 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 5 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 7 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 6 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 8 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 7 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 9 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>

    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 1 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 1 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 1 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 2 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 2 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 2 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 3 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 3 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 3 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 4 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 4 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 5 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="orange" data-tooltip-inline="Login"
             data-logs-type="Login"></div>
        <div class="timeline__padding">
            <div>
                Login <a>Login 5 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>21</a> and
                colors identifier <a>23</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">4 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 4 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 6 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 5 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 7 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 6 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 8 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="#02a8f3" data-tooltip-inline="Brand" data-logs-type="Brand"></div>
        <div class="timeline__padding">
            <div>
                Brand <a>Brand 7 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>12</a> and
                colors identifier <a>9</a> <span data-tooltip-inline="2016-01-12 11:31:45" id="date-format-WLs0W">12 days ago</span>
            </div>
        </div>
    </li>
    <li class="timeline__entry timeline__entry--ok">
        <div class="timeline__indicator" data-color="rebeccapurple" data-tooltip-inline="Email"
             data-logs-type="Email"></div>
        <div class="timeline__padding">
            <div>
                Email <a>Email 9 Standard</a> has been updated by <a>Admin Demo</a> with options identifier <a>46</a> and
                colors identifier <a>76</a> <span data-tooltip-inline="2016-01-12 16:11:42" id="date-format-WLs0W">23 days ago</span>
            </div>
        </div>
    </li>
</ul>