<div class="swiper-slide--template display-none">  <!--Single filter NUMBER-->
    <div class="filter filter-type--number antares-dropjs-filter" data-type="">
        <div class="card-filter__sgl ddown__init dropjs-target--template dropjs--no-active--template" data-filter-type="ammount"
             data-filter-value="">
           <span class="filter-label"></span><span></span><i class="zmdi zmdi-close filter-close"></i></div>
        <div class="dropjs-wrapper">
            <div class="filter-content filter--number" data-type="" data-min="" data-max=""><span>Filter By </span>
                <div class="slider-box">
                    <div class="filter-slider ui-slider--minimal"></div>
                </div>
                <div class="form-block ff-rnw  spinners-box">
                    <div class="spinner-basic"><input
                                class="filter-spinner filter-spinner-mode-min--template filter-spinner--min"
                                type="number" value=""  name="value"></div>
                    <span class="ml16 mr16"> - </span>
                    <div class="spinner-basic"><input
                                class="filter-spinner filter-spinner-mode-max--template filter-spinner--max"
                                type="number" value=""  name="value2"></div>
                </div>
                <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect change-filter change-filter--number">Confirm</a>
            </div>
        </div>
    </div>
</div> <!--Single filter NUMBER end-->
<div class="swiper-slide--template display-none"> <!--Single filter BADGE-->
    <div class="filter filter-type--badge antares-dropjs-filter" data-type="">
        <div class="card-filter__sgl ddown__init dropjs-target--template dropjs--no-active--template" data-filter-value="">
            <span class="filter-label"></span> <span></span><i class="zmdi zmdi-close filter-close"></i></div>
        <div class="dropjs-wrapper">
            <div class="filter-content filter--badge" data-type=""><span>Filter By </span>
                <div class="slider-box">
                    <select name="select"  class="select--badge">
                        <option value="Active">Active</option>
                        <option value="Pending">Pending</option>
                        <option value="In space">In space</option>
                    </select>
                    <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect change-filter change-filter--badge">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div> <!--Single filter BADGE end-->
<div class="swiper-slide--template display-none"> <!--Single filter DATE-PICKER-->
    <div class="filter filter-type--date-picker antares-dropjs-filter" data-type="">
        <div class="card-filter__sgl ddown__init dropjs-target--template dropjs--no-active--template" data-filter-value="">
            <span class="filter-label"></span> <span></span><i class="zmdi zmdi-close filter-close"></i></div>
        <div class="dropjs-wrapper">
            <div class="filter-content filter--date-picker" data-type=""><span>Filter By </span>
                <div class="slider-box">
                    <div class="input-field input-field--group" >
                        <input  data-default-data="" placeholder="Placeholder">
                    </div>
                    <a class="btn btn--md btn--default mdl-js-button mdl-js-ripple-effect change-filter change-filter--date-picker">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div><!--Single filter DATE-PICKER end-->