
<!-- App sidebar -->
<aside class="main-sidebar">
    <!-- <div class="main-sidebar__logo" title="BillEvo"></div> -->
    <nav>
        <!-- Main Menu -->
        <ul class="main-menu main-menu--brand">
            <li class="main-menu__brand">
                <a   title="Dashboard">
                    <div class="main-sidebar__logo" title="BillEvo"></div>
                </a>
                <div class="submenu submenu--system flex-fs">
                    <a   class="submenu__mobile-return">
                        <i class="zmdi zmdi-arrow-left"></i>
                        <span>Brand Menu</span>
                    </a>
                    <section class="section--2col">
                        <header>
                            <h3>Current System</h3>
                        </header>
                        <div class="submenu__content">
                            <div class="submenu__content-left">
                                <div class="brand-logo">
                                    <!-- <img src="img/brand-billevo.png" alt=""> -->
                                </div>
                            </div>
                            <div class="submenu__content-right">
                                <span class="brand-name">BillEvo</span>
                                <ul class="datarow">
                                    <li class="datarow__sgl">
                                        <div class="datarow__left">
                                            <span>Plan</span>
                                        </div>
                                        <div class="datarow__right">
                                            <span><i class="zmdi zmdi-forward"></i>Lite ($99/mo)</span>
                                        </div>
                                    </li>
                                    <li class="datarow__sgl">
                                        <div class="datarow__left">
                                            <span>Payment</span>
                                        </div>
                                        <div class="datarow__right">
                                            <span>Monthly</span>
                                        </div>
                                    </li>
                                    <li class="datarow__sgl">
                                        <div class="datarow__left">
                                            <span>Support</span>
                                        </div>
                                        <div class="datarow__right">
                                            <span><i class="zmdi zmdi-forward"></i>2 mo. left</span>
                                        </div>
                                    </li>
                                    <li class="datarow__sgl">
                                        <div class="datarow__left">
                                            <span>Registered</span>
                                        </div>
                                        <div class="datarow__right">
                                            <span>2 years ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <header>
                            <h3>Switch System</h3>
                        </header>
                        <div class="submenu__content">
                            <div class="flex-block flex-block--bold">
                                <div class="avatar avatar--generic  avatar--xs"></div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">GimmeMoney</span>
                                    <span class="flex-block__desc">Basic Plan</span>
                                </div>
                            </div>
                            <div class="flex-block flex-block--bold">
                                <div class="avatar avatar--generic  avatar--active avatar--xs"></div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">GimmeMoney</span>
                                    <span class="flex-block__desc">Basic Plan</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="submenu__content">
                            <div class="flex-block flex-block--bold">
                                <div class="avatar avatar--generic  avatar--xs"></div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">GimmeMoney</span>
                                    <span class="flex-block__desc">Basic Plan</span>
                                </div>
                                <span class="flex-block__badge">From $99/mo</span>
                            </div>
                            <div class="flex-block flex-block--bold">
                                <div class="avatar avatar--generic  avatar--xs"></div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">GimmeMoney</span>
                                    <span class="flex-block__desc">Basic Plan</span>
                                </div>
                                <span class="flex-block__badge">From $99/mo</span>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
        <ul class="main-menu main-menu--primary">
            <li data-name='dashboard'>
                <a href="index.html" title="Dashboard">
                    <i class="zmdi zmdi-view-dashboard"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li data-name='dev-tests'>
                <a href="login_page.html" title="Login Page">
                    <i class="zmdi zmdi-email"></i>
                    <span class="text">Login</span>
                </a>
            </li>
            <li data-name='settings'>
                <a   title="Settings">
                    <i class="zmdi zmdi-shopping-cart"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu flex-fs">
                    <a   class="submenu__mobile-return">
                        <i class="zmdi zmdi-arrow-left"></i>
                        <span>Settings</span>
                    </a>
                    <section>
                        <div class="submenu__content">
                            <header>
                                <h3>Settings List</h3>
                            </header>
                            <ul class="data-list">
                                <li data-name="general_settings">
                                    <a href="general_settings.html" title="General Settings" >
                                        <span>General Settings</span>
                                        <!-- <span class="badge badge--dark badge--lg">20</span> -->
                                    </a>
                                </li>
                                <li data-name="email_settings">
                                    <a href="email_settings.html" title="Email Settings">
                                        <span>Email Settings</span>
                                        <!-- <span class="badge badge--dark badge--lg">20</span> -->
                                    </a>
                                </li>
                                <li data-name="brands_settings">
                                    <a href="brand_settings.html" title="Brand Settings">
                                        <span>Brand Settings</span>
                                        <!-- <span class="badge badge--dark badge--lg">20</span> -->
                                    </a>
                                </li>
                            </ul>
                            <!-- TOOLTIP START -->
                            <div class="menu-tooltip" data-menu-item="general_settings">
                                <div class="menu-tooltip__header">
                                    <i class="zmdi zmdi-info-outline"></i>
                                    <span>General Settings</span>
                                </div>
                                <div class="menu-tooltip__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                            </div>
                            <div class="menu-tooltip" data-menu-item="email_settings">
                                <div class="menu-tooltip__header">
                                    <i class="zmdi zmdi-info-outline"></i>
                                    <span>Email Settings</span>
                                </div>
                                <div class="menu-tooltip__content">
                                    Tutaj tu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                            </div>
                            <div class="menu-tooltip" data-menu-item="brands_settings">
                                <div class="menu-tooltip__header">
                                    <i class="zmdi zmdi-info-outline"></i>
                                    <span>Brand Settings</span>
                                </div>
                                <div class="menu-tooltip__content">
                                    Tego tam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                </div>
                            </div>
                            <!-- TOOLTIP START -->
                        </div>
                    </section>
                </div>
            </li>
            <li data-name='clients_list'>
                <a href="clients_list.html" title="Clients">
                    <i class="zmdi zmdi-accounts" style="font-size: 28px"></i>
                    <span class="text">Clients List</span>
                </a>
            </li>
            <li data-name='clients_details'>
                <a href="clients_details_gridstack.html" title="Clients">
                    <i class="zmdi zmdi-account-circle"></i>
                    <span class="text">Clients Details</span>
                </a>
            </li>
            <li data-name='forms'>
                <a   title="Forms">
                    <i class="zmdi zmdi-check-circle-u"></i>
                    <span class="text">Forms</span>
                </a>
                <div class="submenu">
                    <a   class="submenu__mobile-return">
                        <i class="zmdi zmdi-arrow-left"></i>
                        <span>Forms List</span>
                    </a>
                    <section>
                        <div class="submenu__content">
                            <header>
                                <h3>Forms</h3>
                            </header>
                            <ul class="data-list data-list--flex-fs">
                                <li data-name='forms'>
                                    <a href="forms.html" title="Reports">
                                        <span class="text">Form Vertical Layout</span>
                                    </a>
                                </li>
                                <li data-name='forms_hor'>
                                    <a href="forms_hor.html" title="Reports">
                                        <span class="text">Form Horizontal Layout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li data-name='components' >
                <a  >
                    <i class="zmdi zmdi-group-work"></i>
                    <span class="text">Components</span>
                </a>
                <div class="submenu">
                    <a   class="submenu__mobile-return">
                        <i class="zmdi zmdi-arrow-left"></i>
                        <span>Components</span>
                    </a>
                    <section>
                        <div class="submenu__content">
                            <header>
                                <h3>Components List</h3>
                            </header>
                            <ul class="data-list data-list--flex-fs">
                                <li data-name='widget_files'>
                                    <a href="widget_files.html" title="Reports">
                                        <span class="text">Widget Files</span>
                                    </a>
                                </li>
                                <li data-name="widget_tabs">
                                    <a href="widget_tabs.html" title="Reports">
                                        <span class="text">Widget Tabs</span>
                                    </a>
                                </li>
                                <li data-name="widget_comments">
                                    <a href="widget_comments.html" title="Reports">
                                        <span class="text">Widget Comments</span>
                                    </a>
                                </li>
                                <li data-name="acl">
                                    <a href="acl.html" title="ACL">
                                        <span class="text">ACL</span>
                                    </a>
                                </li>
                                <li data-name="translations">
                                    <a href="translations.html" title="Translations">
                                        <span class="text">Translations</span>
                                    </a>
                                </li>
                                <li data-name="notifications">
                                    <a href="notification_templates.html" title="Translations">
                                        <span class="text">Notification Templates</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li class="more-trigger">
                <a   title="more">
                    <i class="zmdi zmdi-caret-right-circle"></i>
                    <span class="text">More</span>
                </a>
            </li>
            <!-- INVISIBLE -->
            <li data-name='framework' class="framework">
                <a href="framework.html">
                    <span class="icon icon--alert-alt"></span>
                    <span class="text">Framework</span>
                </a>
            </li>
        </ul>
        <ul class="main-menu main-menu--secondary is-hidden">
            <li data-name="error-pages">
                <a   title="Bonus #1">
                    <i class="zmdi zmdi-battery"></i>
                    <span class="text">Error Pages</span>
                </a>
                <div class="submenu">
                    <a   class="submenu__mobile-return">
                        <i class="zmdi zmdi-arrow-left"></i>
                        <span>Error Pages</span>
                    </a>
                    <section>
                        <div class="submenu__content">
                            <header>
                                <h3>Error Pages List</h3>
                            </header>
                            <ul class="data-list data-list--flex-fs">
                                <li data-name="400">
                                    <a href="error_400.html" title="Error 400">
                                        <span class="text">400</span>
                                    </a>
                                </li>
                                <li data-name="404">
                                    <a href="error_404.html" title="Error 404">
                                        <span class="text">404</span>
                                    </a>
                                </li>
                                <li data-name="500">
                                    <a href="error_500.html" title="Error 500">
                                        <span class="text">500</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li data-name="login_page">
                <a href="login_page.html" title="login-page">
                    <i class="zmdi zmdi-account-circle"></i>
                    <span class="text">Login Page</span>
                </a>
            </li>
            <li data-name="steps_page">
                <a href="steps.html" title="Steps Page">
                    <i class="zmdi zmdi-audio"></i>
                    <span class="text">Steps Page</span>
                </a>
            </li>
            <li data-name='zero_data'>
                <a href="zero_data.html" title="zero data">
                    <i class="zmdi zmdi-account-circle"></i>
                    <span class="text">Zero Data</span>
                </a>
            </li>
            <li class="more-trigger">
                <a   title="more">
                    <i class="zmdi zmdi-caret-left-circle"></i>
                    <span class="text">More</span>
                </a>
            </li>
        </ul>
        <div class="mobile-ddowns">
            <div class="mobile-ddowns__sgl">
                <div class="mobile-ddowns__desc">
                    <div class="mobile-ddowns__label">Logged as:</div>
                    <div class="mobile-ddowns__text">Paweł‚ Bis</div>
                </div>
                <div class="mobile-ddowns__icon">
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
                <ul class="mobile-ddowns__menu mobile-ddowns__menu--user">
                    <li class="mobile-ddowns__menu-header">
                        <a  >
                            <div class="flex-block">
                                <div class="avatar avatar--xs">
                                    <img src="img/brand/brand-inbs.png" alt="Avatar" />
                                </div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">PaweŁ‚ Bis</span>
                                    <span class="flex-block__desc">RS STUDIO</span>
                                </div>
                                <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a  >
                            <span>View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a  >
                            <span>Upgrade Plan</span>
                        </a>
                    </li>
                    <li>
                        <a  >
                            <span>Account Billing</span>
                        </a>
                    </li>
                    <li>
                        <a  >
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobile-ddowns__sgl">
                <div class="mobile-ddowns__desc">
                    <div class="mobile-ddowns__label">Brand:</div>
                    <div class="mobile-ddowns__text">INBS.software</div>
                </div>
                <div class="mobile-ddowns__icon">
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
                <ul class="mobile-ddowns__menu mobile-ddowns__menu--brand">
                    <li class="mdl-js-button mdl-js-ripple-effect">
                        <a  >
                            <div class="flex-block">
                                <div class="avatar avatar--xs">
                                    <img src="img/brand/brand-inbs.png" alt="Avatar" />
                                </div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">INBS.software</span>
                                </div>
                                <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                            </div>
                        </a>
                    </li>
                    <li class="mdl-js-button mdl-js-ripple-effect is-selected">
                        <a  >
                            <div class="flex-block">
                                <div class="avatar avatar--xs">
                                    <img src="img/brand/brand-rsstudio.png" alt="Avatar" />
                                </div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">RS STUDIO</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="mobile-ddowns-new mdl-js-button mdl-js-ripple-effect">
                        <a  >
                            <div class="flex-block">
                                <div class="avatar avatar--xs">
                                    <i class="zmdi zmdi-plus-circle-o"></i>
                                </div>
                                <div class="flex-block__content">
                                    <span class="flex-block__title">Add new brand</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</aside>
<!-- <div class="main-head-mobile"></div> -->
