<aside class="main-sidebar main-menu-html">
    <div class="nav-container">
        <nav>
            <div class="menu-scroll">
                <ul class="main-menu main-menu--brand">
                    <li class="main-menu__brand has-submenu" data-index="0" data-name="brand">
                        <a href="#">
                            <div class="main-sidebar__logo"></div>
                        </a>
                        <div class="submenu submenu--system js-flex-start">
                            <a href="#" class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i> <span>Brand Menu</span>
                            </a>
                            <section class="section--2col">
                                <header>
                                    <h3>Main Section</h3>
                                </header>
                                <div class="submenu__content">
                                    <div class="submenu__content-left">
                                        <div class="brand-logo"></div>
                                    </div>
                                    <div class="submenu__content-right"><span class="brand-name">564</span>
                                        <ul class="datarow">
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Plan</span></div>
                                                <div class="datarow__right"><span>Lite ($99/mo)</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Payment</span></div>
                                                <div class="datarow__right"><span>Monthly</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Support</span></div>
                                                <div class="datarow__right"><span>3 mo. left</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Registered</span></div>
                                                <div class="datarow__right"><span>2 years ago</span></div>
                                            </li>
                                        </ul>
                                        <ul class="datarow">
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Plan</span></div>
                                                <div class="datarow__right"><span>Lite ($99/mo)</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Payment</span></div>
                                                <div class="datarow__right"><span>Monthly</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Support</span></div>
                                                <div class="datarow__right"><span>3 mo. left</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Registered</span></div>
                                                <div class="datarow__right"><span>2 years ago</span></div>
                                            </li>
                                        </ul>
                                        <ul class="datarow">
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Plan</span></div>
                                                <div class="datarow__right"><span>Lite ($99/mo)</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Payment</span></div>
                                                <div class="datarow__right"><span>Monthly</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Support</span></div>
                                                <div class="datarow__right"><span>3 mo. left</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Registered</span></div>
                                                <div class="datarow__right"><span>2 years ago</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="submenu__content">
                                    <a href="#" class="flex-block flex-block--bold">
                                        <div class="avatar avatar--generic avatar--xs"></div>
                                        <div class="flex-block__content"><span class="flex-block__title">GimmeMoney</span> <span class="flex-block__desc">Basic Plan</span></div>
                                        <span class="flex-block__badge">From $99/mo</span>
                                    </a>
                                    <a href="#" class="flex-block flex-block--bold">
                                        <div class="avatar avatar--generic avatar--xs"></div>
                                        <div class="flex-block__content"><span class="flex-block__title">GimmeMoney</span> <span class="flex-block__desc">Basic Plan</span></div>
                                        <span class="flex-block__badge">From $99/mo</span>
                                    </a>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
                <ul class="main-menu main-menu--primary">
                    <li data-index="0" data-name="dashboard">
                        <a href="index.html"><i class="zmdi zmdi-view-dashboard"></i> <span class="text">Dashboard</span></a>
                    </li>
                    <li data-index="1" data-name="pages" class="has-submenu">
                        <a href="#">
                            <i class="zmdi zmdi-layers"></i>
                            <span class="text">Pages</span>
                        </a>
                        <div class="submenu flex-fs">
                            <a href="#" class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i><span>Pages</span></a>
                            <section>
                                <header>
                                    <h3>Upper Menu</h3>
                                </header>
                                <div class="submenu__content">
                                    <ul class="data-list">
                                        <li data-name="clients_list">
                                            <a href="clients_list_dev.html"><span>Clients List</span></a>
                                        </li>
                                        <li data-name="client_details">
                                            <a href="clients_details_gridstack.html"><span>Client Details</span></a>
                                        </li>
                                        <li data-name="brand_settings">
                                            <a href="brand_settings.html"><span>Brand Settings</span></a>
                                        </li>
                                        <li data-name="email_settings">
                                            <a href="email_settings.html"><span>Email Settings</span></a>
                                        </li>
                                        <li data-name="steps_page">
                                            <a href="steps.html"><span>Steps Page</span></a>
                                        </li>
                                        <li data-name="login_page">
                                            <a href="login_page.html"><span>Login Page</span></a>
                                        </li>
                                        <li data-name="error_400">
                                            <a href="error_400.html"><span>Error 400</span></a>
                                        </li>
                                        <li data-name="error_404">
                                            <a href="error_404.html"><span>Error 404</span></a>
                                        </li>
                                        <li data-name="error_500">
                                            <a href="error_500.html"><span>Error 500</span></a>
                                        </li>
                                    </ul>
                                    <div data-menu-item="error_500" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i> <span>Error 500</span>
                                        </div>
                                        <div class="menu-tooltip__content">wabba lubba dub dub!!!!!!!!!!! wabba lubba dub dub!!!!!!!!!!! wabba lubba dub dub!!!!!!!!!!!
                                            wabba lubba dub dub!!!!!!!!!!!
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li data-index="2" data-name="UI elements" class="has-submenu">
                        <a href="#"><i class="zmdi zmdi-check-all"></i> <span class="text">UI elements</span></a>
                        <div class="submenu flex-fs">
                            <a href="#" class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i><span>UI elements</span></a>
                            <section>
                                <header>
                                    <h3>Upper Menu</h3>
                                </header>
                                <div class="submenu__content">
                                    <ul class="data-list">
                                        <li data-name="forms_vertical"><a href="forms.html"><span>Forms Vertical</span></a></li>
                                        <li data-name="forms_horizontal"><a href="forms_hor.html"><span>Forms Horizontal</span></a></li>
                                        <li data-name="general_settings"><a href="general_settings.html"><span>Addidional UI</span></a></li>
                                        <li data-name="widgets"><a href="widgets.html"><span>Widgets</span></a></li>
                                    </ul>
                                    <div data-menu-item="general_settings" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i> <span>Addidional UI</span>
                                        </div>
                                        <div class="menu-tooltip__content">wabba lubba dub dub!!!!!!!!!!! wabba lubba dub dub!!!!!!!!!!! wabba lubba dub dub!!!!!!!!!!!
                                            wabba lubba dub dub!!!!!!!!!!!
                                        </div>
                                    </div>
                                    <div data-menu-item="widgets" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i> <span>Widgets</span></div>
                                        <div class="menu-tooltip__content">Preview of system widgets in different sizes.</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
                <ul class="main-menu main-menu--secondary">
                    <li data-name="acl">
                        <a href="acl.html">
                            <i class="zmdi zmdi-code-setting"></i> 
                            <span class="text">ACL</span>
                        </a>
                    </li>
                    <li data-name="translations">
                        <a href="translations.html">
                            <i class="zmdi zmdi-code-setting"></i> 
                            <span class="text">Translations</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="more-trigger">
                <div class="more-trigger__inner">
                    <div class="main-close">
                        <i class="zmdi zmdi-more"></i>
                        <span class="text"></span>
                    </div>
                    <div class="alt-close">
                        <div class="close close--one"></div>
                        <div class="close close--two"></div>
                    </div>
                </div>
            </div>
            <div class="mobile-ddowns">
                <div class="mobile-ddowns__sgl ddown--logged">
                    <div class="mobile-ddowns__desc">
                        <div class="mobile-ddowns__label">Logged As:</div>
                        <div class="mobile-ddowns__text">Paweł Bis</div>
                    </div>
                    <div class="mobile-ddowns__icon"><i class="zmdi zmdi-caret-down"></i></div>
                    <ul class="mobile-ddowns__menu mobile-ddowns__menu--user">
                        <li class="mobile-ddowns__menu-header">
                            <a href="#">
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><img src="img/brand/brand-inbs.png" alt="Logged In User Avatar"></div>
                                    <div class="flex-block__content"><span class="flex-block__title">Paweł Bis</span><span class="flex-block__desc">RS Studio</span></div>
                                    <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                                </div>
                            </a>
                        </li>
                        <li><a href="#"><span>View Profile</span></a></li>
                        <li><a href="#"><span>Upgrade Plan</span></a></li>
                        <li><a href="#"><span>Account Billing Aight</span></a></li>
                        <li><a href="#"><span>Logout</span></a></li>
                    </ul>
                </div>
                <div class="mobile-ddowns__sgl ddown--brand">
                    <div class="mobile-ddowns__desc">
                        <div class="mobile-ddowns__label">Brands:</div>
                        <div class="mobile-ddowns__text">INBS.software</div>
                    </div>
                    <div class="mobile-ddowns__icon"><i class="zmdi zmdi-caret-down"></i></div>
                    <ul class="mobile-ddowns__menu mobile-ddowns__menu--brand">
                        <li class="mdl-js-button mdl-js-ripple-effect is-selected" data-upgraded=",MaterialButton,MaterialRipple">
                            <a href="#">
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><img src="img/brand/brand-inbs.png" alt="item.avatarAlt"></div>
                                    <div class="flex-block__content"><span class="flex-block__title">INBS.software</span></div>
                                    <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                                </div>
                            </a><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                        </li>
                        <li class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                            <a href="#">
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><img src="img/brand/brand-rsstudio.png" alt="item.avatarAlt"></div>
                                    <div class="flex-block__content"><span class="flex-block__title">RS Studio</span>
                                    </div>
                                </div>
                            </a><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                        </li>
                        <li class="mobile-ddowns-new mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                            <a href="#">
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><i class="zmdi zmdi-plus-circle-o"></i></div>
                                    <div class="flex-block__content"><span class="flex-block__title">Add Brands</span>
                                    </div>
                                </div>
                            </a><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</aside>
