<div class="mdl-tabs__tab-bar">
    <div class="swiper-container swiper-mdl-tabs tab-bar--tape">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="#services-panel" class="mdl-tabs__tab is-active">Services</a>
            </div>
            <div class="swiper-slide">
                <a href="#transactions-panel" class="mdl-tabs__tab">Transactions</a>
            </div>
            <div class="swiper-slide">
                <a href="#quotes-panel" class="mdl-tabs__tab">Quotes</a>
            </div>
            <div class="swiper-slide">
                <a href="#tickets-panel" class="mdl-tabs__tab">Tickets</a>
            </div>
            <!-- <div class="swiper-slide">
                <a href="#transactions-panel" class="mdl-tabs__tab">Transactions</a>
            </div>
            <div class="swiper-slide">
                <a href="#quotes-panel" class="mdl-tabs__tab">Quotes</a>
            </div>
            <div class="swiper-slide">
                <a href="#tickets-panel" class="mdl-tabs__tab">Tickets</a>
            </div>
            <div class="swiper-slide">
                <a href="#transactions-panel" class="mdl-tabs__tab">Transactions</a>
            </div>
            <div class="swiper-slide">
                <a href="#quotes-panel" class="mdl-tabs__tab">Quotes</a>
            </div>
            <div class="swiper-slide">
                <a href="#tickets-panel" class="mdl-tabs__tab">LASTSWIPERSLIDERLAST</a>
            </div> -->
        </div>
        <div class="swiper-mdl-tabs-next"></div>
        <div class="swiper-mdl-tabs-prev"></div>
    </div>
</div>
