<div class="grid-col grid-col--menu">
    <div class="menu-aside-container" data-scrollable>
        <ul class="menu-aside">
            <li class="is-active">
                <a href="#AntaresInputs" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Inputs GENERAL</span>
                </a>
            </li>
            <li>
                <a href="#AntaresSelects" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Selects</span>
                </a>
            </li>
            <li>
                <a href="#AntaresButtons" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Buttons</span>
                </a>
                <ul class="menu-aside__submenu">
                    <li class="is-active">
                        <a href="#AntaresButtons" class="mdl-js-button mdl-js-ripple-effect"><span>Buttons</span></a>
                    </li>
                    <li>
                        <a href="#AntaresButtonsLink" class="mdl-js-button mdl-js-ripple-effect"><span>Buttons Links</span></a>
                    </li>
                    <li>
                        <a href="#AntaresButtonsXS" class="mdl-js-button mdl-js-ripple-effect"><span>Size XS</span></a>
                    </li>
                    <li>
                        <a href="#AntaresButtonsSM" class="mdl-js-button mdl-js-ripple-effect"><span>Size SM</span></a>
                    </li>
                    <li>
                        <a href="#AntaresButtonsMD" class="mdl-js-button mdl-js-ripple-effect"><span>Size MD</span></a>
                    </li>
                    <li>
                        <a href="#AntaresButtonsLG" class="mdl-js-button mdl-js-ripple-effect"><span>Size LG</span></a>
                    </li>
                    <li>
                        <a href="#AntaresButtonsXL" class="mdl-js-button mdl-js-ripple-effect"><span>Size XL</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#AntaresRareInputs" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-globe"></i>
                    <span>Rare Inputs</span>
                </a>
                <ul class="menu-aside__submenu">
                    <li class="is-active">
                        <a href="#AntaresRareInput" class="mdl-js-button mdl-js-ripple-effect"><span>Rare Inputs</span></a>
                    </li>
                    <li>
                        <a href="#AntaresInputWithButton" class="mdl-js-button mdl-js-ripple-effect"><span>Inputs with Buttons</span></a>
                    </li>
                    <li>
                        <a href="#AntaresAdditionals" class="mdl-js-button mdl-js-ripple-effect"><span>Additionals</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#AntaresTextarea" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-help"></i><span>Textarea</span>
                </a>
            </li>
            <li>
                <a href="#AntaresRadioCheckboxSwitch" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-file"></i>
                    <span>Radio / checkbox / switch</span>
                </a>
            </li>
            <li>
                <a href="#AntaresStandardSlider" class="mdl-js-button mdl-js-ripple-effect ">
                    <i class="zmdi zmdi-card"></i>
                    <span>Sliders</span>

                </a>
                <ul class="menu-aside__submenu">
                    <li>
                        <a href="#AntaresStandardSlider" class="mdl-js-button mdl-js-ripple-effect"><span>Standard Slider</span></a>
                    </li>
                    <li class="is-active">
                        <a href="#AntaresSliderRange" class="mdl-js-button mdl-js-ripple-effect"><span>Slider Range</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#AntaresMDForms" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-file"></i>
                    <span>MD Forms</span>
                </a>
            </li>
            <li>
                <a href="#AntaresAlerts" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-file"></i>
                    <span>Alerts</span>
                </a>
            </li>
        </ul>
    </div>
</div>
