<div class="grid-col grid-col--menu">
    <div class="grid-col grid-col--menu">
        <div class="menu-aside-container" data-scrollable>
            <ul class="menu-aside">
                <li class="is-active">
                    <a href="index.html" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>Pages</span>
                    </a>
                    <ul class="menu-aside__submenu">
                        <li class="is-active">
                            <a href="clients_list.html" class="mdl-js-button mdl-js-ripple-effect"><span>Clients List</span></a>
                        </li>
                        <li>
                            <a href="clients_details_gridstack.html" class="mdl-js-button mdl-js-ripple-effect"><span>Clients Details</span></a>
                        </li>
                        <li>
                            <a href="brand_settings.html" class="mdl-js-button mdl-js-ripple-effect"><span>Brand Settings</span></a>
                        </li>
                        <li>
                            <a href="email_settings.html" class="mdl-js-button mdl-js-ripple-effect"><span>Email Settings</span></a>
                        </li>
                        <li>
                            <a href="steps.html" class="mdl-js-button mdl-js-ripple-effect"><span>Steps Page</span></a>
                        </li>
                        <li>
                            <a href="login-page.html" class="mdl-js-button mdl-js-ripple-effect"><span>Login Page</span></a>
                        </li>
                        <li>
                            <a href="error_400.html" class="mdl-js-button mdl-js-ripple-effect"><span>Error 400</span></a>
                        </li>
                        <li>
                            <a href="error_404.html" class="mdl-js-button mdl-js-ripple-effect"><span>Error 404</span></a>
                        </li>
                        <li>
                            <a href="error_500.html" class="mdl-js-button mdl-js-ripple-effect"><span>Error 500</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-globe"></i>
                        <span>Ui elements</span>
                    </a>
                    <ul class="menu-aside__submenu">
                        <li class="is-active">
                            <a href="forms.html" class="mdl-js-button mdl-js-ripple-effect"><span>Forms Vertical</span></a>
                        </li>
                        <li>
                            <a href="forms_hor.html" class="mdl-js-button mdl-js-ripple-effect"><span>Forms Horizontal</span></a>
                        </li>
                        <li>
                            <a href="general_settings.html" class="mdl-js-button mdl-js-ripple-effect"><span>Additional UI</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="acl.html" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>ACL</span>
                    </a>
                </li>
                <li>
                    <a href="translation.html" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>Translations</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
