<div class="grid-col grid-col--menu">
    <div class="grid-col grid-col--menu">
        <div class="menu-aside-container" data-scrollable>
            <ul class="menu-aside menu-aside--links">
                <li>
                    <a href="index.html" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>Sample Side Menu</span>
                    </a>
                </li>

                <li>
                    <a class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-settings"></i>
                        <span>Element #1</span>
                    </a>
                    <ul class="menu-aside__submenu">
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                                <span>Submenu element #1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                                <span>Submenu element #2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                                <span>Submenu element #3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                                <span>Submenu element #4</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mdl-js-button mdl-js-ripple-effect">
                                <span>Submenu element #5</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="is-active">
                    <a href="email_settings.html" class="mdl-js-button mdl-js-ripple-effect">
                        <i class="zmdi zmdi-globe"></i>
                        <span>Element #2</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>

</div>
