<div class="grid-col grid-col--menu">
    <div class="menu-aside-container" data-scrollable>
        <ul class="menu-aside">
            <li class="is-active">
                <a href="#AntaresFormsVert" class="mdl-js-button mdl-js-ripple-effect">
                    <span>Forms Vertical</span>
                </a>
            </li>
            <li>
                <a href="#AntaresFormsHoriz" class="mdl-js-button mdl-js-ripple-effect">
                    <span>Forms Horizontal</span>
                </a>
            </li>
        </ul>
    </div>
</div>
