<div class="grid-col grid-col--menu">
    <div class="menu-aside-container" data-scrollable>
        <ul class="menu-aside">
            <li class="is-active">
                <a href="#AntaresButtons" class="mdl-js-button mdl-js-ripple-effect"><span>Buttons</span></a>
            </li>
            <li>
                <a href="#AntaresButtonsWithIcon" class="mdl-js-button mdl-js-ripple-effect"><span>Buttons with icon</span></a>
            </li>
            <li>
                <a href="#AntaresButtonsSizes" class="mdl-js-button mdl-js-ripple-effect"><span>Buttons sizes</span></a>
            </li>
            <li>
                <a href="#AntaresInputs" class="mdl-js-button mdl-js-ripple-effect"><span>Inputs - simple</span></a>
            </li>
            <li>
                <a href="#AntaresSelects" class="mdl-js-button mdl-js-ripple-effect"><span>Selects</span></a>
            </li>
            <li class="">
                <a href="#AntaresRareInput" class="mdl-js-button mdl-js-ripple-effect"><span>More Inputs</span></a>
            </li>
            <li>
                <a href="#AntaresInputWithButton"
                   class="mdl-js-button mdl-js-ripple-effect"><span>Inputs with Buttons</span></a>
            </li>
            <li>
                <a href="#AntaresTextarea" class="mdl-js-button mdl-js-ripple-effect"><span>Textarea</span></a>
            </li>
            <li>
                <a href="#AntaresDatepickers" class="mdl-js-button mdl-js-ripple-effect"><span>Datepickers</span></a>
            </li>
            <li>
                <a href="#AntaresSwitch" class="mdl-js-button mdl-js-ripple-effect"><span>Switch</span></a>
            </li>
            <li>
                <a href="#AntaresRadio" class="mdl-js-button mdl-js-ripple-effect"><span>Radio</span></a>
            </li>
            <li>
                <a href="#AntaresCheckbox" class="mdl-js-button mdl-js-ripple-effect"><span>Checkbox</span></a>
            </li>
            <li>
                <a href="#AntaresStandardSlider" class="mdl-js-button mdl-js-ripple-effect"><span>Sliders</span></a>
            </li>
            <li>
                <a href="#AntaresSpinner" class="mdl-js-button mdl-js-ripple-effect"><span>Spinners</span></a>
            </li>
            <li>
                <a href="#AntaresMDForms" class="mdl-js-button mdl-js-ripple-effect"><span>MD Forms</span></a>
            </li>
            <li>
                <a href="#AntaresInputFile" class="mdl-js-button mdl-js-ripple-effect"><span>Input File</span></a>
            </li>

        </ul>
    </div>
</div>
