<div class="grid-col grid-col--menu">
    <div class="menu-aside-container" data-scrollable>
        <ul class="menu-aside">
            <li class="is-active">
                <a href="#AntaresErrorList" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Error list</span>
                </a>
            </li>
            <li>
                <a href="#AntaresInputSimple" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Input - simple types</span>
                </a>
            </li>
            <li>
                <a href="#AntaresInputFile" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Input File</span>
                </a>
            </li>
            <li>
                <a href="#AntaresInputDate" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Input Date</span>
                </a>
            </li>
            <li>
                <a href="#AntaresTextarea" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Textarea</span>
                </a>
            </li>
            <li>
                <a href="#AntaresInputGroup" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Input-group</span>
                </a>
            </li>
            <li>
                <a href="#AntaresInputWithButton" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Input with button</span>
                </a>
            </li>
            <li>
                <a href="#AntaresSelect" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Select</span>
                </a>
            </li>
            <li>
                <a href="#AntaresCheckboxRadio" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Checkbox & Radio</span>
                </a>
            </li>
            <li>
                <a href="#AntaresSlider" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>Slider</span>
                </a>
            </li>
            <li>
                <a href="#AntaresMDLInput" class="mdl-js-button mdl-js-ripple-effect">
                    <i class="zmdi zmdi-settings"></i>
                    <span>MDL Inputs</span>
                </a>
            </li>
        </ul>
    </div>
</div>
