<aside class="sidebar sidebar--notifications sidebar--white">
    <div class="sidebar__header">
        <div class="sidebar__header-left">
            <span>Notifications</span>
            <span class="badge badge--md badge--green">8</span>
        </div>
        <div class="sidebar__header-right">
            <a   class="btn-more mdl-js-button mdl-js-ripple-effect" id="close-sidebar">
                <i class="zmdi zmdi-close"></i>
            </a>
        </div>
    </div>
    <div class="sidebar__content">
        <div class="sidebar__list">
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="label-basic label-basic--md label-basic--success mr8">NEW</span>
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet... <a   class="btn btn--s-small btn--dark mdl-js-button mdl-js-ripple-effect">Relevant information</a></span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification" ><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="label-basic label-basic--md label-basic--success mr8">NEW</span>
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet...</span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="label-basic label-basic--md label-basic--success mr8">NEW</span>
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet...</span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet...</span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="label-basic label-basic--md label-basic--success mr8">NEW</span>
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet...</span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="label-basic label-basic--md label-basic--success mr8">NEW</span>
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... <strong>Elbrah Nocturmen!</strong> Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... Lorem Ipsum dolor sit amet chujamet... sadf sdf s iffra... <a  >Read All</a></span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="label-basic label-basic--md label-basic--success mr8">NEW</span>
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet...</span>
                </div>
            </div>
            <div data-action="" class="sidebar__sgl flex-block">
                <div class="flex-block__close" data-tooltip-inline="Dismiss Notification"><i class="zmdi zmdi-close"></i></div>
                <div class="avatar avatar--active avatar--xs">
                    <img src="img/avatars/avatar_sample_2.png" alt="Avatar">
                </div>
                <div class="flex-block__content">
                    <div class="flex ai-center jc-flex-start">
                        <span class="flex-block__title">Ticket Subject</span>
                    </div>
                    <span class="flex-block__desc">Lorem Ipsum dolor sit amet chujamet...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <div class="btn btn--md btn--primary mdl-js-button mdl-js-ripple-effect">Clear All</div>
    </div>
</aside>
