<div class="card__edit-view">
    <div class="card__edit-icons ">
        <i data-tooltip-inline="Remove Widget" class="zmdi zmdi-delete remove-button mdl-js-button mdl-js-ripple-effect"></i>
        <i data-tooltip-inline="Move Widget" class="zmdi zmdi-arrows move-button mdl-js-button mdl-js-ripple-effect"></i>
        <i data-tooltip-inline="Detach Widget" class="zmdi zmdi-square-right detach-button mdl-js-button mdl-js-ripple-effect"></i>
    </div>
</div>
