.tbl-c {
  @media @min768 {
    table td,
    table th {
      user-select: none;
    }
  }
  @media @xs {
    padding: 0;
  }
  table {
    @media @xs {
      padding: 0 @unit1;
    }
  }
}

// btn
@media screen and (max-width: 640px) {
  div.dt-buttons {
    float: none !important;
    text-align: center
  }
}

// card
@media @max1200 {
  .card-ctrls__left {
    .select2:nth-child(2) {
      //display: none;
    }
    .search-box:nth-child(2) {
      display: none;
    }
  }
}
@media @xs {
  .card-ctrls__left {
    .select2:nth-child(2) {
      display: none;
    }
  }
}
// filters
@media @medium-max {
  .card-filter {
    display: none;
  }
}




@media @md {
  .search-box:before, .search-box > i {
    left: 8px;
  }
  td[tabindex]{
    &:before{
      vertical-align: sub;
      font-size: 20px !important;
      color: @primary-bg;
    }
  }
  .tbl-c {
    padding: 0 16px;
  }

  .tbl-c table tr td:first-child, .tbl-c table tr th:first-child {
    padding-left: 10px;
  }

  .tbl-c .billevo-table tr:hover .child {
    background-color: white;
  }

  table tr.child td.child ul li {
    text-align: left;
    padding: 4px 8px;
    font-size: 13px;
    &:hover {
      background-color: #e1e5e8;
    }
    .dtr-title {
      font-weight: 700;
      color: #9fa5b3;
    }
  }
  .page-brand-list {
    table.collapsed tbody tr:not(.child) td:first-child {
      padding-left: 45px !important;
    }
    table.collapsed tbody tr:not(.child) td:first-child:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 16px;
    }
  }
}

@media @xs {
  .page-datatables {

    .card-ctrls {
      margin-bottom: 0;
      border-bottom: 1px solid #f5f5f7;
      .search-box{
        margin-left: 8px !important;
      }
      .mdl-textfield__input,.mdl-textfield__label{
        margin-left: 40px;
      }
      .card-ctrls__right {
      display: none;
    }}
    table tr.child td.child ul li{
      padding: 4px 24px;
    }
    table{
      thead{
        display: none;
      }
    }
    .odd, .even{
      position: relative;

      td>a[title="email address"]{
        position: relative;
        left: 22.5%;
        margin-top: 4px;

      }
      td{
        text-align: left;
      }
      td:first-child{
        padding-left: 10px !important;
      }
      td:nth-child(8){
        text-align: right;
        padding-right: 16px;
      }
    }
    .tbl-c{
      padding:0;
      table{
        padding: 0;
      }
    }
    .tbl-c table tr td{
      padding: 12px 0 12px 0;
      //padding: 16px 0 16px 0;
    }
    .tbl-c .dt-area-bottom{
      padding: 0 8px;
    }
  }
}
@media @max450 {
  .page-datatables {
    .odd, .even{
      td>a[title="email address"]{
        position: absolute;
      }
    }
    .tbl-c table tr td{
      padding: 12px 0 24px 0;
    }
  }
}
