//
// Avatar Component
//




.avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar-filter();

    img {
        min-width: 100%;
        transition:@transition;
        border-radius: 50%;
    }

    //
    // STATES
    //

    &.avatar--active {
        &:after {
            content: "";
            width: 7px;
            height: 7px;
            position: absolute;
            bottom: -5px;
            right: -5px;
            background-color: @color-success;
            border: 5px solid lighten(@secondary-bg, 5%);
            border-radius: 50%;
        }

    }

    &.avatar--warning {
        &:after {
            content: "";
            width: 10px;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: -5px;
            right: -5px;
            background-color: @color-warning;
            border: 5px solid lighten(@secondary-bg, 5%);
            border-radius: 50%;
        }

    }

    //Generic
    &.avatar--generic {
        width: 40px;
        min-width: 40px;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: lighten(@secondary-bg, 3%);
        border-radius: 50%;

        &:before {
            content: '\f3e1';
            font: normal normal normal 21px/1 'Material-Design-Iconic-Font';
            color: #fff;
            .mdl-font();
        }

        * {
            display: none;
        }

    }

    //
    // SIZES 
    //

    //Big
    &.avatar--lg {
        min-width: 60px;

        img {
            max-width:60px;
            max-height:60px;
        }

        &:after {
            width: 10px;
            height: 10px;
        }

    }

    //Small
    &.avatar--xs {
        min-width: 40px;


        img {
            max-width:40px;
            max-height:40px;
        }

        &:after {
            width: 7px;
            height: 7px;
        }

    }

}

//modifiers
//white bg on contact list

.flex-block {
    .avatar {
        &:after {
            border: 5px solid #fff;
        }

    }

}

.card--comments {
    .avatar {
        &:after {
            border: 5px solid @tetriary-bg;
        }

    }

}