//MULTI MENU
.ddown-multi {
	position: relative;
	height: 100%;
	// display: inline-block;
	font-size: 19px;
	display:flex;
	align-items:center;



	.ddown__arrow {
		transform: translate3d(0, 90px, 0);
		// transition: 600ms;
		visibility: hidden;
		opacity:0;
		
	}

	.ddown-multi__label {
		color:#abaeb3;
	}


	//init
	&.ddown-multi--open {
		.ddown-multi__menu {
			display: block;
			transform: translate3d(0, 0, 0) !important;
			opacity: 1 !important;
			z-index: 10 !important;
			visibility: visible !important;
			max-height:400px;
			overflow: auto;
			// position:relative;
		}

		.ddown__arrow {
			transform: translate3d(0, 0, 0) !important;
			opacity: 1 !important;
			z-index: 10 !important;
			visibility: visible !important;
		}

	}

	.ddown-multi__init {
		cursor: pointer;
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		z-index: 0;

		box-shadow:2px 0 6px rgba(0,0,0,0.05);

		// init carret
		&:after {
			.mdl-font();
			content: '\f2f2';
			font: normal normal normal 19px/1 'Material-Design-Iconic-Font';
			position: relative;
			line-height: 1;
			right: -8px;
			// top: -2px;
			top: -1px;
    		// right: -16px;
			padding-right: 6px;
			color: #5c5f66;
		}

		// carets modfiers
		&.ddown-multi__init--green {

			&:after {
				color: @primary-bg;
			}

		}

		&.ddown-multi__init--white {
			&:after,
			i {
				color: #fff;
			}

		}

		&.ddown-multi__init--clean {
			&:after,
			&:before {
				display: none;
			}

		}

	}

	.ddown-multi__menu {
		.list-clear();
		position: absolute;
		top: 100%;
		right: -1px;
		width: 280px;
		height: auto;
		background-color: #fff;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
		transform: translate3d(0, 50px, 0);
		opacity: 0;
		// transition: 400ms;
		z-index: 1;
		visibility: hidden;

		.ddown__content {
		transform: translate3d(0, 50px, 0);
		opacity: 0;
		// transition: 400ms;
		z-index: 1;
		visibility: hidden;

			
		}


		//init
		&.ddown-multi--open {
			.ddown__content {
				display: block;
				transform: translate3d(0, 0, 0) !important;
				opacity: 1 !important;
				z-index: 10 !important;
				visibility: visible !important;
			}
		}

		> li {
			position: relative;
			display: inline-block;
			width: 100%;
			font-size: 13px;
			line-height: 36px;
			padding: 0 @unit3;

			&:hover {
				>a {
					color: @primary-bg;
				}

				.ddown-multi__submenu {
					visibility: visible;
					opacity: 1;
				}

			}

			//states
			&:first-child {
				// margin-top: 8px;
				padding-top:@unit1;

				// &:before {
				// 	content: "";
				// }

				// &:after {
				// 	.mdl-font();
				// 	position: absolute;
				// 	top: -16px;
				// 	right: 15px;
				// 	font: normal normal normal 26px/1 'Material-Design-Iconic-Font';
				// 	content: '\f2f8';
				// 	color: #fff;
				// }

			}

			&:last-child {
				margin-bottom: 8px;
			}

			&.ddown__sgl--header {
				margin-top: 0;
			}

			&.ddown__sgl--footer {
				margin-bottom: 0;
			}

			&.ddown__sgl--header,
			&.ddown__sgl--footer {
				padding-top: @unit1;
				padding-bottom: @unit1;

				&:hover {
					>li {
						background-color: #fff;

						>a {
							background-color: #eee;
						}

					}

				}

				> i {
					color: @primary-bg;
				}

			}

			&.ddown__sgl--header {
				border-bottom: 1px solid #ebeff0;
				margin-bottom: 3px;
			}

			&.ddown__sgl--footer {
				border-top: 1px solid #ebeff0;
				margin-top: @unit1;

				> i {
					color: @primary-bg;
				}

			}

			//class added with JS
			&.has-submenu {
				text-align: center;
				// padding-top: @unit1;
				// padding-bottom: @unit1;
				padding: 0;

				> a {
					color: @primary-c;
					padding: 0 @unit3;
				}

				&:hover {
					background-color: #fff;

					> a,
					> .comiseo-daterangepicker-triggerbutton {
						background-color: #ebedf2;
						color: @primary-c;
					}

				}

				&:after {
					.mdl-font();
					content: '\f2fb';
					font: normal normal normal 19px/1 'Material-Design-Iconic-Font';
					position: absolute;
					line-height: 1;
					right: 16px;
					top: 8px;
					color: @primary-c;
				}

			}

			//children

			> a {
				width: 100%;
				height: 100%;
				color: @primary-c;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				text-transform: none;
			}

			i {
				font-size: 24px;
				color: #737780;
				width: 35px;
			}

		}

		//themes


	}

	//Submenu
	.ddown-multi__submenu {
		.list-clear();
		width: 280px;
		// max-width:400px;
	    // min-width: 280px;
	    // max-width: 1000px;
		height: auto;
		background-color: #fff;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
		// transition: 400ms;
		z-index: 2;
		// opacity: 0;
		// visibility: hidden;
		display: none;
		position: absolute;
		top: 100%;
		right: -1px;
		text-align: left;

		> li {
			width: 100%;
			font-size: 13px;
			line-height: 36px;
			padding: 0 @unit3;
			position: relative;

			&.ddown-multi__sgl--range {

				&:hover {
					background:none;
				}
			}

			&:hover {
				background-color: #ebedf2;
			}

			//states
			&:first-child {
				margin-top: 8px;

				&:before {
					content: "";
				}

			}

			&:last-child {
				margin-bottom: 8px;
			}

			&.ddown__sgl--header {
				margin-top: 0;
			}

			&.ddown__sgl--footer {
				margin-bottom: 0;
			}

			&.ddown-multi__return {
				background-color: @primary-bg;
				padding: 0;
				height: 39px;
				line-height: 39px;

				span {
					font-size: 13px;
					color: #fff;
				}

				i {
				    width: 40px;
				    color: #fff;
				    font-size: 17px;
				    text-align: center;
				    margin-right: @unit1;
				}

			}

			//children
			> a {
				width: 100%;
				height: 100%;
				color: @primary-c;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

			i {
				font-size: 24px;
				color: #737780;
				width: 35px;
				text-align: left;
			}

		}

	}

}

//global - inherit
//global classes for DD
.ddown-multi .ddown-multi__menu {

	li.ddown-multi__label {
		color:#abaeb3;
		padding-bottom:3px;
		&:hover {
			background-color: #fff;
		}

		span {
			font-size: 13px;
			color: #b9babc;
		}

	}

}

.ddown-multi .ddown-multi__submenu {
	li.ddown-multi__label {
		&:hover {
			background-color: #fff;
		}

	}

}

.ddown-multi .ddown-multi__submenu {
	.ddown__sgl--range {
		padding: @unit2;

		&:hover {
			background-color: #fff;
		}

		button, .btn {


			position: relative;
			text-align: center;
			margin-top:16px;
		    justify-content: center;

		}

	}

}

//end global