.flex-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    width: 100%;
    flex: 1;
    position: relative;

    .flex-block__close {
        position:absolute;
        top:8px;
        right:24px;
        z-index:102;
        i {
            color:@primary-grey;
            font-size:17px;
        }

    }

    &:hover {

        .flex-block__close i {
            color:@primary-c;
        }

    }

    .avatar-filter();

    .flex-block__content {
        display: flex;
        flex-flow: column nowrap;
        font-size: 13px;
        margin-left: 16px;
        text-align: left;



        &.flex--block__content--tight {
            >* {
                line-height:18px;
            }

        }

    }

    .flex-block__badge {
        margin-left: auto;
        color: @primary-bg;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-right: 16px;
    }

    //modifiers

    &.flex-block--bold {
        .flex-block__title {
            font-weight: 500;
            font-size: 13px;
            color: @primary-c;
        }

        .flex-block__desc {
            font-weight: 500;
            color: lighten(@secondary-bg, 45%);
            font-size: 13px;
        }

    }

}

//Helpers

.card--contacts {
    .flex-block {
        margin-bottom: 0;

        &:hover {
            background: @standard-white-second;
            transition: 500ms;
        }

    }

}

.card--scrollbox {
    .flex-block {
        padding: 8px 0 8px 24px;
    }

}

.sidebar {
    .flex-block {
        padding: 8px 24px;
        border-bottom: 1px solid @background;
        margin-bottom:0;
        transition:@transition;
        position:relative;

        .avatar:after {
            transition:@transition;
        }

        &:hover {
            background-color: lighten(@secondary-bg, 72%);

            .avatar:after {
                border-color: lighten(@secondary-bg, 72%);
            }

        }

        .flex-block__title {
            font-weight:bold;
        }

        &:last-child {
            border-bottom:0;
        }
    }
}

.ddown--user {

    .flex-block {

        .flex-block__title {
            position:relative;
            top:8px;
        }

        .flex-block__desc {
            font-weight:400;
            position:relative;
            bottom:8px;
        }
    }

    .ddown__menu {
        > li:first-child {
            margin-top: 0;
        }
        > li:last-child {
            margin-bottom: 0;
        }
    }
}

.card--contacts.card--scrollbox {

    .flex-block__content {
        line-height: 20px;
    }
}