//AR Info component


.list {
    // padding-bottom: 12px;

    // border-bottom: 1px solid #ebeff0;

    .list__title {
        font-size: 12px;
        // color: @primary-c-darken50;
        text-transform: uppercase;
        margin-bottom: @unit1;
        font-weight: 500;
        color:#a1a7b2;
    }

    //sizes

    &.list--md {
    margin-bottom: @unit3;


        &:first-child {
        
    }
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    //modificators

    &.list--icons {
        color:@secondary-bg-lighten45;


        li {
            color:@secondary-bg-lighten45;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            display: flex;
            line-height: 26px;
            font-size: 12px;
        }

        i {
            margin-right: 12px;
            color: inherit;
            font-size: 19px;
            line-height: inherit;
        }

        span, a {
            // color:@secondary-bg-lighten45;
                font-size: 12px;
                color:#8a8f99;
        }

    }

    //not data row
    ul {
        .list-clear();
        color: #5c6266;
        font-size: 13px;
        display: block;
        line-height: 20px;
        &.space-between {
            line-height: 30px;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span.label {
                    color: @primary-c-overlay;
                    font-weight: 500;
                }
                span {
                    font-weight: bold;
                    color: @primary-c;
                }
            }
        }
    }
}
