//
// Pagination
//

// standard widgewt pagination

//container
.pagination
{
    display: flex;

    width: 100%;
    height: 52px;
    min-height: 52px;
    margin: 8px 0;

    justify-content: space-between;
    align-items: center;
    // margin: 10px 0 0 0;
    &.pagination--padding
    {
        padding: 0 30px;
    }
    // &.pagination--fixed {
    //     width: ~'calc(100% - 48px)';
    //     position: absolute;
    //     bottom: 20px;
    //
    // }
    //theme alt
    &.pagination--arrows
    {
        .pagination-pages
        {
            display: flex;

            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            // padding-left: 14px;
            .pagination-pages__prev,
            .pagination-pages__next
            {
                //tmp
                position: relative;
                top: -1px;
                a
                {
                    font-size: 19px;

                    position: relative;

                    display: flex;

                    width: 32px;
                    height: 32px;

                    color: @primary-c;
                    color: @primary-c;

                    align-items: center;
                    justify-content: center;
                    .mdl-button__ripple-container
                    {
                        border-radius: 50%;
                    }
                }
                &.disabled
                {
                    a
                    {
                        color: @color-disabled;
                    }
                }
            }
            .pagination-pages__prev
            {
                padding-right: 0;
            }
            .pagination-pages__next
            {
                // padding-left: 7px;
            }
            ul.pagination-pages__list
            {
                li
                {
                    width: 24px;
                    margin-right: 0;
                    //active
                    &.pagination-pages__sgl--active
                    {
                        a
                        {
                            color: @primary-bg;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        //Filter - Items Per Page
        .pagination-filter
        {
            ul
            {
                display: flex;

                margin: 0;

                .list-clear();
                flex-flow: row nowrap;
                li
                {
                    width: 24px;
                    &:last-child
                    {
                        margin-right: 0;
                    }
                    a
                    {
                        position: relative;

                        display: flex;

                        width: 100%;
                        height: 100%;

                        color: @primary-c;

                        align-items: center;
                        justify-content: center;
                        .mdl-button__ripple-container
                        {
                            border-radius: 50%;
                        }
                    }
                    //active
                    &.pagination-filter__sgl--active
                    {
                        border-radius: 50%;
                        background-color: transparent;
                        a
                        {
                            font-weight: bold;

                            color: @primary-bg;
                        }
                    }
                }
            }
        }
    }
    //Page select
    .pagination-pages
    {
        display: flex;
        // padding-left: 14px;

        margin-left: -8px;

        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        .pagination-pages__prev,
        .pagination-pages__next
        {
            a
            {
                font-size: 19px;

                position: relative;

                display: flex;

                width: 32px;
                height: 32px;

                color: #a1a8b2;

                align-items: center;
                justify-content: center;
                .mdl-button__ripple-container
                {
                    border-radius: 50%;
                }
            }
        }
        .pagination-pages__prev
        {
            padding-right: 8px;
        }
        .pagination-pages__next
        {
            padding-left: 8px;
        }
        ul.pagination-pages__list
        {
            // margin: 0 20px;
            display: flex;

            .list-clear();
            flex-flow: row nowrap;
            @media @xs
            {
                display: none;
            }
            li
            {
                display: inline-block;

                width: 32px;
                height: 32px;
                margin-right: 8px;

                text-align: center;
                &:last-child
                {
                    margin-right: 0;
                }
                a
                {
                    font-size: 13px;
                    line-height: 32px;

                    position: relative;

                    display: block;

                    width: 100%;
                    height: 100%;

                    color: @primary-c;
                    color: @primary-c;
                    border-radius: 50%;
                    .mdl-button__ripple-container
                    {
                        border-radius: 50%;
                    }
                    &:hover
                    {
                        color: #02a8f3 !important;
                    }
                }
                //active
                &.pagination-pages__sgl--active
                {
                    a
                    {
                        font-weight: bold;

                        background-color: #e1e5e8;
                    }
                }
            }
        }
    }
    //Filter - Items Per Page
    .pagination-filter
    {
        margin-right: -8px;
        ul
        {
            display: flex;

            margin: 0;

            .list-clear();
            flex-flow: row nowrap;
            li
            {
                font-size: 13px;
                line-height: 32px;

                display: inline-block;

                width: 32px;
                height: 32px;
                margin-right: 8px;

                text-align: center;

                color: @primary-c;
                &:last-child
                {
                    margin-right: 0;
                }
                a
                {
                    position: relative;

                    display: flex;

                    width: 100%;
                    height: 100%;

                    color: @primary-c;

                    align-items: center;
                    justify-content: center;
                    &:hover
                    {
                        color: #02a8f3 !important;
                    }
                    .mdl-button__ripple-container
                    {
                        border-radius: 50%;
                    }
                }
                //active
                &.pagination-filter__sgl--active
                {
                    font-weight: bold;

                    border-radius: 50%;
                    background-color: #e1e5e8;
                }
            }
        }
    }
}


// Datatables Implementation
.dt-area-bottom
{
    display: flex;

    height: 55px;
    margin-bottom: 8px;
    padding: 0;
    padding-bottom: 0;

    background: #fff;

    justify-content: space-between;
    align-items: center;
}

// paddings
.mdl-tabs
{
    .pagination
    {
        padding: 0 @unit3;
    }
}

.tbl-c .dt-area-bottom
{
    margin: @unit1 0 @unit1 0;
}


// general
.tbl-c .dataTables_wrapper .dataTables_paginate > span a:hover,
.tbl-c .dataTables_wrapper .dataTables_paginate > span a:active
{
    color: #02a8f3;
    border: none;
    outline: 0;
    background: none;
    box-shadow: none;
}

.dataTables_paginate
{
    margin-left: -8px;
}

.dataTables_length
{
    margin-right: -8px;
    a
    {
        font-weight: 400;
    }
}

.paginate_button.previous
{
    margin-right: 8px;
}

.paginate_button.next
{
    margin-left: 8px;
}

// DISABLE PAGINATION}

#app-wrapper .no-pagination
{
    .pagination
    {
        display: none;
    }
}

//TYPE1 - circles
.tbl-c .dataTables_wrapper .pagination--type1 .dataTables_paginate
{
    display: flex;
    float: left;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // padding-left: 37px;
    .paginate_button.current
    {
        border: 0;
        background: #e1e5e8;
        &:hover
        {
            color: #02a8f3;
            border: 0;
            background: #e1e5e8;
        }
    }
    .paginate_button:active
    {
        border: 0;
        background: none;
        box-shadow: none;
    }
    .paginate_button:hover
    {
        color: #02a8f3;
        border: 0;
        background: none;
    }
    .paginate_button
    {
        line-height: 32px;

        width: 32px;
        height: 32px;
        // margin-right: 8px;

        cursor: pointer;

        color: @primary-c;

        .flex-center();
        &.disabled
        {
            cursor: default;
        }
        &:last-child
        {
            margin-right: 0;
        }
    }
    > span
    {
        line-height: 32px;

        display: flex;

        flex-flow: row nowrap;
        a
        {
            font-size: 13px;
            font-weight: bold;
            line-height: 32px;

            width: 32px;
            height: 32px;
            margin-right: @unit1;

            cursor: pointer;

            color: @primary-c;
            &:last-child
            {
                // margin-right: 0;
            }
            &:hover
            {
                // background: #E1E5E8;
                // border-radius: 50%;
                color: @primary-bg;
            }
            &.current
            {
                border-radius: 50%;
                background: #e1e5e8;
            }
        }
    }
}

//TYPE2 - ARROWS
.tbl-c .dataTables_wrapper .pagination--type2 .dataTables_paginate
{
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // padding-left: 37px;
    .paginate_button.current
    {
        font-weight: bold;

        margin: 0;
        padding: 0;

        color: @primary-bg;
        border: 0;
        background: none;
        &:hover
        {
            color: #02a8f3;
            border: 0;
            background: none;
        }
    }
    .paginate_button:active
    {
        border: 0;
        background: none;
        box-shadow: none;
    }
    .paginate_button:hover
    {
        color: #02a8f3;
        border: 0;
        background: none;
    }
    .paginate_button
    {
        font-weight: 400;
        line-height: 32px;

        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        // margin-right: 8px;

        cursor: pointer;

        color: #8a9099;
        border: none;
        background: none;

        .flex-center();
        &.disabled
        {
            cursor: default;
        }
        &:last-child
        {
            margin-right: 0;
        }
    }
    > span
    {
        line-height: 32px;

        display: flex;

        flex-flow: row nowrap;
        a
        {
            font-size: 13px;
            font-weight: bold;
            line-height: 32px;

            width: 32px;
            height: 32px;
            margin-right: @unit1;

            cursor: pointer;

            color: @primary-c;
            &:last-child
            {
                // margin-right: 0;
            }
            &:hover
            {
                // background: #E1E5E8;
                // border-radius: 50%;
                color: @primary-bg;
            }
            &.current
            {
                border-radius: 50%;
                background: #e1e5e8;
            }
        }
    }
}

.dt-pag-left,
.dt-pag-right
{
    &:hover
    {
        color: @primary-bg;

        backgorund: none;
    }
}

.dt-pag-left
{
    font-size: 19px;

    color: @primary-c-overlay;
}

.dt-pag-right
{
    font-size: 19px;

    color: @primary-c-overlay;
}

//length
.dataTables_length
{
    display: flex;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    // padding-top: 14px;
    // padding-right: 24px;
    a
    {
        font-size: 13px;
        line-height: 32px;

        display: flex;

        width: 32px;
        height: 32px;
        margin-right: @unit1;

        cursor: pointer;

        color: @primary-c;

        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        &:last-child
        {
            margin-right: 0;
        }
        &:hover
        {
            // background: #E1E5E8;
            // border-radius: 50%;
            color: @primary-bg;
        }
        &.active
        {
            // border-radius: 50%;
            font-weight: bold;

            color: @primary-bg;
            background: none;
        }
    }
}
