.timeline__padding {
  &> div {
    display: block !important; // because css in vue
    & > span {
      display: inline-block;
      position: relative;
      padding-left: 10px !important;
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 1px;
        transform: translateY(-50%);
        border: 2px solid #a1a8b2;
        border-radius: 100px;
      }
    }
  }
}



.card .select2 .select2-selection{
  background-color: transparent;
}
@media @xs {
  .card.card--logs .card-ctrls{
    .search-box .search-box__search-field{
      padding: 0;
    }
    margin-bottom: 0;
    margin-top: 0;

    .search-box .search-box__mdl-textfield .mdl-textfield__label:after{
      z-index: 10;
    }
  }


  // xs LOGS
  .card-ctrls.card-ctrls--nopadding {
    margin: 0 !important; // tam był important mt16

  }





  //[data-selectar--mdl="true"] + .select2-container--mdl {
  //  padding-right: 0;
  //  text-align: right;
  //  min-width: auto;
  //  position: absolute !important;
  //  right: 35px;
  //  width: auto !important;
  //  .select2-selection {
  //    height: 100%;
  //  }
  //}

  .select2 .select2-selection .select2-selection__rendered {
    line-height: 37px;
    height: 100%;
  }



  .timeline__padding > div {
    display: block !important; // because css in vue
    & > span {
      display: inline-block;
      position: relative;
      padding-left: 10px !important;
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: 2px solid #a1a8b2;
        border-radius: 100px;
      }
    }

  }

  #app-wrapper .card--logs .timeline {
    //max-height: 300px;
    margin-top: 20px;
  }

  // xs LOGS END
  .card-block--logs{
    .card__content > .datarow{
      margin-top: 16px;
    }
  }
}
.card--logs .timeline{
   overflow: hidden;
 }
//.card.card--logs .datarow >div:first-of-type{
//  @media only screen and (min-width: 1200px) {
//    padding-right: 16px;
//  }
//}