@media @xs {
    // xs SYSTEM INFO
    .card.card--info .card__header-right .btn-link {
        left: auto;
    }
    .card.card--info .card__mobile-toggle {
        margin-right: -12px;
    }
    .card.card--info .card__indicator span {
        display: inherit;
        color: @primary-c;
        margin-top: 8px;
    }
    .card.card--info .card__indicator .zmdi-info-outline {
        display: inline-block;
        font-size: 19px;
        margin-left: 0;
        vertical-align: top;
    } // xs SYSTEM INFO END
}

.card.card--info .btn-link.btn--red {
    color: @standard-white !important;
    background-color: @color-alert;
    font-weight: 400;
    &:hover {
        background-color: #fd4e42;
    }
}

.card--info {
    .mobile-toogle--box {
        width: auto;
        display: inline-block;
        float: right;
        padding: 0 !important;
        margin-top: -8px;
        //margin-right: 8px;
    }
}
