<!DOCTYPE html>
<html lang="en">
<% var pageTitle = 'Form Single'; %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <% if(mainMenuType === 'wide'){ %>
    <% include ../../layout/color_template_wide %>
    <% } else{ %>
    <% include ../../layout/color_template %>
    <% } %>
    <% include ../../layout/css_files %>
</head>

<body>
<% include ../../layout/app_wrapper_start_tag %>

<% if(clientArea){ %>
<% include ../../layout/mode_clientArea/CA_menutop %>
<% } else{ %>
<% include ../../layout/main_menu_html %>
<% } %>

<div class="app-content page-forms page-forms--hor page-single-form" data-scroll-blocked="true">
    <% var breadData = 'Form Single'; %>

    <% if(clientArea){ %>
    <% include ../../layout/mode_clientArea/CA_mainhead %>
    <% } else{ %>
    <% include ../../layout/mainhead %>
    <% } %>

    <% include ../../layout/sidebar_notifications %>
    <% include ../../layout/sidebar_alerts %>
    <section class="main-content nopadding ">
        <div class="grid-container grid-container--1col grid-container--footer grid-container--no-padd">
            <div class="grid-col grid-col--container">
                <section class="generals-form" data-preload>
                    <h1>Form Vertical</h1>
                    <form id="14" method="post" action="">
                        <fieldset name="inputs">
                            <a name="AntaresFormsVert" id="AntaresFormsVert">
                                <legend>Form Grid example</legend>
                            </a>
                            <div class="form-errors"></div>
                            <div class="col-group">
                                <div class="form-block">
                                    <div class="col-mb-24">
                                        <label class="form-block__name">Text</label>
                                    </div>
                                    <div class="col-mb-24">
                                        <div class="input-field">
                                            <input type="text" name="Text" placeholder="RS Studio" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group">
                                <div class="form-block">
                                    <div class="col-mb-24">
                                        <label class="form-block__name">Number</label>
                                    </div>
                                    <div class="col-mb-24">
                                        <div class="input-field">
                                            <input type="number" name="Number" placeholder="12345" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <h1>Form Horizontal</h1>
                    <form class="form-validation form--hor" id="form-valid-test" method="post" action="">
                        <fieldset name="inputs">
                            <a name="AntaresFormsHoriz" id="AntaresFormsHoriz">
                                <legend>Form Grid example</legend>
                            </a>
                            <div class="form-block ">
                                <div class="col-group">
                                    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                        <label class="form-block__name">Text</label>
                                    </div>
                                    <div class="col-mb-16 col-18 col-dt-10 col-ld-4">
                                        <div class="input-field">
                                            <input type="text" name="testName" id="testName" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block ">
                                <div class="col-group">
                                    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                        <label class="form-block__name">Longer Text</label>
                                    </div>
                                    <div class="col-mb-16 col-18 col-dt-12 col-ld-7">
                                        <div class="input-field">
                                            <input type="text" name="testName" id="testName" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block ">
                                <div class="col-group">
                                    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                        <label class="form-block__name">Significantly Longer
                                            Text
                                        </label>
                                    </div>
                                    <div class="col-mb-16 col-18 col-dt-14 col-ld-12">
                                        <div class="input-field">
                                            <input type="text" name="testName" id="testName" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block ">
                                <div class="col-group">
                                    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                        <label class="form-block__name">Really, really, really
                                            longer text</label>
                                    </div>
                                    <div class="col-mb-16 col-18 col-dt-20 col-ld-16">
                                        <div class="input-field">
                                            <input type="text" name="testName" id="testName" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block ">
                                <div class="col-group">
                                    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                                        <label class="form-block__name">That's just absurd.
                                            Can we even make
                                            label this wide?</label>
                                    </div>
                                    <div class="col-mb-16 col-18 col-dt-20 col-ld-21">
                                        <div class="input-field">
                                            <input type="text" name="testName" id="testName" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                    </form>

                    <% include ../../layout/app_footer %>
                </section>
            </div>
        </div>
    </section>
</div>

<% include ../../layout/js_files %>

<script>

</script>
</body>


</html>
