<!DOCTYPE html>
<html lang="en">
<% var pageTitle = 'Form Layouts'; %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= pageTitle %></title>
    <% if(mainMenuType === 'wide'){ %>
    <% include ../../layout/color_template_wide %>
    <% } else{ %>
    <% include ../../layout/color_template %>
    <% } %>
    <% include ../../layout/css_files %>
</head>

<body>
<% include ../../layout/app_wrapper_start_tag %>

<% if(clientArea){ %>
<% include ../../layout/mode_clientArea/CA_menutop %>
<% } else{ %>
<% include ../../layout/main_menu_html %>
<% } %>

<div class="app-content page-forms page-forms--hor" data-scroll-blocked="true">
    <% var breadData = 'Form Layouts'; %>

    <% if(clientArea){ %>
    <% include ../../layout/mode_clientArea/CA_mainhead %>
    <% } else{ %>
    <% include ../../layout/mainhead %>
    <% } %>

    <% include ../../layout/sidebar_notifications %>
    <% include ../../layout/sidebar_alerts %>
    <section class="main-content nopadding">
        <div class="grid-container grid-container--2col grid-container--footer grid-container--no-padd">

            <% include ../../layout/menu_aside_forms %>
            <div class="grid-col grid-col--container">
                <div class="menu-mobile-settings--box">
                    <select class="menu-mobile-settings" data-select2--class="menu-aside-settings--blue"
                            data-selectAR--search="true" name="select">
                    </select>
                </div>
                <section class="generals-form" data-preload>
                    <h1>Form Vertical</h1>
                    <form id="14" method="post" action="">
                        <fieldset name="inputs">
                            <a name="AntaresFormsVert" id="AntaresFormsVert">
                                <legend>Error list</legend>
                            </a>
                            <div class="form-errors"></div>
                            <div class="col-group">
                                <div class="form-block">
                                    <div class="col-mb-24">
                                        <label class="form-block__name">Text</label>
                                    </div>
                                    <div class="col-mb-24">
                                        <div class="input-field">
                                            <input type="text" name="Text" placeholder="RS Studio" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group">
                                <div class="form-block">
                                    <div class="col-mb-24">
                                        <label class="form-block__name">Number</label>
                                    </div>
                                    <div class="col-mb-24">
                                        <div class="input-field">
                                            <input type="number" name="Number" placeholder="12345" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group">
                                <div class="form-block">
                                    <div class="col-mb-24">
                                        <label class="form-block__name">Password</label>
                                    </div>
                                    <div class="col-mb-24">
                                        <div class="input-field">
                                            <input type="password" name="Password" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group">
                                <div class="form-block">
                                    <div class="col-mb-24">
                                        <label class="form-block__name">Control element with icon</label>
                                    </div>
                                    <div class="col-mb-24">
                                        <div class="input-field input-field--icon">
                                            <div class="input-field__icon">
                                                <i class="zmdi zmdi-upload"></i>
                                            </div>
                                            <input type="text" name="with_desc" placeholder="Placeholder"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-group">
                                <div class="col-mb-24">
                                    <button type="submit" name="action"
                                            class="btn btn--submit btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                                        SEND
                                    </button>
                                </div>
                            </div>
                        </fieldset>

                    </form>

                    <h1>Form Horizontal</h1>
                    <form class="form-validation form--hor" id="form-valid-test" method="post" action="">
                        <fieldset name="inputs">
                            <a name="AntaresFormsHoriz" id="AntaresFormsHoriz">
                                <legend>Error list</legend>
                            </a>
                            <div class="form-errors" id="form-errors"></div>
                            <div class="form-block ">
                                <div class="col-group">
                                    <div class="col-mb-8 col-mb-8 col-6">
                                        <label class="form-block__name">Text</label>
                                    </div>
                                    <div class="col-mb-16 col-18">
                                        <div class="input-field">
                                            <input type="text" name="testName" id="testName"
                                                   placeholder="RS Studio" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block">
                                <div class="col-group">
                                    <div class="col-mb-8 col-mb-8 col-6">
                                        <label class="form-block__name">Number</label>
                                    </div>
                                    <div class="col-mb-16 col-18">
                                        <div class="input-field">
                                            <input type="number" name="Number" placeholder="12345" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block">

                                <div class="col-group">
                                    <div class="col-mb-8 col-mb-8 col-6">
                                        <label class="form-block__name">Password</label>
                                    </div>
                                    <div class="col-mb-16 col-18">
                                        <div class="input-field">
                                            <input type="password" name="Password" placeholder="RS Studio"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block">
                                <div class="col-group">
                                    <div class="col-mb-8 col-mb-8 col-6">
                                        <label class="form-block__name">Control element error with
                                            icon</label>
                                    </div>
                                    <div class="col-mb-16 col-18">
                                        <div class="input-field">
                                            <div class="input-field">
                                                <input type="text" name="with_desc" placeholder="Placeholder"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-block">
                            <div class="col-group">
                                <div class="col-mb-8 col-mb-8 col-6">
                                </div>
                                <div class="col-mb-16 col-18">
                                    <div class="input-field">
                                        <div class="input-field">
                                            <button type="submit" name="action"
                                                    class="btn btn--submit btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect">
                                                SEND
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <% include ../../layout/app_footer %>
                </section>
            </div>
        </div>
    </section>
</div>

<% include ../../layout/js_files %> 

<script>

</script>
</body>


</html>
