<!DOCTYPE html>
<html lang="en">
<% var pageTitle = 'Form Elements'; %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= pageTitle %></title>
    <% if(mainMenuType === 'wide'){ %>
    <% include ../../layout/color_template_wide %>
    <% } else{ %>
    <% include ../../layout/color_template %>
    <% } %>
    <% include ../../layout/css_files %>
</head>

<body>
<% include ../../layout/app_wrapper_start_tag %>

<% if(clientArea){ %>
<% include ../../layout/mode_clientArea/CA_menutop %>
<% } else{ %>
<% include ../../layout/main_menu_html %>
<% } %>

<div class="app-content page-settings page-forms--hor">
    <% var breadData = 'Form Elements'; %>

    <% if(clientArea){ %>
    <% include ../../layout/mode_clientArea/CA_mainhead %>
    <% } else{ %>
    <% include ../../layout/mainhead %>
    <% } %>

    <% include ../../layout/sidebar_notifications %>
    <% include ../../layout/sidebar_alerts %>
    <section class="main-content" data-preload>
        <div class="grid-container grid-container--2col grid-container--footer grid-container--no-padd">
            <% include ../../layout/menu_aside_general_settings %>
            <div class="grid-col grid-col--container">
                <div class="menu-mobile-settings--box">
                    <select class="menu-mobile-settings" data-select2--class="menu-aside-settings--blue"
                            data-selectAR--search="true" name="select" id="select-anchor">
                    </select>
                </div>
                <section class="generals-form">
                    <h1>Form Elements</h1>
                    <form method="post" action="">
                        <fieldset name="Buttons">
                            <a name="AntaresButtons">
                                <legend>Buttons</legend>
                            </a>
                            <% include ../ui_components/ui_btn %>
                        </fieldset>
                    </form>
                    <form method="post" action="">
                        <fieldset name="Buttons" class="btn-with-icon">
                            <a name="AntaresButtonsWithIcon">
                                <legend>Buttons with icon</legend>
                            </a>
                            <% include ../ui_components/ui_btn_with_icon %>
                        </fieldset>
                    </form>
                    <form method="post" action="">
                        <fieldset name="Buttons">
                            <a name="AntaresButtonsSizes">
                                <legend>Buttons sizes</legend>
                            </a>
                            <% include ../ui_components/ui_btn_sizes %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="inputs">
                            <a name="AntaresInputs" id="AntaresInputs">
                                <legend>Inputs - simple</legend>
                            </a>
                            <% include ../ui_components/ui_input_simple %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="Selects">
                            <a name="AntaresSelects">
                                <legend>Selects</legend>
                            </a>
                            <% include ../ui_components/ui_selects %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset class="more-inputs">
                            <a name="AntaresRareInput">
                                <legend>More inputs</legend>
                            </a>
                            <% include ../ui_components/ui_more_input %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="Input-with-button">
                            <a name="AntaresInputWithButton">
                                <legend>Input with button</legend>
                            </a>
                            <% include ../ui_components/ui_input_with_btn %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset>
                            <a name="AntaresTextarea">
                                <legend>Textarea and tooltip</legend>
                            </a>

                            <% include ../ui_components/ui_textarea %>
                        </fieldset>
                    </form>

                    <form>
                        <fieldset name="AntaresDatepickers">
                            <a name="AntaresDatepickers">
                                <legend>Datepickers</legend>
                            </a>
                            <% include ../ui_components/ui_datepickers %>
                        </fieldset>
                    </form>

                    <form>
                        <fieldset name="RadioCheckSwitch">
                            <a name="AntaresSwitch">
                                <legend>Switch</legend>
                            </a>
                            <% include ../ui_components/ui_switch %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="RadioCheckSwitch">
                            <a name="AntaresRadio">
                                <legend>Radio</legend>
                            </a>
                            <% include ../ui_components/ui_radio %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="RadioCheckSwitch">
                            <a name="AntaresCheckbox">
                                <legend>Checkbox</legend>
                            </a>
                            <% include ../ui_components/ui_checkbox %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="Sliders" class="slider">
                            <a name="AntaresStandardSlider">
                                <legend>Slider</legend>
                            </a>
                            <% include ../ui_components/ui_sliders %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="spinners" class="spinner">
                            <a name="AntaresSpinner">
                                <legend>Spinners</legend>
                            </a>
                            <% include ../ui_components/ui_spinners %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="MDLForms">
                            <a name="AntaresMDForms">
                                <legend>MD Forms</legend>
                            </a>
                            <% include ../ui_components/ui_md_forms %>
                        </fieldset>
                    </form>
                    <form>
                        <fieldset name="inputFIle">
                            <a name="AntaresInputFile">
                                <legend>Input file</legend>
                            </a>
                            <% include ../ui_components/ui_input_file %>
                        </fieldset>
                    </form>

                    <% include ../../layout/app_footer %>
                </section>
            </div>
        </div>
    </section>
</div>
<% include ../../layout/js_files %>
<script>

</script>
</body>

</html>