<!DOCTYPE html>
<html lang="en">
<% var pageTitle = 'Antares Alerts'; %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= pageTitle %></title>
    <% if(mainMenuType === 'wide'){ %>
    <% include ../../layout/color_template_wide %>
    <% } else{ %>
    <% include ../../layout/color_template %>
    <% } %>

    <% include ../../layout/css_files %>
</head>

<body>
<% include ../../layout/app_wrapper_start_tag %>

<% if(clientArea){ %>
<% include ../../layout/mode_clientArea/CA_menutop %>
<% } else{ %>
<% include ../../layout/main_menu_html %>
<% } %>

<div class="app-content page-settings">
    <% var breadData = 'Antares Alerts'; %>

    <% if(clientArea){ %>
    <% include ../../layout/mode_clientArea/CA_mainhead %>
    <% } else{ %>
    <% include ../../layout/mainhead %>
    <% } %>

    <% include ../../layout/sidebar_notifications %>
    <% include ../../layout/sidebar_alerts %>
    <section class="main-content" data-preload>
        <div class="grid-container grid-container--2col grid-container--footer grid-container--no-padd">
            <div class="grid-col grid-col--menu">
                <div class="menu-aside-container" data-scrollable>
                    <ul class="menu-aside">
                        <li class="is-active">
                            <a href="#AntaresAlerts" class="mdl-js-button mdl-js-ripple-effect"><span>Alerts</span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid-col grid-col--container">
                <div class="menu-mobile-settings--box">
                    <select class="menu-mobile-settings" data-select2--class="menu-aside-settings--blue"
                            data-selectAR--search="true" name="select" id="select-anchor">
                    </select>
                </div>
                <section class="generals-form">
                    <a name="AntaresAlerts" id="AntaresAlerts">
                        <h1>Alerts / Notifications</h1>
                    </a>
                    <div class="alerts--block">
                        <% include ../ui_components/ui_alerts_notif %>
                    </div>
                </section>
                <% include ../../layout/app_footer %>
            </div>
        </div>
    </section>
</div>
<% include ../../layout/js_files %>
<script>

</script>
</body>

</html>