<aside class="main-menu-html main-sidebar main-menu-html--ca" data-menu-on-load="primary">
    <div class="nav-container">
        <nav>
            <div class="menu-scroll">
                <ul class="main-menu--brand main-menu ">
                    <li class="main-menu__brand has-submenu" data-index="0" data-name="brand">
                        <a>
                            <div class="main-sidebar__logo"></div>
                        </a>
                        <div class="submenu submenu--system js-flex-start">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i> <span>Brand Menu</span>
                            </a>
                            <section class="section--2col" data-scrollable>
                                <!-- <header>
                                    <h3>Main Section</h3>
                                </header> -->
                                <div class="submenu__content standard">

                                    <div class="submenu__content-left">
                                        <div class="brand-logo"></div>
                                    </div>
                                    <div class="submenu__content-right"><span class="brand-name">564</span>
                                        <div class="menu-columns">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="">
                                                        <li class="">
                                                            <span>Client</span>
                                                            <span>Area</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Payment</span>
                                                            <span>Monthly</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="">
                                                        <li class="">
                                                            <span>Plan</span>
                                                            <span>Lite</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Payment</span>
                                                            <span>Monthly</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </li>
                </ul>
                <ul class="main-menu main-menu--primary">
                    <li data-index="0" data-name="dashboard">
                        <a href="index.html"><i class="zmdi zmdi-view-dashboard"></i> <span
                                    class="text">Dashboard</span></a>
                    </li>
                    <li data-index="1" data-name="pages" class="has-submenu">
                        <a>
                            <i class="zmdi zmdi-layers"></i>
                            <span class="text">Pages</span>
                        </a>
                        <div class="submenu flex-fs">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i><span>Pages</span></a>
                            <section data-scrollable>
                                <header>
                                    <h3>Upper Menu</h3>
                                </header>
                                <div class="submenu__content">
                                    <div class="menu-columns">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="">
                                                    <li data-name="clients_list">
                                                        <a href="clients_list.html"><span>Clients List</span></a>
                                                        <span class="badge badge--dark badge--md">99</span>
                                                    </li>
                                                    <li data-name="client_details">
                                                        <a href="clients_details.html"><span>Client Details</span></a>

                                                        <span class="badge badge--dark badge--md">21</span>
                                                    </li>
                                                    <li data-name="brand_settings">
                                                        <a href="brand_settings.html"><span>Brand Settings</span></a>

                                                        <span class="badge badge--dark badge--md">59</span>
                                                    </li>
                                                    <li data-name="email_settings">
                                                        <a href="email_settings.html"><span>Email Settings</span></a>

                                                        <span class="badge badge--dark badge--md">11</span>
                                                    </li>
                                                    <li data-name="steps_page">
                                                        <a href="steps.html"><span>Steps Page</span></a>

                                                        <span class="badge badge--dark badge--md">4</span>
                                                    </li>
                                                    <li data-name="login_page">
                                                        <a href="login_page.html"><span>Login Page</span></a>

                                                        <span class="badge badge--dark badge--md">2</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="">
                                                    <li data-name="zero_data">
                                                        <a href="zero_data.html"><span>Zero Data</span></a>

                                                        <span class="badge badge--dark badge--md">52</span>
                                                    </li>
                                                    <li data-name="error_400">
                                                        <a href="error_400.html"><span>Error 400</span></a>

                                                        <span class="badge badge--dark badge--md">12</span>
                                                    </li>
                                                    <li data-name="error_404">
                                                        <a href="error_404.html"><span>Error 404</span></a>

                                                        <span class="badge badge--dark badge--md">5</span>
                                                    </li>
                                                    <li data-name="error_500">
                                                        <a href="error_500.html"><span>Error 500</span></a>
                                                        <span class="badge badge--dark badge--md">1</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-menu-item="clients_list" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Client list</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="client_details" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Client details</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="brand_settings" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Brand settings</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="email_settings" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Email settings</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="steps_page" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Steps page</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="login_page" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Login page</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="zero_data" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Zero data</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="error_400" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Error 400</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum - это текст-"рыба", часто
                                            используемый в печати и вэб-дизайне. Lorem
                                            Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI
                                            века...
                                        </div>
                                    </div>
                                    <div data-menu-item="error_404" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Error 404</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="error_500" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Error 500</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li data-index="2" data-name="UI elements" class="has-submenu">
                        <a><i class="zmdi zmdi-check-all"></i> <span class="text">UI elem.</span></a>
                        <div class="submenu flex-fs">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i><span>UI elements</span></a>
                            <section data-scrollable>
                                <header>
                                    <h3>Upper Menu</h3>
                                </header>
                                <div class="submenu__content">
                                    <div class="menu-columns">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="">
                                                    <li data-name="form_elements"><a href="form_elements.html"><span>Form Elements</span></a>
                                                        <span class="badge badge--dark badge--md">79</span></li>
                                                    <li data-name="form_layouts"><a
                                                                href="form_layouts.html"><span>Form Layouts</span></a>
                                                        <span class="badge badge--dark badge--md">56</span></li>
                                                    <li data-name="ui_btns"><a href="ui_btns.html"><span>Buttons</span></a>
                                                        <span class="badge badge--dark badge--md">85</span></li>
                                                    <li data-name="ui_grid"><a href="ui_grid.html"><span>Grid</span></a>
                                                        <span class="badge badge--dark badge--md">42</span></li>
                                                    <li data-name="ui_alerts"><a
                                                                href="ui_alerts.html"><span>Alerts</span></a>
                                                        <span class="badge badge--dark badge--md">93</span></li>
                                                    <li data-name="form_single"><a
                                                                href="form_single.html"><span>Form Single</span></a>
                                                        <span class="badge badge--dark badge--md">81</span></li>

                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="">
                                                    <li data-name="ui_noti"><a
                                                                href="ui_notification_preview.html"><span>Notification Preview</span></a>
                                                        <span class="badge badge--dark badge--md">63</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    <div data-menu-item="form_elements" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Form Elements</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="form_layouts" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Form Layouts</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="ui_btns" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Buttons</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="ui_alerts" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Alerts</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="ui_grid" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Grid</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="form_single" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Form Single</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                    <div data-menu-item="ui_noti" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i>
                                            <span>Notification Preview</span>
                                        </div>
                                        <div class="menu-tooltip__content">Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the
                                            1500s...
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>

                <div class="client-area">
                    <div class="item-grp-single" data-tooltip-inline="Widget Edit Toggle">
                        <div class="mdl-js-button mdl-js-ripple-effect widget-edit" id="widgets-edit">
                            <i class="icon--widgets-edit"></i>
                        </div>
                    </div>
                    <div class="item-grp-single" data-tooltip-inline="Notifications" data-tooltip-my-position="top left"
                         data-tooltip-target-position="bottom right">
                        <span class="badge badge--md badge--green badge--top-right">5</span>
                        <div class="mdl-js-button mdl-js-ripple-effect" id="main-notifications">
                            <div class="main-head__alerts"><i class="icon--alert"></i></div>
                        </div>
                    </div>

                    <div class="item-grp-single">
                        <div class="ddown ddown--user">
                            <div class=" ddown__init ddown__init--clean">
                                <div class="avatar avatar--xs   mdl-js-button mdl-js-ripple-effect">
                                    <img src="img/avatars/avatar_sample_4.png" alt="Avatar">
                                </div>
                                <div class="ddown__content">
                                    <ul class="ddown__menu">
                                        <li class="ddown__header">
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <div class="flex-block">
                                                    <div class="avatar avatar--lg">
                                                        <img src="img/brand/brand-rsstudio--lg.png" alt="RS Studio">
                                                    </div>
                                                    <div class="flex-block__content">
                                                        <span class="flex-block__title">Paweł Bis</span>
                                                        <span class="flex-block__desc">paul@rsstudio.net</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-file-plus"></i> View Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-email"></i> Something Else
                                            </a>
                                        </li>
                                        <li class="ddown__footer">
                                            <a class="mdl-js-button mdl-js-ripple-effect">
                                                <i class="zmdi zmdi-sign-in"></i> Sign Out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>
    <div class="mobile-ddowns">
        <div class="mobile-ddowns__sgl ddown--logged">
            <div class="mobile-ddowns__desc">
                <div class="mobile-ddowns__label">Logged As:</div>
                <div class="mobile-ddowns__text">Paweł Bis</div>
            </div>
            <div class="mobile-ddowns__icon"><i class="zmdi zmdi-caret-down"></i></div>
            <ul class="mobile-ddowns__menu mobile-ddowns__menu--user">
                <li class="mobile-ddowns__menu-header">
                    <a>
                        <div class="flex-block">
                            <div class="avatar avatar--xs"><img src="img/brand/brand-inbs.png"
                                                                alt="Logged In User Avatar"></div>
                            <div class="flex-block__content"><span
                                        class="flex-block__title">Paweł Bis</span><span
                                        class="flex-block__desc">RS Studio</span></div>
                            <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                        </div>
                    </a>
                </li>
                <li><a><span>View Profile</span></a></li>
                <li><a><span>Upgrade Plan</span></a></li>
                <li><a><span>Account Billing Aight</span></a></li>
                <li><a><span>Logout</span></a></li>
            </ul>
        </div>
        <div class="ddown--brand mobile-ddowns__sgl">
            <div class="mobile-ddowns__desc">
                <div class="mobile-ddowns__label">Brands:</div>
                <div class="mobile-ddowns__text">INBS.software</div>
            </div>
            <div class="mobile-ddowns__icon"><i class="zmdi zmdi-caret-down"></i></div>
            <ul class="mobile-ddowns__menu mobile-ddowns__menu--brand">
                <li class="mdl-js-button mdl-js-ripple-effect is-selected">
                    <a>
                        <div class="flex-block">
                            <div class="avatar avatar--xs"><img src="img/brand/brand-inbs.png"
                                                                alt="item.avatarAlt"></div>
                            <div class="flex-block__content"><span
                                        class="flex-block__title">INBS.software</span></div>
                            <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                        </div>
                    </a>
                </li>
                <li class="mdl-js-button mdl-js-ripple-effect">
                    <a>
                        <div class="flex-block">
                            <div class="avatar avatar--xs"><img src="img/brand/brand-rsstudio.png"
                                                                alt="item.avatarAlt"></div>
                            <div class="flex-block__content"><span
                                        class="flex-block__title">RS Studio</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="mdl-js-button mdl-js-ripple-effect mobile-ddowns-new">
                    <a>
                        <div class="flex-block">
                            <div class="avatar avatar--xs"><i class="zmdi zmdi-plus-circle-o"></i></div>
                            <div class="flex-block__content"><span
                                        class="flex-block__title">Add Brands</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
