<section class="main-head main-head--ca">
    <div class="burgericon">
        <a class="">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </a>
    </div>
    <ul class="breadcrumbs">
        <li>
            <a>
                <%= breadData %>
            </a>
        </li>
    </ul>
    <div class="notification-block"></div>
    <div class="ddown ddown--new-service">

        <div class="ddown__init ddown__init--white btn btn--md btn--brand mdl-js-button mdl-js-ripple-effect" data-truncate-mobile-portrait="7">
            Add New Service
        </div>
        <div class="ddown__content">
            <ul class="ddown__menu">
                <li><a class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple"><i
                                class="zmdi zmdi-account-add"></i><span>Add New Client</span><span
                                class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a></li>
                <li><a class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple"><i
                                class="zmdi zmdi-mail-send"></i><span>Add New Raport</span><span
                                class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a></li>
                <li><a class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple"><i
                                class="zmdi zmdi-square-right"></i><span>Custom Action</span><span
                                class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a></li>

            </ul>
        </div>
    </div>


</section>
