<aside class="main-menu-html main-sidebar main-menu-html--ca" data-menu-on-load="primary">
    <div class="nav-container">
        <nav>
            <div class="menu-scroll">
                <ul class="main-menu main-menu--brand">
                    <li class="has-submenu main-menu__brand" data-index="0" data-name="brand">
                        <a>
                            <div class="main-sidebar__logo"></div>
                        </a>
                        <div class="submenu js-flex-start submenu--system">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i> <span>Brand Menu</span>
                            </a>
                            <section class="section--2col">
                                <div class="submenu__content standard">
                                    <div class="submenu__content-left">
                                        <div class="brand-logo"></div>
                                    </div>
                                    <div class="submenu__content-right"><span class="brand-name">564</span>
                                        <ul class="datarow">
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Plan</span></div>
                                                <div class="datarow__right"><span>Lite</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Payment</span></div>
                                                <div class="datarow__right"><span>Monthly</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Support</span></div>
                                                <div class="datarow__right"><span>3 mo. left</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Registered</span></div>
                                                <div class="datarow__right"><span>2 years ago</span></div>
                                            </li>
                                        </ul>
                                        <ul class="datarow">
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Plan</span></div>
                                                <div class="datarow__right"><span>Lite ($99/mo)</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Payment</span></div>
                                                <div class="datarow__right"><span>Monthly</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Support</span></div>
                                                <div class="datarow__right"><span>3 mo. left</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Registered</span></div>
                                                <div class="datarow__right"><span>2 years ago</span></div>
                                            </li>
                                        </ul>
                                        <ul class="datarow">
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Plan</span></div>
                                                <div class="datarow__right"><span>Lite ($99/mo)</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Payment</span></div>
                                                <div class="datarow__right"><span>Monthly</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Support</span></div>
                                                <div class="datarow__right"><span>3 mo. left</span></div>
                                            </li>
                                            <li class="datarow__sgl">
                                                <div class="datarow__left"><span>Registered</span></div>
                                                <div class="datarow__right"><span>2 years ago</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="submenu__content hidden simple">
                                    <ul class="data-list">
                                        <li data-name="clients_list">
                                            <a href="#"><span>Plan</span></a>
                                            <span class="badge badge--md badge--grey">12</span>
                                        </li>
                                        <li data-name="clients_list">
                                            <a href="#"><span>Payment</span></a>
                                            <span class="badge badge--md badge--grey">15</span>
                                        </li>
                                        <li data-name="clients_list">
                                            <a href="#"><span>Support</span></a>
                                            <span class="badge badge--md badge--grey">3 mo.</span>
                                        </li>
                                        <li data-name="clients_list">
                                            <a href="#"><span>Registered</span></a>
                                            <span class="badge badge--md badge--grey">2y</span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
                <ul class="main-menu main-menu--primary">
                    <li data-index="0" data-name="dashboard" style="opacity: 1;">
                        <a href="index.html"><i class="zmdi zmdi-view-dashboard"></i> <span
                                    class="text">Dashboard</span></a>
                    </li>
                    <li data-index="1" data-name="pages" class="has-submenu" style="opacity: 1;">
                        <a>
                            <i class="zmdi zmdi-layers"></i>
                            <span class="text">Pages</span>
                        </a>
                        <div class="submenu flex-fs">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i><span>Pages</span></a>
                            <section>
                                <header>
                                    <h3>Upper Menu</h3>
                                </header>
                                <div class="submenu__content">
                                    <ul class="data-list">
                                        <li data-name="clients_list">
                                            <a href="clients_list.html"><span>Clients List</span></a>
                                            <span class="badge badge--md badge--dark">99</span>
                                        </li>
                                        <li data-name="client_details">
                                            <a href="clients_details.html"><span>Client Details</span></a>
                                            <span class="badge badge--md badge--dark">21</span>
                                        </li>
                                        <li data-name="brand_settings">
                                            <a href="brand_settings.html"><span>Brand Settings</span></a>
                                            <span class="badge badge--md badge--dark">59</span>
                                        </li>
                                        <li data-name="email_settings">
                                            <a href="email_settings.html"><span>Email Settings</span></a>
                                            <span class="badge badge--md badge--dark">11</span>
                                        </li>
                                        <li data-name="steps_page">
                                            <a href="steps.html"><span>Steps Page</span></a>
                                            <span class="badge badge--md badge--dark">4</span>
                                        </li>
                                        <li data-name="login_page">
                                            <a href="login_page.html"><span>Login Page</span></a>
                                            <span class="badge badge--md badge--dark">2</span>
                                        </li>
                                        <li data-name="zero_data">
                                            <a href="zero_data.html"><span>Zero Data</span></a>
                                            <span class="badge badge--md badge--dark">52</span>
                                        </li>
                                        <li data-name="error_400">
                                            <a href="error_400.html"><span>Error 400</span></a>
                                            <span class="badge badge--md badge--dark">12</span>
                                        </li>
                                        <li data-name="error_404">
                                            <a href="error_404.html"><span>Error 404</span></a>
                                            <span class="badge badge--md badge--dark">5</span>
                                        </li>
                                        <li data-name="error_500">
                                            <a href="error_500.html"><span>Error 500</span></a>
                                            <span class="badge badge--md badge--dark">1</span>
                                        </li>
                                    </ul>
                                    <div data-menu-item="error_500" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i> <span>Error 500</span>
                                        </div>
                                        <div class="menu-tooltip__content">wabba lubba dub dub!!!!!!!!!!! wabba lubba
                                            dub dub!!!!!!!!!!! wabba lubba dub dub!!!!!!!!!!! wabba lubba dub
                                            dub!!!!!!!!!!!
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li data-index="2" data-name="UI elements" class="has-submenu" style="opacity: 1;">
                        <a><i class="zmdi zmdi-check-all"></i> <span class="text">UI elements</span></a>
                        <div class="submenu flex-fs">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i><span>UI elements</span></a>
                            <section>
                                <header>
                                    <h3>Upper Menu</h3>
                                </header>
                                <div class="submenu__content">
                                    <ul class="data-list">
                                        <li data-name="forms_vertical"><a href="forms.html"><span>Forms Vertical</span></a>
                                        </li>
                                        <li data-name="forms_horizontal"><a
                                                    href="forms_hor.html"><span>Forms Horizontal</span></a></li>
                                        <li data-name="general_settings"><a href="general_settings.html"><span>Addidional UI</span></a>
                                        </li>
                                       
                                    </ul>
                                    <div data-menu-item="general_settings" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i> <span>Addidional UI</span>
                                        </div>
                                        <div class="menu-tooltip__content">wabba lubba dub dub!!!!!!!!!!! wabba lubba
                                            dub dub!!!!!!!!!!! wabba lubba dub dub!!!!!!!!!!! wabba lubba dub
                                            dub!!!!!!!!!!!
                                        </div>
                                    </div>
                                    <div data-menu-item="widgets" class="menu-tooltip">
                                        <div class="menu-tooltip__header"><i class="zmdi zmdi-info-outline"></i> <span>Widgets</span>
                                        </div>
                                        <div class="menu-tooltip__content">Preview of system widgets in different
                                            sizes.
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>

                <div class="client-area">
                    <div class="item-grp-single" data-tooltip-inline="Widget Edit Toggle">
                        <div class="mdl-js-button mdl-js-ripple-effect widget-edit" id="widgets-edit"
                             data-upgraded=",MaterialButton,MaterialRipple">
                            <i class="icon--widgets-edit"></i>
                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
                    </div>
                    <div class="item-grp-single" data-tooltip-inline="Notifications" data-tooltip-my-position="top left"
                         data-tooltip-target-position="bottom right">
                        <span class="badge badge--md badge--green badge--top-right">5</span>
                        <div class="mdl-js-button mdl-js-ripple-effect" id="main-notifications"
                             data-upgraded=",MaterialButton,MaterialRipple">
                            <div class="main-head__alerts"><i class="icon--alert"></i></div>
                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
                    </div>

                    <div class="item-grp-single">
                        <div class="ddown ddown--user">
                            <div class="mdl-js-button mdl-js-ripple-effect ddown__init ddown__init--clean"
                                 data-upgraded=",MaterialButton,MaterialRipple">
                                <div class="avatar avatar--xs">
                                    <img src="img/avatars/avatar_sample_4.png" alt="Avatar">
                                </div>
                            <div class="ddown__content">
                                <ul class="ddown__menu">
                                    <li class="ddown__header">
                                        <a class="mdl-js-button mdl-js-ripple-effect"
                                           data-upgraded=",MaterialButton,MaterialRipple">
                                            <div class="flex-block">
                                                <div class="avatar avatar--lg">
                                                    <img src="img/brand/brand-rsstudio--lg.png" alt="RS Studio">
                                                </div>
                                                <div class="flex-block__content">
                                                    <span class="flex-block__title">Paweł Bis</span>
                                                    <span class="flex-block__desc">paul@rsstudio.net</span>
                                                </div>
                                            </div>
                                        </a></li>
                                    <li>
                                        <a class="mdl-js-button mdl-js-ripple-effect"
                                           data-upgraded=",MaterialButton,MaterialRipple">
                                            <i class="zmdi zmdi-file-plus"></i> View Profile
                                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                                    </li>
                                    <li>
                                        <a class="mdl-js-button mdl-js-ripple-effect"
                                           data-upgraded=",MaterialButton,MaterialRipple">
                                            <i class="zmdi zmdi-email"></i> Something Else
                                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                                    </li>
                                    <li class="ddown__footer">
                                        <a class="mdl-js-button mdl-js-ripple-effect"
                                           data-upgraded=",MaterialButton,MaterialRipple">
                                            <i class="zmdi zmdi-sign-in"></i> Sign Out
                                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-trigger" style="left: 531.781px;">
                <div class="more-trigger__inner">
                    <div class="main-close">
                        <i class="zmdi zmdi-more"></i>
                        <span class="text"></span>
                    </div>
                    <div class="alt-close">
                        <div class="close close--one"></div>
                        <div class="close close--two"></div>
                    </div>
                </div>
            </div>
            <div class="mobile-ddowns">
                <div class="mobile-ddowns__sgl ddown--logged">
                    <div class="mobile-ddowns__desc">
                        <div class="mobile-ddowns__label">Logged As:</div>
                        <div class="mobile-ddowns__text">Paweł Bis</div>
                    </div>
                    <div class="mobile-ddowns__icon"><i class="zmdi zmdi-caret-down"></i></div>
                    <ul class="mobile-ddowns__menu mobile-ddowns__menu--user">
                        <li class="mobile-ddowns__menu-header">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><img src="img/brand/brand-inbs.png"
                                                                        alt="Logged In User Avatar"></div>
                                    <div class="flex-block__content"><span
                                                class="flex-block__title">Paweł Bis</span><span
                                                class="flex-block__desc">RS Studio</span></div>
                                    <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                                </div>
                            </a>
                        </li>
                        <li><a><span>View Profile</span></a></li>
                        <li><a><span>Upgrade Plan</span></a></li>
                        <li><a><span>Account Billing Aight</span></a></li>
                        <li><a><span>Logout</span></a></li>
                    </ul>
                </div>
                <div class="ddown--brand mobile-ddowns__sgl">
                    <div class="mobile-ddowns__desc">
                        <div class="mobile-ddowns__label">Brands:</div>
                        <div class="mobile-ddowns__text">INBS.software</div>
                    </div>
                    <div class="mobile-ddowns__icon"><i class="zmdi zmdi-caret-down"></i></div>
                    <ul class="mobile-ddowns__menu mobile-ddowns__menu--brand">
                        <li class="mdl-js-button mdl-js-ripple-effect is-selected"
                            data-upgraded=",MaterialButton,MaterialRipple">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><img src="img/brand/brand-inbs.png"
                                                                        alt="item.avatarAlt"></div>
                                    <div class="flex-block__content"><span
                                                class="flex-block__title">INBS.software</span></div>
                                    <div class="flex-block__badge"><i class="zmdi zmdi-check"></i></div>
                                </div>
                            </a><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                        </li>
                        <li class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><img src="img/brand/brand-rsstudio.png"
                                                                        alt="item.avatarAlt"></div>
                                    <div class="flex-block__content"><span class="flex-block__title">RS Studio</span>
                                    </div>
                                </div>
                            </a><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                        </li>
                        <li class="mdl-js-button mdl-js-ripple-effect mobile-ddowns-new"
                            data-upgraded=",MaterialButton,MaterialRipple">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs"><i class="zmdi zmdi-plus-circle-o"></i></div>
                                    <div class="flex-block__content"><span class="flex-block__title">Add Brands</span>
                                    </div>
                                </div>
                            </a><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</aside>
