select
{
    opacity: 0;
}

select + .select2
{
    opacity: 1;
}

.mdl-tabs__panel:not(.is-active)
{
    display: none;
}

.billevo-table
{
    transition: 1400ms;

    opacity: 1;
}

.billevo-table:not(.dataTable)
{
    opacity: 0;
}

.timeline
{
    overflow: auto;

    min-height: auto;
    margin-bottom: 10px !important;
}

.card--tabs-joined .timeline
{
    overflow: auto;

    min-height: auto;
    margin-bottom: 10px;
}
