/*------------------------------------*\
    -- APP COLORS
\*------------------------------------*/

//THEME:
@primary-bg: #27ae60;
@primary-bg: #02A8F3; //blue
@secondary-bg: #30343d;
@tetriary-bg: #fff9c4; //yellow
@primary-c:#5c6066;
@color-inactive:#a1a7b3;
@fff:#fff;
@background: #ecedf0;
@primary-grey: #a1a8b2;


//PRIMARY BACKGROUNDCOLOR MODS
@primary-bg-lighten43: lighten(@primary-bg, 43%);
@primary-bg-darken43: darken(@primary-bg, 43%);
@primary-bg-lighten10: lighten(@primary-bg, 10%);
@primary-bg-darken10: darken(@primary-bg, 10%);
@primary-bg-lighten6: lighten(@primary-bg, 6%);
@primary-bg-darken6: darken(@primary-bg, 6%);
@primary-bg-lighten5: lighten(@primary-bg, 5%);
@primary-bg-darken5: darken(@primary-bg, 5%);
@primary-bg-lighten4: lighten(@primary-bg, 4%);
@primary-bg-darken4: darken(@primary-bg, 4%);
@primary-bg-lighten3: lighten(@primary-bg, 3%);
@primary-bg-darken3: darken(@primary-bg, 3%);
@primary-bg-lighten2: lighten(@primary-bg, 2%);
@primary-bg-darken2: darken(@primary-bg, 2%);
@primary-bg-lighten1: lighten(@primary-bg, 1%);
@primary-bg-darken1: darken(@primary-bg, 1%);
//SECONDARY BACKGROUND COLOR MODS
@secondary-bg-lighten1: lighten(@secondary-bg, 1%);
@secondary-bg-darken1: darken(@secondary-bg, 1%);
@secondary-bg-lighten2: lighten(@secondary-bg, 2%);
@secondary-bg-darken2: darken(@secondary-bg, 2%);
@secondary-bg-lighten3: lighten(@secondary-bg, 3%);
@secondary-bg-darken3: darken(@secondary-bg, 3%);
@secondary-bg-lighten4: lighten(@secondary-bg, 4%);
@secondary-bg-darken4: darken(@secondary-bg, 4%);
@secondary-bg-lighten5: lighten(@secondary-bg, 5%);
@secondary-bg-darken5: darken(@secondary-bg, 5%);
@secondary-bg-lighten6: lighten(@secondary-bg, 6%);
@secondary-bg-darken6: darken(@secondary-bg, 6%);
@secondary-bg-lighten45: lighten(@secondary-bg, 45%);
@secondary-bg-darken45: darken(@secondary-bg, 45%);
@secondary-bg-lighten72: lighten(@secondary-bg, 72%);
@secondary-bg-darken72: darken(@secondary-bg, 72%);
//PRIMARY COLOR MODS
@primary-c-overlay:overlay(@primary-c, #dfdfdf);
@primary-c-lighten5:lighten(@primary-c, 5%);
@primary-c-lighten10:lighten(@primary-c, 10%);
@primary-c-lighten70:lighten(@primary-c, 70%);
@primary-c-darken50:darken(@primary-c, 50%);
//WHITES AND GREYS
@fff-darken6:darken(@fff, 6%);
//LINKS
@link-color: #0091ea;
@color-disabled: #b8c3cc;
//STATES
@color-up: #27ae60;
@color-down: #f44336;
@color-alert: #f44336;
@color-success: #27ae60;
@color-error: #f44336;
@color-warning: #ffa726;
@color-info: #0292ea;
@color-confirm: #0292ea;

//
// COMPONENTS
//

//btn-link
@btn-primary-color: @primary-bg;
//btn--brand
@btn--brand: @primary-bg-lighten3;
//timeline
@timeline-entry-ok: @primary-bg;
//chart header
@chart-header:exclusion(@secondary-bg, #232323);
//input border
@input-border:#b8c0cc;



// GRAVEYARD 

// @white: #f3f3f3;
// @green: #30ba6a;
// @green: #34af63;
//@green:#27ae60;
// @secondary-bg-lighten45-2:#8a8f99;
// @light: #f0f1f5;
// @grey2:#edeff2;
// @section-bg: #e9edf0;
// @dark: @secondary-bg-lighten5;
// @blue: #0091ea;
// @green:red;
// @green-2: #26ad5e;
// @secondary-bg-lighten45:#a1a7b2;
// #fff-darken6: #edeff2;
// @submenu-background-color: #3b424f;
// @primary-bg: #27ae60;
// @grey: #dadde0;
// @secondary-bg-lighten5: #39424c;
// @green-light:#29B6F6;
// @green-accent: @green-light;
//MAIN APP COLOR:
// @bodybg: #ebeff2;
// @green:#27ae60;
// @green:red;
// @green-2:@primary-bg;
//tmp
// @green-light:#2fbd6a;
// @green-light:#2bb565;
// @green-light:@primary-bg;

// @color-up: @primary-bg;
// @primary-bg: @primary-bg;
// @primary: @primary-bg;
// @fff:@green-light;
// @btn--brand: @primary-bg;
//badge
// @green-accent: #30343d;
// @green-accent: #38c975;
// @green-dark: darken(@primary-bg, 10%);
//blue theme - antares
// @green:#03A9F4;
// @green-dark:#039BE5;
// btn-brand
// @tetriary-bg:#fff9c4;
// @secondary-bg-lighten72: #ebeff2;
// @grey: #a1a7b2;
// @card-news-header-color: #306a28;
// @color-success: #5ec250;
// @color-warning: #f9a825;
// @c-status--info: #42a5f5;
// @txt-color: #5c6066;
// @text-color: @txt-color;
