/*------------------------------------*\
    -- GLOBAL VARIABLES
\*------------------------------------*/

//main header

@gutter: 12px;
//main header | end
//data-row 
@data-row-height: 35px;
@distance: -15px;
//data-row | END
//framework
//default for all
@transition: 300ms;
@button-transition: 300ms;
//framework | END
//card
@card-header-height: 52px;
@card-chart-header-height: 64px;
//body
//gfx options
@avatar-filter: saturate(140%);
@scrollbox-scrollmargin: 5px;
//app sizes
@unit: 24px;
@unit1: 8px;
@unit2: 16px;
@unit3: 24px;
@unit4: 32px;
//BOX SHADOW:
@bs-notifications: 1px 0 20px rgba(0, 0, 0, 0.1);
@bs-selectivity: 0 5px 20px rgba(0, 0, 0, 0.15);
@bs-top-menu: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
@bs-footer: 0 0 20px rgba(0, 0, 0, 0.15);
@bs-brand-menu: 15px 0 20px rgba(0,0,0, .05);
//IMG PATH
@theme-name: 'antares';
//default
// @theme-name: 'default';
@img_path: '../img/theme/@{theme-name}';

@input-fb: 480px;
@label-w: 150px;

@border-light-grey: @input-border-bottom;
@color-dark-grey: @text-color-darkgrey;
@background-white-grey: @background;
@datepicker-width: 100%;
@sidebar-width: 98px;
@sidebar-width-mobile: 265px;
@sidebar-mobile-a-height: 50px;
@sidebar-dropdown-single-height: 70px;
@menu-top-margin: -14px;
@menu-border-color: #252c34;