/*------------------------------------*\
    -- GLOBAL VARIABLES
\*------------------------------------*/

//main header

@gutter: 12px;
//main header | end
//data-row 
@data-row-height: 35px;
@distance: -15px;
//data-row | END
//framework
//default for all
@transition: 300ms;
@button-transition: 300ms;
//framework | END
//card
@card-header-height: 52px;
//body
//gfx options
@avatar-filter: saturate(140%);
@scrollbox-scrollmargin: 5px;
//app sizes
@unit: 24px;
@unit1: 8px;
@unit2: 16px;
@unit3: 24px;
@unit4: 32px;
//BOX SHADOW:
@bs-notifications: 1px 0 20px rgba(0, 0, 0, 0.1);
@bs-selectivity: 0 5px 20px rgba(0, 0, 0, 0.15);
//IMG PATH
@theme-name: 'antares';
//default
// @theme-name: 'default';
@img_path: '../img/theme/@{theme-name}';
