/*------------------------------------*\
    -- MIXINS
\*------------------------------------*/

.truncate(@width) {
    overflow: hidden;
    max-width: @width;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.avatar-filter {
    &:hover .avatar img {
        filter: @avatar-filter;
    }
}

//distance helperes 
//extras
.m0 {
    margin: 0 !important;
}

.p0 {
    margin: 0 !important;
}

.ml235 {
    margin-left: 235px !important;
}