<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--glow alert--success alert--lg alert--border mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--glow alert--error alert--lg alert--border mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--glow alert--warning alert--lg alert--border mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--glow alert--info alert--lg alert--border mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("lg",  "border"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Lg | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--success alert--md alert--border alert--close mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("md",  "border"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--error alert--md alert--border alert--close mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("md",  "border"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--warning alert--md alert--border alert--close mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("md",  "border"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--info alert--md alert--border alert--close mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("md",  "border", "noicon"), APP.noti.closeButton, {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--success alert--md alert--border alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--error alert--md alert--border alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--warning alert--md alert--border alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--info alert--md alert--border alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("md",  "border", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--success alert--md  mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--error alert--md  mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--warning alert--md  mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--info alert--md mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("md", "bg"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--success alert--md alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--error alert--md alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--warning alert--md alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--info alert--md alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("md", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Md | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--success alert--sm alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--error alert--sm alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--warning alert--sm alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--info alert--sm alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("sm", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Sm | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--success alert--xs alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.successFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-check-circle"></i>
            <span>Success Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--error alert--xs alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.errorFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-circle"></i>
            <span>Error Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--warning alert--xs alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.warningFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-alert-triangle"></i>
            <span>Warning Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="col-mb-24 col-12 col-dt-6">
        <div class="alert alert--bg alert--info alert--xs alert--noicon mb20"
             onclick='noty($.extend( {}, APP.noti.infoFM("xs", "bg", "noIcon"), {text: "Vivamus ante ipsum, mattis ultricies tristique sed, loremus!"}))'>
            <i class="alert__icon zmdi zmdi-info"></i>
            <span>Info Xs | Vivamus ante ipsum, mattis ultricies tristique sed.</span>
            <i class="alert__close zmdi zmdi-close"></i>
        </div>
    </div>
</div>