<div class="form-block">
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--xs btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
                <a class="btn btn--xs btn--default mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
                <a class="btn btn--xs btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
                <a class="btn btn--xs btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--link btn--xs btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
                <a class="btn btn--link btn--xs btn--default mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
                <a class="btn btn--link btn--xs btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
                <a class="btn btn--link btn--xs btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">XS</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--sm btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
                <a class="btn btn--sm btn--default mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
                <a class="btn btn--sm btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
                <a class="btn btn--sm btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--link btn--sm btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
                <a class="btn btn--link btn--sm btn--default mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
                <a class="btn btn--link btn--sm btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
                <a class="btn btn--link btn--sm btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">SM</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
                <a class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
                <a class="btn btn--md btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
                <a class="btn btn--md btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--link btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
                <a class="btn btn--link btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
                <a class="btn btn--link btn--md btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
                <a class="btn btn--link btn--md btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">MD</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--lg btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
                <a class="btn btn--lg btn--default mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
                <a class="btn btn--lg btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
                <a class="btn btn--lg btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--link btn--lg btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
                <a class="btn btn--link btn--lg btn--default mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
                <a class="btn btn--link btn--lg btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
                <a class="btn btn--link btn--lg btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">LG</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--xl btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
                <a class="btn btn--xl btn--default mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
                <a class="btn btn--xl btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
                <a class="btn btn--xl btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--link btn--xl btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
                <a class="btn btn--link btn--xl btn--default mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
                <a class="btn btn--link btn--xl btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
                <a class="btn btn--link btn--xl btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">XL</a>
            </div>
        </div>
    </div>
</div>