<div class="form-block">
    <div class="btns--block">
        <div class="col-group">
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--xs btn--primary btn--icon-left mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service left<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple is-animating"
                                style="width: 246.013px; height: 246.013px; transform: translate(-50%, -50%) translate(89px, 20px);"></span></span></a>
            </div>
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--xs btn--primary btn--icon-right mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service right<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
        </div>
        <div class="col-group mt24">
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--sm btn--primary btn--icon-left mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service left<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--sm btn--primary btn--icon-right mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service right<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
        </div>
        <div class="col-group mt24">
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--md mdl-button btn--primary btn--icon-left"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service left<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--md mdl-button btn--primary btn--icon-right"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service right<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
        </div>
        <div class="col-group mt24">
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--lg btn--primary btn--icon-left mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service left<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--lg btn--primary btn--icon-right mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service right<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
        </div>
        <div class="col-group mt24">
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--xl btn--primary btn--icon-left mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service left<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--xl btn--primary btn--icon-right mdl-button"
                   data-upgraded=",MaterialButton,MaterialRipple">Add service right<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
        </div>
        <div class="col-group mt24">
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--md mdl-button btn--primary btn--icon-left"
                   disabled="disabled"
                   data-upgraded=",MaterialButton,MaterialRipple">Disabled<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
            <div class="col-mb-12">
                <a class="mdl-js-button mdl-js-ripple-effect btn btn--md mdl-button btn--primary btn--icon-right"
                   disabled="disabled"
                   data-upgraded=",MaterialButton,MaterialRipple">Disabled<span
                            class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
            </div>
        </div>
    </div>
</div>