<div class="form-block">
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Primary</a>
                <a class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">Default</a>
                <a class="btn btn--md btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">Dark</a>
                <a class="btn btn--md btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">Orange</a>
                <a class="btn btn--md btn--indigo mdl-button mdl-js-button mdl-js-ripple-effect">Indigo</a>
                <a class="btn btn--md btn--blue mdl-button mdl-js-button mdl-js-ripple-effect">Blue</a>
                <a class="btn btn--md btn--red mdl-button mdl-js-button mdl-js-ripple-effect">Red</a>
                <a class="btn btn--md btn--green mdl-button mdl-js-button mdl-js-ripple-effect">Green</a>
                <a class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                   disabled>Disabled</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-24">
            <div class="btns--block">
                <a class="btn btn--link btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Primary</a>
                <a class="btn btn--link btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">Default</a>
                <a class="btn btn--link btn--md btn--dark mdl-button mdl-js-button mdl-js-ripple-effect">Dark</a>
                <a class="btn btn--link btn--md btn--orange mdl-button mdl-js-button mdl-js-ripple-effect">Orange</a>
                <a class="btn btn--link btn--md btn--indigo mdl-button mdl-js-button mdl-js-ripple-effect">Indigo</a>
                <a class="btn btn--link btn--md btn--blue mdl-button mdl-js-button mdl-js-ripple-effect">Blue</a>
                <a class="btn btn--link btn--md btn--red mdl-button mdl-js-button mdl-js-ripple-effect">Red</a>
                <a class="btn btn--link btn--md btn--green mdl-button mdl-js-button mdl-js-ripple-effect">Green</a>
                <a class="btn btn--link btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                   disabled>Disabled</a>
            </div>
        </div>
    </div>
</div>