<div class="form-block">
    <div class="col-group">
        <div class="col-mb-24">
            <div class="radio-btns">
                <label data-type="radio-btn">
                    <input type="radio" name="composition" value="radio1" checked="checked">
                    <span  class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                        Radio btn One
                   </span>
                </label>
                <label data-type="radio-btn">
                    <input type="radio" name="composition" value="radio2">
                    <span class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                       Radio btn Two
                   </span>
                </label>
                <label data-type="radio-btn">
                    <input type="radio" name="composition" value="radio3">
                    <span  class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                        Radio btn Three
                    </span>
                </label>
                <label data-type="radio-btn">
                    <input type="radio" name="composition" value="radio4">
                    <span  class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                        Radio btn Four
                    </span>
                </label>

            </div>
        </div>
    </div>
</div>