<div class="inline-forms">
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Checkboxes</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-default checkboxs">
                    <label>
                        <input type="checkbox" data-icheck="true"
                               name="check[1]"
                               id="check[1]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type
                    error</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-error checkboxs">
                    <label>
                        <input type="checkbox" data-icheck="true"
                               name="check[4]"
                               id="check[4]" checked>
                        <span class="mr8">Selected</span>
                    </label>

                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type
                    warning</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-warning checkboxs">
                    <label>
                        <input type="checkbox" data-icheck="true"
                               name="check[5]"
                               id="check[5]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type
                    success</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-success checkboxs">
                    <label>
                        <input type="checkbox" data-icheck="true"
                               name="check[6]"
                               id="check[6]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type disabled</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-default checkboxs">
                    <label>
                        <input type="checkbox" disabled="disabled"
                               data-icheck="true"
                               name="check[2]"
                               id="check[2]">
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
