<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input with button right</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group mb16">
                <input class="size--small" type="text"
                       placeholder="Input Small (32px height)" name="with-button"
                       required>
                <a class="btn btn--s-small btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    XS</a>
            </div>
            <div class="input-field input-field--group mb16">
                <input class="size--default" type="text"
                       placeholder="Input Default (36px height)" name="with-button"
                       required>
                <a class="btn btn--primary btn--s-default mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    SM</a>
            </div>
            <div class="input-field input-field--group mb16">
                <input class="size--medium" type="text"
                       placeholder="Input Medium (40px height)" name="with-button"
                       required>
                <a class="btn btn--s-medium btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    MD</a>
            </div>
            <div class="input-field input-field--group mb16">
                <input class="size--large" type="text"
                       placeholder="Input Large (46px height)" name="with-button"
                       required>
                <a class="btn btn--s-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    LG</a>
            </div>
            <div class="input-field input-field--group mb16">
                <input class="size--extra-large" type="text"
                       placeholder="Input Extra Large (52px height)"
                       name="with-button" required>
                <a class="btn btn--s-extra-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    XL</a>
            </div>
            <div class="input-field input-field--group mb16">
                <input class="size--medium" type="text"
                       placeholder="Input Default (40px height)"
                       name="with-button" disabled required>
                <a class="btn btn--s-medium btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                   disabled="disabled">Disabled</a>
            </div>
        </div>
    </div>
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input with button left</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-btn--left mb16">
                <input class="size--small" type="text"
                       placeholder="Input Small (32px height)" name="with-button"
                       required>
                <a class="btn btn--s-small btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    XS</a>
            </div>
            <div class="input-field input-field--group input-btn--left mb16">
                <input class="size--default" type="text"
                       placeholder="Input Default (36px height)" name="with-button"
                       required>
                <a class="btn btn--primary btn--s-default mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    SM</a>
            </div>
            <div class="input-field input-field--group input-btn--left mb16">
                <input class="size--medium" type="text"
                       placeholder="Input Medium (40px height)" name="with-button"
                       required>
                <a class="btn btn--s-medium btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    MD</a>
            </div>
            <div class="input-field input-field--group input-btn--left mb16">
                <input class="size--large" type="text"
                       placeholder="Input Large (46px height)" name="with-button"
                       required>
                <a class="btn btn--s-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    LG</a>
            </div>
            <div class="input-field input-field--group input-btn--left mb16">
                <input class="size--extra-large" type="text"
                       placeholder="Input Extra Large (52px height)"
                       name="with-button" required>
                <a class="btn btn--s-extra-large btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">Button
                    XL</a>
            </div>
            <div class="input-field input-field--group input-btn--left mb16">
                <input class="size--medium" type="text"
                       placeholder="Input Default (40px height)"
                       name="with-button" disabled required>
                <a class="btn btn--s-medium btn--primary mdl-button mdl-js-button mdl-js-ripple-effect"
                   disabled="disabled">Disabled</a>
            </div>
        </div>
    </div>
</div>
