<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">File upload</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <label class="file-upload" for="input-upload">
                    <a class="btn btn--md btn--primary mdl-button mdl-button mdl-js-button mdl-js-ripple-effect mr16">Select
                        Files</a>
                    <input type="text" placeholder="File path"
                           class="disabled file-path" disabled>
                    <input type="file" name="input-upload" id="input-upload"
                           class="input-upload" required>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">File upload Drag&amp;Drop</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <div class="dropzone dropzone-form">
                    <div class="dz-message" data-dz-message>
                        <div class="dz-m__current">
                            <img src="img/theme/antares/logo/logo_tear.svg" alt="">
                        </div>
                        <div class="dz-m__header">
                            <i class="zmdi zmdi-wallpaper"></i>
                        </div>
                        <div class="dz-m__content">
                            <span>Drag &amp; drop,</span>
                            <span>or click to upload</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>