<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">MD Input</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text"
                           name="sample-valmd1" id="sample3">
                    <label class="mdl-textfield__label"
                           for="sample3">Placeholder...</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type Error</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-error">
                <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text"
                           name="sample-valmd1" id="sample3">
                    <label class="mdl-textfield__label"
                           for="sample3">Placeholder...</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type Warning</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-warning">
                <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text"
                           name="sample-valmd1" id="sample3">
                    <label class="mdl-textfield__label"
                           for="sample3">Placeholder...</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type Success</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-success ">
                <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text"
                           name="sample-valmd1" id="sample3">
                    <label class="mdl-textfield__label"
                           for="sample3">Placeholder...</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text"
                           name="sample-valmd1" disabled="disabled" id="sample3">
                    <label class="mdl-textfield__label"
                           for="sample3">Placeholder...</label>
                </div>
            </div>
        </div>
    </div>
</div>