<div class="form-block">
    <div class="col-group col-group--flex-start">
        <div class="col-mb-8 col-6">
            <label class="form-block__name as-flex-start">Control element with
                descirpiton</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="col-group">
                <div class="input-field input-field--desc">
                    <div class="col-mb-24 col-24">
                        <div class="input-field__inner">
                            <input type="text" placeholder="Placeholder" class="">
                        </div>
                    </div>
                    <div class="col-mb-24 col-24">
                        <div class="input-field__desc">*Cras in dolor dolor. Nullam
                            ultricies
                            turpis nisl. Donec ut diam
                            consectetur, bibendum nunc
                            vel, auctor metus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name as-flex-start">Control element with
                right descirpiton</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--desc-right ">
                <div class="input-field__inner">
                    <input type="text" placeholder="Placeholder">
                </div>
                <div class="input-field__desc">Cras in dolor dolor. Nullam ultricies
                    turpis nisl. Donec ut diam consectetur,
                    bibendum nunc vel, auctor metus.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">

    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input-group</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-field--pre">
                <!-- <i class="zmdi zmdi-close"></i> -->
                <div class="input-field__pre"><span>siemanko.</span></div>
                <input type="text" name="text1" placeholder="Placeholder" required>
            </div>
        </div>
    </div>
</div>
<div class="form-block">

    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input group</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-field--suff">
                <input type="text" name="text2" placeholder="Placeholder" required>
                <div class="input-field__suff"><span>.rsstudio.net</span></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">

    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input group</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-field--suff input-field--pre">
                <div class="input-field__pre"><span>siemanko.</span></div>
                <input type="text" name="text3" placeholder="Placeholder" required>
                <div class="input-field__suff"><span>@rsstudio.net</span></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input group with button</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-field--btn">
                <input type="text" name="text4" placeholder="Placeholder" required>
                <a class="btn btn--md btn--primary mdl-button mdl-jsb mdl-re btn--input">Search</a>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Input group with button disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-field--btn">
                <input type="text" name="text4" placeholder="Placeholder" required>
                <a class="btn btn--md btn--primary mdl-button mdl-jsb mdl-re btn--input"
                   disabled="disabled">Search</a>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Control Short</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group input-field--short">
                <input type="text" name="text5" placeholder="" required>
            </div>
        </div>
    </div>
</div>