<div class="inline-forms">
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Buttons</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="radio-btns">
                    <label data-type="radio-btn">
                        <input type="radio" name="toggle"><span
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn">
                        <input type="radio" name="toggle"><span
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn">
                        <input type="radio" name="toggle"><span
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn">
                        <input type="radio" name="toggle"><span
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn" class="radio-btn--disabled">
                        <input type="radio" name="toggle" disabled><span
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Buttons with Background
                    Image</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="radio-btns radio-btns--big">
                    <label data-type="radio-btn" class="radio-btns--xs">
                        <input type="radio" name="toggle"><span
                                data-bg="img/tmp/client-value-tmp.png"
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn" class="radio-btns--sm">
                        <input type="radio" name="toggle"><span
                                data-bg="img/tmp/client-value-tmp.png"
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn" class="radio-btns--md">
                        <input type="radio" name="toggle"><span
                                data-bg="img/tmp/client-value-tmp.png"
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                    <label data-type="radio-btn"
                           class="radio-btns--lg radio-btn--disabled">
                        <input type="radio" name="toggle" disabled><span
                                data-bg="img/tmp/client-value-tmp.png"
                                class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect">$20</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Radio buttons</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-default radiobtns">
                    <label>
                        <input data-icheck="true" type="radio"
                               name="radio[1]"
                               id="radio[1]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type error</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-error radiobtns">
                    <label>
                        <input data-icheck="true" type="radio"
                               name="radio[3]"
                               id="radio[3]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type warning</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-warning radiobtns">
                    <label>
                        <input data-icheck="true" type="radio"
                               name="radio[4]"
                               id="radio[4]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type success</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-success radiobtns">
                    <label>
                        <input data-icheck="true" type="radio"
                               name="radio[5]"
                               id="radio[5]" checked>
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type buttons
                    disabled</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-default radiobtns">
                    <label>
                        <input data-icheck="true" disabled="disabled"
                               type="radio"
                               name="radio[2]"
                               id="radio[2]">
                        <span class="mr8">Selected</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
