<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Slidder</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <div id="slider1" data-slider="true"></div>
            </div>
        </div>
    </div>
</div>

<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type error</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-error">
                <div id="slider1" data-slider="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type warning</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-warning">
                <div id="slider1" data-slider="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type success</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-success">
                <div id="slider1" data-slider="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type--disabled">
                <div id="slider1" data-slider="true" disabled="disabled"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Slidder range</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <div id="slider2" data-slider-range="true"></div>
            </div>
        </div>
    </div>
</div>

<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type range error</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-error">
                <div id="slider2" data-slider-range="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type range warning</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-warning">
                <div id="slider2" data-slider-range="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type range successs</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-success">
                <div id="slider2" data-slider-range="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-block" style="width:100%;">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type range disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type--disabled">
                <div id="slider2" data-slider-range="true"></div>
            </div>
        </div>
    </div>
</div>