<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Spinner</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <div class="spinner-basic">
                    <input class="filter-spinner filter-spinner-mode-min filter-spinner--min"
                           value="12" type="number" pattern="[0-9]*" name="value"
                           data-spinner="true">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type error</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field  type-error">
                <div class="spinner-basic">
                    <input class="filter-spinner filter-spinner-mode-min filter-spinner--min"
                           value="12345" type="number" pattern="[0-9]*" name="value"
                           data-spinner="true">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type warning</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field  type-warning">
                <div class="spinner-basic">
                    <input class="filter-spinner filter-spinner-mode-min filter-spinner--min"
                           value="1234567" type="number" pattern="[0-9]*"
                           name="value" data-spinner="true">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type success</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field  type-success">
                <div class="spinner-basic">
                    <input class="filter-spinner filter-spinner-mode-min filter-spinner--min"
                           value="123456789" type="number" pattern="[0-9]*"
                           name="value" data-spinner="true">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type--disabled">
                <div class="spinner-basic">
                    <input class="filter-spinner filter-spinner-mode-min filter-spinner--min ui-spinner-disabled ui-state-disabled"
                           value="12" type="number" pattern="[0-9]*" name="value"
                           disabled="disabled" data-spinner="true">
                </div>
            </div>
        </div>
    </div>
</div>