<div class="inline-forms">
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Switches</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field switchbox">
                    <label class="switch">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-icon">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-clean">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-icon">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-clean">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type error</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-error switchbox">
                    <label class="switch">
                        <input class="switch-checkbox" type="checkbox"
                               checked=""
                        >
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-icon">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-clean">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-icon">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-clean">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type
                    warning</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-warning switchbox">
                    <label class="switch">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-icon">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-clean">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-icon">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-clean">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type
                    success</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field type-success switchbox">
                    <label class="switch">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-icon">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-clean">
                        <input class="switch-checkbox" type="checkbox">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-icon">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-clean">
                        <input class="switch-checkbox" type="checkbox"
                               checked="">
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-block">
        <div class="col-group">
            <div class="col-mb-8 col-6">
                <label class="form-block__name">Type disabled</label>
            </div>
            <div class="col-mb-16 col-18">
                <div class="input-field switchbox">
                    <label class="switch">
                        <input class="switch-checkbox" type="checkbox"
                               checked="" disabled>
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-icon">
                        <input class="switch-checkbox" type="checkbox"
                               disabled>
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--off-clean">
                        <input class="switch-checkbox" type="checkbox"
                               disabled>
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-icon">
                        <input class="switch-checkbox" type="checkbox"
                               checked="" disabled>
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                    <label class="switch switch--on-clean">
                        <input class="switch-checkbox" type="checkbox"
                               checked="" disabled>
                        <span class="switch-container"><span
                                    class="switch-handle"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>