<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select2 System Language</label>
        </div>
        <div class="col-mb-16 col-18">
            <select name="select" data-selectAR="true">
                <option value="1231" selected>United States of America -
                    English
                </option>
                <option value="412414">Option two...</option>
                <option value="123123">Option three...</option>
                <option value="1231231">Option 4</option>
            </select>
        </div>
    </div>
</div>
<!--Single | Select | Icon -->
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select2 Tags</label>
        </div>
        <div class="col-mb-16 col-18">
            <select name="select231" data-selectAR="true" multiple="multiple">
                <option value="1231" selected>United States of America -
                    English
                </option>
                <option value="412414">Option two...</option>
                <option value="123123">Option three...</option>
                <option value="1231231">Option 4</option>
            </select>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select2 With Icon</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
                <span class="input-field__icon"><i class="zmdi zmdi-hd"></i></span>
                <select name="select" data-selectAR="true">
                    <option value="1231" selected>United States of America -
                        English
                    </option>
                    <option value="412414">Option two...</option>
                    <option value="123123">Option three...</option>
                    <option value="1231231">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Time Zone</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
            <span class="input-field__icon"><i
                        class="zmdi zmdi-time"></i></span>
                <select name="select" data-selectAR="true">
                    <option value="124124" selected>(GMT) Greenwich Mean
                        Time : Dublin, Edinburgh, Lisbon, London
                    </option>
                    <option value="we123132ek">Option two...</option>
                    <option value="123123r1">Option three...</option>
                    <option value="qwq2414">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!--Single | Select | Time Zone -->
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select2 With Flag</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
                <span class="input-field__icon"><span
                            class="flag-icon"></span></span>
                <select name="select" data-flag-select data-selectAR="true">
                    <option data-country="pl" value="124124" selected><span
                                class="flag-icon flag-icon-pl"></span> (GMT)
                        Greenwich Mean Time : Dublin, Edinburgh, Lisbon,
                        London
                    </option>
                    <option data-country="us" value="aSDafd">Option two...
                    </option>
                    <option data-country="fr" value="fa34wf4e3">Option
                        three...
                    </option>
                    <option data-country="nl" value="asdasdas">Option 4
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select2 With OptGroup</label>
        </div>
        <div class="col-mb-16 col-18">
            <select name="select" data-selectAR="true">
                <optgroup label="Swedish Cars">
                    <option data-country="pl" value="124124" selected>(GMT)
                        Greenwich Mean Time : Dublin, Edinburgh, Lisbon,
                        London
                    </option>
                    <option data-country="us" value="aSDafd">Option two...
                    </option>
                    <option data-country="fr" value="fa34wf4e3">Option
                        three...
                    </option>
                    <option data-country="nl" value="asdasdas">Option 4
                    </option>
                </optgroup>
                <optgroup label="Other Cars">
                    <option data-country="pl" value="124124" selected>(GMT)
                        Greenwich Mean Time : Dublin, Edinburgh, Lisbon,
                        London
                    </option>
                    <option data-country="us" value="aSDafd">Option two...
                    </option>
                    <option data-country="fr" value="fa34wf4e3">Option
                        three...
                    </option>
                    <option data-country="nl" value="asdasdas">Option 4
                    </option>
                </optgroup>
            </select>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select2 With OptGroup &amp;
                Flag</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
                <span class="input-field__icon"><span
                            class="flag-icon"></span></span>
                <select name="select" data-flag-select data-selectAR="true">
                    <optgroup label="Swedish Cars">
                        <option data-country="pl" value="124124" selected>
                            (GMT) Greenwich Mean Time : Dublin, Edinburgh,
                            Lisbon, London
                        </option>
                        <option data-country="us" value="aSDafd">Option
                            two...
                        </option>
                        <option data-country="fr" value="fa34wf4e3">Option
                            three...
                        </option>
                        <option data-country="nl" value="asdasdas">Option
                            4
                        </option>
                    </optgroup>
                    <optgroup label="Other Cars">
                        <option data-country="pl" value="124124" selected>
                            (GMT) Greenwich Mean Time : Dublin, Edinburgh,
                            Lisbon, London
                        </option>
                        <option data-country="us" value="aSDafd">Option
                            two...
                        </option>
                        <option data-country="fr" value="fa34wf4e3">Option
                            three...
                        </option>
                        <option data-country="nl" value="asdasdas">Option
                            4
                        </option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-block">

    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select Material Design</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
                    <span class="input-field__icon"><i
                                class="zmdi zmdi-hd"></i></span>
                <select name="select12asdasd4" data-selectAR--mdl="true"
                        data-placeholder="Select an option" required>
                    <option value=""></option>
                    <option value="United States of America - English">United
                        States of America - English
                    </option>
                    <option value="Option two...">Option two...</option>
                    <option value="Option three...">Option three...</option>
                    <option value="Option 4">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">

    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select with search</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
        <span class="input-field__icon"><i
                    class="zmdi zmdi-hd"></i></span>
                <select data-selectAR--search="true"
                        name="sel21ec1231231231t12sadadas4"
                        data-placeholder="Select an option" required>
                    <option value=""></option>
                    <option value="United States of America - English">United
                        States of America - English
                    </option>
                    <option value="Option two...">Option two...</option>
                    <option value="Option three...">Option three...</option>
                    <option value="Option 4">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>


<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type Error</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-error">
                <select name="select" data-selectAR="true">
                    <option value="1231" selected>United States of America -
                        English
                    </option>
                    <option value="412414">Option two...</option>
                    <option value="123123">Option three...</option>
                    <option value="1231231">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type Warning</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-warning">
                <select name="select" data-selectAR="true">
                    <option value="1231" selected>United States of America -
                        English
                    </option>
                    <option value="412414">Option two...</option>
                    <option value="123123">Option three...</option>
                    <option value="1231231">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type Success</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-success">
                <select name="select" data-selectAR="true">
                    <option value="1231" selected>United States of America -
                        English
                    </option>
                    <option value="412414">Option two...</option>
                    <option value="123123">Option three...</option>
                    <option value="1231231">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select Date Format</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
            <span class="input-field__icon"><i
                        class="zmdi zmdi-calendar"></i></span>
                <select name="select" data-selectAR="true">
                    <option value="123ddw" selected>10/02/2016</option>
                    <option value="5131">Option two...</option>
                    <option value="34151">Option three...</option>
                    <option value="41221f">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!--Single | Select | Time Zone -->
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Select Date Format (Type Disabled)</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--icon">
                <span class="input-field__icon"><i
                            class="zmdi zmdi-calendar"></i></span>
                <select disabled name="select" data-selectAR="true">
                    <option value="123ddw" selected>10/02/2016</option>
                    <option value="5131">Option two...</option>
                    <option value="34151">Option three...</option>
                    <option value="41221f">Option 4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name"></label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <button type="submit" name="action"
                        class="btn btn--submit btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                    SEND
                </button>
            </div>
        </div>
    </div>
</div>