<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name as-fs">Textarea</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field">
                <textarea class="" name="textarea" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type error</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-error">
                <textarea class="" name="textarea" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type warning</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-warning">
                <textarea class="" name="textarea" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name">Type successs</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type-success">
                <textarea class="" name="textarea" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name as-fs">Type disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field type--disabled">
                                                    <textarea class="" name="textarea" disabled="disabled" cols="30"
                                                              rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name as-fs">Tooltip</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group">
                <div data-tooltip-inline="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                     class="icon material-icons"><i
                            class="zmdi zmdi-help tooltip"></i></div>
                <div class="tooltip-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in
                    dolor dolor. Nullam ultricies turpis nisl. Donec ut diam
                    consectetur, bibendum nunc vel, auctor
                    metus. Ut porttitor hendrerit odio
                    nec tincidunt. Morbi metus turpis,
                    aliquam sit amet viverra id, malesuada
                    non quam. Nam pulvinar tincidunt
                    nunc vel vehicula. Curabitur sit
                    amet orci ex. Phasellus et justo
                    pellentesque, porta felis nec, consequat
                    nisl.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-block">
    <div class="col-group">
        <div class="col-mb-8 col-6">
            <label class="form-block__name as-fs tooltip-ex">Tooltip
                disabled</label>
        </div>
        <div class="col-mb-16 col-18">
            <div class="input-field input-field--group  type--disabled">
                <div data-tooltip-inline=""><i class="zmdi zmdi-help tooltip"></i>
                </div>

            </div>
        </div>
    </div>
</div>